@model Heat_Lead.Models.ManagerViewModels.ManagerAffiliateProfileViewModel



@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<div class="Vert">
    <div class="Date">
       
        <div class="Select-Line">

            <button type="button" class="dateShortcut" data-range="today">Dziś</button>
            <button type="button" class="dateShortcut" data-range="yesterday">Wczoraj</button>
            <button type="button" class="dateShortcut" data-range="this-week">Bieżący tydzień</button>
            <button type="button" class="dateShortcut" data-range="last-week">Poprzedni tydzień</button>
            <button type="button" class="dateShortcut selected" data-range="this-month">Bieżący miesiąc</button>
            

        </div>
        <form method="post" id="dateRangeForm">

            <div class="dateSelect-box">

                <input type="date" class="dateSelect" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" min="2024-01-01" max="2030-12-31" />

            </div>

            <div class="dateSelect-box">

                <input type="date" class="dateSelect" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" min="2024-01-01" max="2030-12-31" />
            </div>

        </form>

    </div>
</div>

<div class="Vert">
    <div class="affiliate-box-head-strech">
        <div class="campaign-box-head-name" style="font-size: 26px; color:#4E4E4E; font-weight:300;">
            Partner @Model.PartnerName @Model.PartnerSurname


        </div>

        <div class="campaign-summary">

            <div class="campaign-summary-line" style="font-size: 14px;">
                <div class="campaign-summary-line-icon">
                    <img src="~/images/Affiliate-b.svg" alt="Panel Icon" width="18" height="18" />
                </div>Kod Partnera: @Model.CodePAR
            </div>
            <div class="campaign-summary-line" style="font-size: 14px;">
                <div class="campaign-summary-line-icon">
                    <img src="~/images/Time-b.svg" alt="Panel Icon" width="18" height="18" />
                </div>Data dołączenia: @Model.JoinDateFormatted
            </div>
            <div class="campaign-summary-line" style="font-size: 14px;">
                <div class="campaign-summary-line-icon">
                    <img src="~/images/Mail-b.svg" alt="Panel Icon" width="18" height="18" />
                </div>E-mail: @Model.Email
            </div>

        </div>

    </div>
    <div class="Statistics-box-earnings-a">
        <div class="Statistics-box-big-data">
            <div class="Statistics-box-data">
                <div class="Statistics-box-data-value" style="color: #4E4E4E;">
                    @Model.InValidationEarnings zł

                </div>
                <div class="Statistics-box-data-name" style="color: #4E4E4E;">Prowizja w walidacji</div>
            </div>
            <div class="Statistics-box-data">
                <div class="Statistics-box-data-value" style="color: #4E4E4E;">

                    @Model.UserWallet.ReadyEarnings zł
                </div>
                <div class="Statistics-box-data-name" style="color: #4E4E4E;">Prowizja do wypłaty</div>
            </div>

            <img src="~/images/Wallet-b.svg" alt="Panel Icon" class="Statistics-box-icon" />
        </div>
        <div class="WalletChart-Box">
            <canvas id="walletChart"></canvas>
        </div>
    </div>
</div>

<div class="Vert">
    <div class="Charts-Bar-a">
        <div class="Select-Line">


            <button type="button" class="agregationShortcut selected" id="showClicksChart">Ruch</button>
            <button type="button" class="agregationShortcut" id="showOrdersChart">Zamówienia</button>
            <button type="button" class="agregationShortcut" id="showSalesChart">Sprzedaż</button>
            <button type="button" class="agregationShortcut" id="showEarningsChart">Prowizja</button>


        </div>
        <div class="Charts-Box-Bar-a">

            <canvas id="clicksChart"></canvas>
            <canvas id="earningsChart" style="display: none;"></canvas>
            <canvas id="ordersChart" style="display: none;"></canvas>
            <canvas id="salesChart" style="display: none;"></canvas>
        </div>
    </div>
    <div class="Charts-Donought-a">

        <div class="Charts-Box-Donought-a">
            <div class="Select-Line">


                <button type="button" class="categoryShortcut selected" id="showcategoryClicksChart">Ruch kategorii</button>
                <button type="button" class="categoryShortcut" id="showcategoryEarningsChart">Sprzedaż kategorii</button>


            </div>
            <canvas id="categoryClicksChart"></canvas>
            <canvas id="categoryEarningsChart" style="display: none;"></canvas>
        </div>
        <div class="Charts-Box-Donought-a-t">
            <table class="table-clicks" id="tableCategoryClicksChart">
                <thead>
                    <tr>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Kliki</th>

                    </tr>
                </thead>
                <tbody id="categoryTableBody">
                    @foreach (var item in Model.CategoryClick)
                    {
                        <tr>
                            <td>@item.CategoryName</td>
                            <td>@item.CategoryClickCount</td>
                        </tr>
                    }
                </tbody>

            </table>
            <table class="table-earnings" id="tableCategoryEarningsChart" style="display: none;">
                <thead>
                    <tr>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Sprzedaż</th>

                    </tr>
                </thead>
                <tbody id="earningsTableBody">
                    @foreach (var item in Model.EarningsData)
                    {
                        <tr>
                            <td>@item.Category</td>
                            <td>@item.Earnings</td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>

</div>


<div class="Vert">

    <div class="Multi-Cover-Statistic-a">
        <div class="Cover-Statistic-a">
            <div class="Statistics-box" style="background: #fff">

                <div class="Statistics-box-data">
                    <div class="Statistics-box-data-value" style="color: #4E4E4E;"
                         id="totalClicks">
                    </div>
                    <div class="Statistics-box-data-name" style="color: #4E4E4E;">Ruch na stronę</div>
                </div>

                <img src="~/images/Click-b.svg" alt="Panel Icon" class="Statistics-box-icon" />
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Stosunek konwersji
                </div>
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;" id="CR">
                </div>
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Średni koszt kliku
                </div>
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;" id="EPC">
                </div>
            </div>

        </div>
        <div class="Cover-Statistic">
            <div class="Statistics-box" style="background: #fff">

                <div class="Statistics-box-data">
                    <div class="Statistics-box-data-value" style="color: #4E4E4E;"
                         id="totalOrders">
                    </div>
                    <div class="Statistics-box-data-name" style="color: #4E4E4E;">Zamówienia</div>


                </div>

                <img src="~/images/Basket-b.svg" alt="Panel Icon" class="Statistics-box-icon" />
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Zaakceptowane
                </div>
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;" id="acceptedOrders">
                </div>
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Anulowane
                </div>
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;" id="canceledOrders">
                </div>
            </div>
        </div>
        <div class="Cover-Statistic">
            <div class="Statistics-box" style="background: #fff">
                <div class="Statistics-box-data">
                    <div class="Statistics-box-data-value" style="color: #4E4E4E;"
                         id="totalSales">
                    </div>
                    <div class="Statistics-box-data-name" style="color: #4E4E4E;">Wartość sprzedaży</div>
                </div>

                <img src="~/images/OrderValue-b.svg" alt="Panel Icon" class="Statistics-box-icon" />
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Zaakceptowana
                </div>
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;" id="acceptedSales">
                </div>
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Anulowana
                </div>
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;" id="canceledSales">
                </div>
            </div>
        </div>
        <div class="Cover-Statistic">
            <div class="Statistics-box" style="background: #fff">
                <div class="Statistics-box-data">
                    <div class="Statistics-box-data-value" style="color: #4E4E4E;"
                         id="totalEarnings">
                    </div>
                    <div class="Statistics-box-data-name" style="color: #4E4E4E;">Prowizja</div>
                </div>

                <img src="~/images/MoneyIn-b.svg" alt="Panel Icon" class="Statistics-box-icon" />
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Zaakceptowana
                </div>
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;" id="acceptedEarnings">
                </div>
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Anulowana
                </div>
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;" id="canceledEarnings">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="Vert">
    <div class="Vert-full">
        <div class="order-upper-box">

            <div class="Order-Container-Title">
                Zamówienia
                <div class="form-check-orders">
                    <div>
                        <input class="form-check-input" input type="checkbox" id="showAccepted"> Zaakceptowane
                    </div>
                    <div>
                        <input class="form-check-input" input type="checkbox" id="showInValidation"> W walidacji
                    </div>

                </div>
            </div>
            <div class="order-search-box">
                <input type="text" id="productSearch" placeholder="Wyszukaj produkt & kategorie">
                <input type="text" id="orderSearch" placeholder="Wyszukaj zamówienie">
            </div>

        </div>
        <div class="Vert-table">
            <table class="table-orders">

                <thead>
                    <tr>
                        <th scope="col">Produkt</th>
                        <th scope="col">Zamówienie </th>
                        <th scope="col" class="sortable" data-sort="amount">
                            Ilość <span class="sort-icon">&#9660;</span>
                        </th>
                        <th scope="col" class="sortable" data-sort="orderValue">
                            Wartość zamówienia <span class="sort-icon">&#9660;</span>
                        </th>
                        <th scope="col" class="sortable" data-sort="earnings">
                            Zarobek <span class="sort-icon">&#9660;</span>
                        </th>

                        <th scope="col" class="sortable" data-sort="date">
                            Data <span class="sort-icon">&#9660;</span>
                        </th>
                        <th scope="col">Status walidacji</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <td><p class="p-product">@item.ProductName</p><p class="p-category">@item.CategoryName</p></td>
                            <td>@item.OrderNumber</td>
                            <td>@item.Amount</td>
                            <td>@item.ProductPrice zł</td>
                            <td>@item.Earnings zł</td>
                            <td>@item.CreationDate.ToString("yyyy-MM-dd HH:mm")</td>
                            <td>
                                <div class="Validation @(item.Accepted ? "Validation-accepted" : (item.IsCancelled ? "Validation-cancelled" : ""))">
                                    @if (item.IsCancelled)
                                    {
                                        <text>Anulowano</text>
                                    }
                                    else
                                    {
                                        <text>@item.ValidationStatus</text>
                                    }
                                </div>
                            </td>

                        </tr>
                    }

                </tbody>

            </table>
        </div>

    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="/js/Manager/affiliateprofile.min.js"></script>
}
