@model PriceSafari.Models.ManagerViewModels.SettingsViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Ustawienia
            </div>
            <partial name="_ManageNavCol" />
        </div>
        <div class="Column">
            
            <div class="Column-Box">
                <div class="Horizontal-1">
                    Weryfikacja affiliantów
                    <a asp-action="EditVerificationRequired" class="Button-Add-Small">Edytuj</a>
                </div>
                <div class="value-box">@(Model.VerificationRequired ? "Tak" : "Nie")</div>
            </div>
           
            
            <div class="Column-Box">
                <div class="Horizontal-1">
                    Ustawienia Bota
                    <a asp-action="EditSpeedSettings" class="Button-Add-Small">Edytuj</a>
                </div>
                <div class="value-box">Semofory: @Model.Semophore</div>
                <div class="value-box">Rozgrzewka: @Model.WarmUp</div>
                <div class="value-box">Tryb Bezgłowicowy: @(Model.Headless ? "Tak" : "Nie")</div>
                <div class="value-box">Ładować Style: @(Model.Style ? "Tak" : "Nie")</div>
                <div class="value-box">JavaScript: @(Model.JS ? "Tak" : "Nie")</div>
                <div class="value-box">Zbieranie nazw Ceno: @(Model.GetCeneoName ? "Tak" : "Nie")</div>
            </div>

        </div>
    </div>
</div>
