@model PriceSafari.Models.ManagerViewModels.SettingsViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Ustawienia
            </div>
            <partial name="_ManageNavCol" />
        </div>
        <div class="Column">
            
            <div class="Column-Box">
                <div class="Horizontal-1">
                    Weryfikacja affiliantów
                    <a asp-action="EditVerificationRequired" class="Button-Add-Small">Edytuj</a>
                </div>
                <div class="value-box">@(Model.VerificationRequired ? "Tak" : "Nie")</div>
            </div>
           
            <div class="Column-Box">
                <div class="Horizontal-1">
                    Opiekun programu
                    <a asp-action="EditSupervisor" class="Button-Add-Small">Edytuj</a>
                </div>
                <div>@Model.SupervisorEmail</div>
                <div>@Model.SupervisorNumber</div>
            </div>
            <div class="Column-Box">
                <div class="Horizontal-1">
                    Ustawienia Prędkości
                    <a asp-action="EditSpeedSettings" class="Button-Add-Small">Edytuj</a>
                </div>
                <div class="value-box">Prędkość CAPTCHA: @Model.Semophore</div>
                <div class="value-box">Prędkość Scrapowania: @Model.WarmUp</div>
            </div>

        </div>
    </div>
</div>
