@{
    ViewData["Title"] = "Lista Produktów";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}



<div class="Vert">
    <div class="Vert-full">
        <div class="price-box-space">
            <div class="Order-Container-Title">
                Lista produktów @ViewBag.StoreName
                <div class="bar-List">
                    <div>
                        <strong>Przypisano: </strong><span id="scrapable-count"></span>
                    </div>
                    <div>
                        <strong>Łącznie produktów: </strong><span id="total-products"></span>
                    </div>
                    <div>
                        <strong>Odrzuconych: </strong><span id="rejected-count"></span>
                    </div>
                </div>
            </div>

            <div>
                <input type="text" id="productSearch" placeholder="Wyszukaj produkt" />
            </div>
        </div>
       
        <div class="price-box-space">
            <div class="bar-List">
                <button id="select-all" class="Button-Page-Small-b">Zaznacz wszystkie</button>
                <button id="deselect-all" class="Button-Page-Small-r">Odznacz wszystkie</button>
            </div>
            <div>
                <div>
                    <label>Scrapować:</label>
                    <label><input type="radio" name="filter-scrapable" value="all" checked /> Wszystko</label>
                    <label><input type="radio" name="filter-scrapable" value="yes" /> Tak</label>
                    <label><input type="radio" name="filter-scrapable" value="no" /> Nie</label>
                </div>

                <div>

                    <label>Odrzucony:</label>
                    <label><input type="radio" name="filter-rejected" value="all" checked /> Wszystko</label>
                    <label><input type="radio" name="filter-rejected" value="yes" /> Tak</label>
                    <label><input type="radio" name="filter-rejected" value="no" /> Nie</label>
                </div>
         
            </div>
        </div>

       

        



        <div class="Vert-table">
            <table class="table-orders">
                <thead>
                    <tr>
                        <th></th>
                        <th>Produkt (<span id="displayed-count"></span>)</th>
                        <th>Ean</th>
                        <th>Oznaczenie</th>
                        <th>Ceno</th>
                        <th>@ViewBag.StoreName</th>
                        <th>Scrapować</th>
                        <th>Odrzucony</th>
                    </tr>
                </thead>
                <tbody id="product-list">
                </tbody>
            </table>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var storeId = @ViewBag.StoreId;
            var selectAllButton = document.getElementById('select-all');
            var deselectAllButton = document.getElementById('deselect-all');
            var filterScrapableRadios = document.getElementsByName('filter-scrapable');
            var filterRejectedRadios = document.getElementsByName('filter-rejected');
            var searchInput = document.getElementById('productSearch');
            var scrapableCount = 0;
            var totalProducts = 0;
            var rejectedCount = 0;
            var allProducts = [];

            function updateCounters(products) {
                scrapableCount = products.filter(p => p.isScrapable).length;
                rejectedCount = products.filter(p => p.isRejected).length;
                totalProducts = products.length;
                document.getElementById('scrapable-count').textContent = scrapableCount;
                document.getElementById('total-products').textContent = totalProducts;
                document.getElementById('rejected-count').textContent = rejectedCount;
            }

            function updateRowColor(row, isScrapable, isRejected) {
                var bgColor = isScrapable && isRejected ? "rgba(128, 0, 128, 0.3)" :
                    isScrapable ? "rgba(14, 126, 135, 0.3)" :
                        isRejected ? "rgba(238, 17, 17, 0.3)" : "rgba(128, 128, 128, 0.3)";
                row.style.backgroundColor = bgColor;
            }

            function highlightMatches(text, searchTerm) {
                if (!searchTerm) return text;
                const sanitizedSearchTerm = searchTerm.replace(/[^a-zA-Z0-9\s.-]/g, '');
                const regex = new RegExp(`(${sanitizedSearchTerm})`, 'gi');
                return text.replace(regex, '<span style="color: #9400D3; font-weight: 600;">$1</span>');
            }

            function renderProducts(products, searchTerm = "") {
                var tbody = document.getElementById('product-list');
                tbody.innerHTML = '';
                products.forEach(function (product, index) {
                    var row = document.createElement('tr');
                    row.classList.add('product-row');
                    row.setAttribute('data-scrapable', product.isScrapable);
                    row.setAttribute('data-rejected', product.isRejected);
                    updateRowColor(row, product.isScrapable, product.isRejected);

                    var highlightedProductName = highlightMatches(product.productName, searchTerm);

                    var offerUrlButton = product.offerUrl ? `<a href="${product.offerUrl}" class="Button-Page-Small-o" target="_blank">Ceneo</a>` : '';
                    var urlButton = product.url ? `<a href="${product.url}" class="Button-Page-Small-b" target="_blank">Strona</a>` : '';
                    var catalogNumber = product.catalogNumber ? product.catalogNumber : '';
                    var ean = product.ean ? product.ean : '';

                    var imageUrl = product.mainUrl ? product.mainUrl : '';

                    var imageCell = imageUrl ? `<img src="${imageUrl}" style="width: 90px; height: 90px; object-fit: contain; background-color: white;" />` : `<div style="width: 90px; height: 90px;"></div>`;

                    row.innerHTML = `
                              <td>${imageCell}</td>
                    <td>${highlightedProductName}</td>
                    <td>${ean}</td>
                    <td>${catalogNumber}</td>
                  
                    <td>${offerUrlButton}</td>
                    <td>${urlButton}</td>
                    <td>
                        <input type="checkbox" class="scrapable-checkbox" data-product-id="${product.productId}" ${product.isScrapable ? "checked" : ""} />
                    </td>
                    <td>${product.isRejected ? "Tak" : "Nie"}</td>
                `;

                    row.querySelector('.scrapable-checkbox').addEventListener('change', function () {
                        var isScrapable = this.checked;
                        var productId = this.getAttribute('data-product-id');

                        fetch('@Url.Action("UpdateScrapableProduct", "Product")', {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ productId: productId, isScrapable: isScrapable })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (!data.success) {
                                    alert(data.message || 'Wystąpił błąd podczas aktualizacji statusu scrapowania.');
                                    this.checked = !isScrapable;
                                } else {
                                    updateRowColor(row, isScrapable, product.isRejected);
                                    fetchProducts();
                                }
                            })
                            .catch(error => {
                                console.error('There was a problem with your fetch operation:', error);
                            });
                    });

                    tbody.appendChild(row);
                });
                document.getElementById('displayed-count').textContent = products.length;
            }




            function filterProductsByName(name) {
                const sanitizedInput = name.replace(/[^a-zA-Z0-9\s.-]/g, '').trim();
                const sanitizedInputLowerCase = sanitizedInput.toLowerCase().replace(/\s+/g, '');

                return allProducts.filter(product => {
                    const sanitizedProductName = product.productName.toLowerCase().replace(/[^a-zA-Z0-9\s.-]/g, '').replace(/\s+/g, '');
                    return sanitizedProductName.includes(sanitizedInputLowerCase);
                });
            }

            function filterRows() {
                var selectedScrapable = document.querySelector('input[name="filter-scrapable"]:checked').value;
                var selectedRejected = document.querySelector('input[name="filter-rejected"]:checked').value;
                var searchTerm = searchInput.value;

                var filteredProducts = filterProductsByName(searchTerm);

                var displayedProducts = filteredProducts.filter(product => {
                    var scrapableMatch = (selectedScrapable === 'all') ||
                        (selectedScrapable === 'yes' && product.isScrapable) ||
                        (selectedScrapable === 'no' && !product.isScrapable);
                    var rejectedMatch = (selectedRejected === 'all') ||
                        (selectedRejected === 'yes' && product.isRejected) ||
                        (selectedRejected === 'no' && !product.isRejected);

                    return scrapableMatch && rejectedMatch;
                });

                renderProducts(displayedProducts, searchTerm);
                updateDisplayedCount(displayedProducts.length);
            }

            function updateDisplayedCount(count) {
                document.getElementById('displayed-count').textContent = count;
            }

            function fetchProducts() {
                fetch('@Url.Action("GetProducts", "Product")?storeId=' + storeId)
                    .then(response => response.json())
                    .then(data => {
                        allProducts = data;
                        updateCounters(allProducts);
                        filterRows();
                    })
                    .catch(error => {
                        console.error('Error fetching products:', error);
                    });
            }

            filterScrapableRadios.forEach(function (radio) {
                radio.addEventListener('change', filterRows);
            });

            filterRejectedRadios.forEach(function (radio) {
                radio.addEventListener('change', filterRows);
            });

            searchInput.addEventListener('input', filterRows);

            selectAllButton.addEventListener('click', function () {
                var productIds = [];
                document.querySelectorAll('.scrapable-checkbox').forEach(function (checkbox) {
                    if (!checkbox.checked) {
                        checkbox.checked = true;
                        productIds.push(parseInt(checkbox.getAttribute('data-product-id')));
                    }
                });
                if (productIds.length > 0) {
                    fetch('@Url.Action("UpdateMultipleScrapableProducts", "Product")?storeId=' + storeId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(productIds)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                fetchProducts(); 
                            }
                        })
                        .catch(error => {
                            console.error('There was a problem with your fetch operation:', error);
                        });
                }
            });

            deselectAllButton.addEventListener('click', function () {
                var productIds = [];
                document.querySelectorAll('.scrapable-checkbox:checked').forEach(function (checkbox) {
                    checkbox.checked = false;
                    productIds.push(parseInt(checkbox.getAttribute('data-product-id')));
                });
                if (productIds.length > 0) {
                    fetch('@Url.Action("ResetMultipleScrapableProducts", "Product")?storeId=' + storeId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(productIds)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                fetchProducts();
                            }
                        })
                        .catch(error => {
                            console.error('There was a problem with your fetch operation:', error);
                        });
                }
            });

            fetchProducts();
        });
    </script>
}
