@{
    ViewData["Title"] = "Lista Produktów";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<style>
    .StatusBoxProduct-1 {
        display: inline-flex;
        padding: 2px 5px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background: rgba(128, 0, 128, 0.3);
        border: solid 2px rgba(128, 0, 128, 1);
        font-size: 13px;
        font-weight: 500;
        color: rgba(128, 0, 128, 1);
        

    }

    .StatusBoxProduct-2 {
        display: inline-flex;
        padding: 2px 5px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background: rgba(14, 126, 135, 0.3);
        border: solid 2px rgba(14, 126, 135, 1);
        font-size: 13px;
        font-weight: 500;
        color: rgba(14, 126, 135, 1);
    }

    .StatusBoxProduct-3 {
        display: inline-flex;
        padding: 2px 5px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background: rgba(238, 17, 17, 0.3);
        border: solid 2px rgba(238, 17, 17, 1);
        font-size: 13px;
        font-weight: 500;
        color: rgba(238, 17, 17, 1);
    }

    .StatusBoxProduct-4 {
        display: inline-flex;
        padding: 2px 5px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background: rgba(128, 128, 128, 0.3);
        border: solid 2px rgba(128, 128, 128, 1);
        font-size: 13px;
        font-weight: 500;
        color: rgba(128, 128, 128, 1);
    }



    .scrapable-checkbox {
        appearance: none; /* Usuwa domyślny wygląd checkboxa */
        width: 44px;
        height: 44px;
        background-color: red;
        border: 2px solid black;
        border-radius: 24px;
        position: relative;
        cursor: pointer;
    }

        .scrapable-checkbox:checked {
            background-color: red;
        }

            .scrapable-checkbox:checked::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                background-color: green;
                border-radius: 24px;
            }


</style>

<div class="Vert">
    <div class="Vert-full">
        <div class="price-box-space">
            <div class="Order-Container-Title">
                Lista produktów @ViewBag.StoreName
                <div class="bar-List">
                    <div>
                        <strong>Przypisano: </strong><span id="scrapable-count"></span>
                    </div>
                    <div>
                        <strong>Łącznie produktów: </strong><span id="total-products"></span>
                    </div>
                    <div>
                        <strong>Odrzuconych: </strong><span id="rejected-count"></span>
                    </div>
                </div>
            </div>

            <div>
                <input type="text" id="productSearch" placeholder="Wyszukaj produkt" />
            </div>
        </div>

        <div class="price-box-space">
            <div class="bar-List">
                <button id="select-all" class="Button-Page-Small-b">Zaznacz wszystkie</button>
                <button id="deselect-all" class="Button-Page-Small-r">Odznacz wszystkie</button>
            </div>
            <div>
                <div class="store-section">

                    <div class="form-check">
                        <input class="form-check-input status-filter" type="checkbox" id="active" value="active" data-status="active" checked>
                        <label class="form-check-label" for="active">Aktywny (<span id="count-active">0</span>) </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input status-filter" type="checkbox" id="inactive" value="inactive" data-status="inactive" checked>
                        <label class="form-check-label" for="inactive">Nieaktywny (<span id="count-inactive">0</span>) </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input status-filter" type="checkbox" id="active-rejected" value="active-rejected" data-status="active-rejected" checked>
                        <label class="form-check-label" for="active-rejected">Odrzucony (<span id="count-active-rejected">0</span>) </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input status-filter" type="checkbox" id="inactive-rejected" value="inactive-rejected" data-status="inactive-rejected" checked>
                        <label class="form-check-label" for="inactive-rejected">Wyłączony (<span id="count-inactive-rejected">0</span>) </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="Vert-table">
            <table class="table-orders">
                <thead>
                    <tr>
                        <th>Produkt (<span id="displayed-count"></span>)</th>
                        <th></th>                     
                        <th>Ean</th>
                        <th>Oznaczenie</th>
                        <th>Ceno</th>
                        <th>@ViewBag.StoreName</th>
                        <th>Scrapować</th>                    
                        <th>Status</th> 
                    </tr>
                </thead>

                <tbody id="product-list">
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var storeId = @ViewBag.StoreId;
            var selectAllButton = document.getElementById('select-all');
            var deselectAllButton = document.getElementById('deselect-all');
            var searchInput = document.getElementById('productSearch');
            var allProducts = [];

            function updateCounters(products) {
                var activeRejectedCount = products.filter(p => p.isScrapable && p.isRejected).length;
                var activeCount = products.filter(p => p.isScrapable && !p.isRejected).length;
                var inactiveRejectedCount = products.filter(p => !p.isScrapable && p.isRejected).length;
                var inactiveCount = products.filter(p => !p.isScrapable && !p.isRejected).length;

                document.getElementById('count-active-rejected').textContent = activeRejectedCount;
                document.getElementById('count-active').textContent = activeCount;
                document.getElementById('count-inactive-rejected').textContent = inactiveRejectedCount;
                document.getElementById('count-inactive').textContent = inactiveCount;

                var scrapableCount = activeRejectedCount + activeCount;
                var rejectedCount = activeRejectedCount + inactiveRejectedCount;
                var totalProducts = products.length;

                document.getElementById('scrapable-count').textContent = scrapableCount;
                document.getElementById('total-products').textContent = totalProducts;
                document.getElementById('rejected-count').textContent = rejectedCount;
            }


            function highlightMatches(text, searchTerm) {
                if (!searchTerm) return text;
                const sanitizedSearchTerm = searchTerm.replace(/[^a-zA-Z0-9\s.-]/g, '');
                const regex = new RegExp(`(${sanitizedSearchTerm})`, 'gi');
                return text.replace(regex, '<span style="color: #9400D3; font-weight: 600;">$1</span>');
            }

            function getProductStatus(product) {
                if (product.isScrapable && product.isRejected) {
                    return "active-rejected";
                } else if (product.isScrapable) {
                    return "active";
                } else if (product.isRejected) {
                    return "inactive-rejected";
                } else {
                    return "inactive";
                }
            }

            function renderProducts(products, searchTerm = "") {
                var tbody = document.getElementById('product-list');
                tbody.innerHTML = '';
                products.forEach(function (product, index) {
                    var row = document.createElement('tr');
                    row.classList.add('product-row');
                    row.setAttribute('data-scrapable', product.isScrapable);
                    row.setAttribute('data-rejected', product.isRejected);

                    var highlightedProductName = highlightMatches(product.productName, searchTerm);

                    var offerUrlButton = product.offerUrl ? `<a href="${product.offerUrl}" class="Button-Page-Small" target="_blank">Ceneo</a>` : '';
                    var urlButton = product.url ? `<a href="${product.url}" class="Button-Page-Small" target="_blank">Strona</a>` : '';
                    var catalogNumber = product.catalogNumber ? product.catalogNumber : '';
                    var ean = product.ean ? product.ean : '';
                    var imageUrl = product.mainUrl ? product.mainUrl : '';
                    var imageCell = imageUrl ? `<img src="${imageUrl}" style="width: 90px; height: 90px; object-fit: contain; background-color: white;" />` : `<div style="width: 90px; height: 90px;"></div>`;

                    var statusBoxClass = "";
                    var statusText = "";

                    if (product.isScrapable && product.isRejected) {
                        statusBoxClass = "StatusBoxProduct-1";
                        statusText = "Odrzucony";
                    } else if (product.isScrapable) {
                        statusBoxClass = "StatusBoxProduct-2";
                        statusText = "Aktywny";
                    } else if (product.isRejected) {
                        statusBoxClass = "StatusBoxProduct-3";
                        statusText = "Wyłączony";
                    } else {
                        statusBoxClass = "StatusBoxProduct-4";
                        statusText = "Nieaktywny";
                    }

                    row.innerHTML = `
                        <td>${highlightedProductName}</td>
                        <td>${imageCell}</td>
                        <td>${ean}</td>
                        <td>${catalogNumber}</td>
                        <td>${offerUrlButton}</td>
                        <td>${urlButton}</td>
                        <td>
                            <input type="checkbox" class="scrapable-checkbox" data-product-id="${product.productId}" ${product.isScrapable ? "checked" : ""} />
                        </td>
                        <td><div class="${statusBoxClass}">${statusText}</div></td> <!-- Nowa kolumna Status z boksem -->
                    `;

                    row.querySelector('.scrapable-checkbox').addEventListener('change', function () {
                        var productId = this.getAttribute('data-product-id');

                        fetch('@Url.Action("UpdateScrapableProduct", "Product")?storeId=' + storeId, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(productId)
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (!data.success) {
                                    alert(data.message || 'Wystąpił błąd podczas aktualizacji statusu scrapowania.');
                                    this.checked = !this.checked;
                                } else {
                                    fetchProducts();
                                }
                            })
                            .catch(error => {
                                console.error('There was a problem with your fetch operation:', error);
                            });
                    });

                    tbody.appendChild(row);
                });
                document.getElementById('displayed-count').textContent = products.length;
            }

            function filterRows() {
                var selectedStatuses = Array.from(document.querySelectorAll('.status-filter:checked'))
                    .map(checkbox => checkbox.getAttribute('data-status'));

                var searchTerm = searchInput.value;
                var filteredProducts = filterProductsByName(searchTerm);

                var displayedProducts = filteredProducts.filter(product => {
                    var productStatus = getProductStatus(product);
                    return selectedStatuses.length === 0 || selectedStatuses.includes(productStatus);
                });

                renderProducts(displayedProducts, searchTerm);
                updateDisplayedCount(displayedProducts.length);
            }

            function filterProductsByName(name) {
                const sanitizedInput = name.replace(/[^a-zA-Z0-9\s.-]/g, '').trim();
                const sanitizedInputLowerCase = sanitizedInput.toLowerCase().replace(/\s+/g, '');

                return allProducts.filter(product => {
                    const sanitizedProductName = product.productName.toLowerCase().replace(/[^a-zA-Z0-9\s.-]/g, '').replace(/\s+/g, '');
                    return sanitizedProductName.includes(sanitizedInputLowerCase);
                });
            }


            function fetchProducts() {
                fetch('@Url.Action("GetProducts", "Product")?storeId=' + storeId)
                    .then(response => response.json())
                    .then(data => {
                        allProducts = data;
                        updateCounters(allProducts);
                        filterRows();
                    })
                    .catch(error => {
                        console.error('Error fetching products:', error);
                    });
            }

            // Dodaj nasłuchiwanie na checkboxy statusów
            document.querySelectorAll('.status-filter').forEach(function (checkbox) {
                checkbox.addEventListener('change', filterRows);
            });

            searchInput.addEventListener('input', filterRows);

            selectAllButton.addEventListener('click', function () {
                var productIds = [];
                document.querySelectorAll('.scrapable-checkbox').forEach(function (checkbox) {
                    if (!checkbox.checked) {
                        checkbox.checked = true;
                        productIds.push(parseInt(checkbox.getAttribute('data-product-id')));
                    }
                });
                if (productIds.length > 0) {
                    fetch('@Url.Action("UpdateMultipleScrapableProducts", "Product")?storeId=' + storeId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(productIds)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                fetchProducts();
                            }
                        })
                        .catch(error => {
                            console.error('There was a problem with your fetch operation:', error);
                        });
                }
            });

            deselectAllButton.addEventListener('click', function () {
                var productIds = [];
                document.querySelectorAll('.scrapable-checkbox:checked').forEach(function (checkbox) {
                    checkbox.checked = false;
                    productIds.push(parseInt(checkbox.getAttribute('data-product-id')));
                });
                if (productIds.length > 0) {
                    fetch('@Url.Action("ResetMultipleScrapableProducts", "Product")?storeId=' + storeId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(productIds)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                fetchProducts();
                            }
                        })
                        .catch(error => {
                            console.error('There was a problem with your fetch operation:', error);
                        });
                }
            });

            fetchProducts();
        });

    </script>
}