@using Schema.NET
@using Newtonsoft.Json

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Price Safari</title>
    <meta name="description" content="Price Safari">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/css/Home/Home.css" rel="stylesheet">
    <link href="~/css/Home/Header.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="~/icon/icon.png">

    @RenderSection("Styles", required: false)


    @Html.Raw(@"<script type=""application/ld+json"">
    {
    ""@context"": ""https://schema.org"",
    ""@type"": ""Organization"",
    ""name"": ""Heated Box Polska Sp. z o.o."",
    ""url"": ""https://pricesafari.pl"",
    ""logo"": ""https://pricesafari.pl/images homepage/PriceSafari.png"",
    ""address"": {
    ""@type"": ""PostalAddress"",
    ""streetAddress"": ""ul. Wojciecha Korfantego 16"",
    ""addressLocality"": ""Częstochowa"",
    ""postalCode"": ""42-202"",
    ""addressCountry"": ""PL""
    },
    ""contactPoint"": {
    ""@type"": ""ContactPoint"",
    ""telephone"": ""+48 514 188 340"",
    ""contactType"": ""Customer Service"",
    ""areaServed"": ""PL"",
    ""availableLanguage"": [""Polish""]
    },
    ""email"": ""biuro@pricesafari.pl"",
    ""foundingDate"": ""2024"",
    ""vatID"": ""PL9492247951""
    }
    </script>")


</head>
<body>
    @{
        var hideHeaderFooter = ViewBag.HideHeaderFooter as bool? ?? false;
    }
    @if (!hideHeaderFooter)
    {
        @Html.Partial("_Header")
    }


    <div class="overlay"></div>

    <div>
        @RenderBody()
    </div>
    @if (!hideHeaderFooter)
    {
        @Html.Partial("_Footer")
    }


    @RenderSection("Scripts", required: false)

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menuItems = document.querySelectorAll('.Nav-Bar-Menu-Item');

            menuItems.forEach(function (item) {
                const submenu = item.querySelector('.Nav-Bar-Submenu');
                if (submenu) {
                    item.addEventListener('mouseenter', function () {
                        document.body.classList.add('menu-hovered');
                    });

                    item.addEventListener('mouseleave', function () {
                        document.body.classList.remove('menu-hovered');
                    });
                }
            });
        });
    </script>
</body>
</html>
