
@{
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
    var actionName = ViewContext.RouteData.Values["action"]?.ToString();


    <div class="@(controllerName == "ManagerAffiliate" ? "Flex-Column-Button-Active" : "Flex-Column-Button") menu-link" onclick="location.href='@Url.Action("Accounts", "ManagerAffiliate")'">Użytkownicy</div>
    <div class="@(controllerName == "StoreAssignment" ? "Flex-Column-Button-Active" : "Flex-Column-Button") menu-link" onclick="location.href='@Url.Action("UserStore", "StoreAssignment")'">Kanały</div>
    




    @if (User.IsInRole("Admin"))
    {
        <div class="@(controllerName == "Settings" ? "Flex-Column-Button-Active" : "Flex-Column-Button") menu-link" onclick="location.href='@Url.Action("Index", "Settings")'">Scrapowanie</div>
        <div class="@(controllerName == "SetSchedule" ? "Flex-Column-Button-Active" : "Flex-Column-Button") menu-link" onclick="location.href='@Url.Action("SetSchedule", "Scheduler")'">Interwały</div>
        <div class="@(controllerName == "DeviceStatus" ? "Flex-Column-Button-Active" : "Flex-Column-Button") menu-link" onclick="location.href='@Url.Action("DeviceStatus", "DeviceStatus")'">Stusy Maszyn</div>
    }

}

