@using Microsoft.AspNetCore.Identity
@inject UserManager<PriceSafariUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var fullName = $"{user?.PartnerName} {user?.PartnerSurname}";
}

@{
    bool isManager = User.IsInRole("Manager");
    bool isAdmin =  User.IsInRole("Admin");
    bool isMember = User.IsInRole("Member");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@2.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

    <link rel="icon" type="image/png" sizes="16x16" href="~/icon/icon.png">

    <link href="~/css/panel.min.css" rel="stylesheet" />

    @RenderSection("Scripts", required: false)

    @{
        ViewData["Title"] = "_PanelLayout";
    }

    <script>
        document.write('<style>.Sidebar, .Sidebar-hide { display: none; }</style>');
        var sidebarState = localStorage.getItem('sidebarState');
        if (sidebarState === 'hidden') {
            document.write('<style>.Sidebar-hide { display: flex; }</style>');
        } else {
            document.write('<style>.Sidebar { display: flex; }</style>');
        }
    </script>

</head>

<body>
    <div class="Sidebar">
        <div class="Sidebar-box">
            <div class="Sidebar-box-name">
                <div class="BigB">@fullName</div>
            </div>
            <div class="Sidebar-box-container">
                <div class="Sidebar-box-item-left">
                    <div class="upper-menu-link">
                        <img src="~/images/Affiliate-bone.svg" alt="Menu" style="width: 24px; height: 24px;" /> <partial name="_LoginPartial" />
                    </div>
                </div>
                <div class="Sidebar-box-item-right">
                    <button id="toggleSidebar1" class="upper-menu-link">
                        <img src="~/images/Menu-hide-bone.svg" alt="Menu" style="width: 24px; height: 24px;" />
                    </button>
                </div>
            </div>
        </div>
        <div class="Menu">

            @if (isMember)
            {
                var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
                var actionName = ViewContext.RouteData.Values["action"]?.ToString();

                <div class="@(controllerName == "Chanel" || controllerName == "PriceHistory" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "Chanel")'">
                    <img src="~/images/MoneyIn-bone.svg" alt="Panel Icon" class="menu-icon" />Ceny
                </div>

                <div class="@(controllerName == "Product" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("StoreList", "Product")'">
                    <img src="~/images/Campaigns-bone.svg" alt="Panel Icon" class="menu-icon" />Produkty
                </div>

                <div class="@(controllerName == "Competitors" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "Competitors")'">
                    <img src="~/images/Link-bone.svg" alt="Panel Icon" class="menu-icon" />Konkurencja
                </div>

                @if (user?.AccesToViewSafari == true)
                {
                    <div class="@(controllerName == "Safari" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Chanel", "Safari")'">
                        <img src="~/images/Globe-bone.svg" alt="Panel Icon" class="menu-icon" />Safari
                    </div>
                }

            }

            @if (isAdmin)
            {
                var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
                var actionName = ViewContext.RouteData.Values["action"]?.ToString();

                <div class="@(controllerName == "Store" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "Store")'">
                    <img src="~/images/Chart-bone.svg" alt="Panel Icon" class="menu-icon" />Sklepy
                </div>

                <div class="@(controllerName == "CategoryScraper" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "CategoryScraper")'">
                    <img src="~/images/Link-bone.svg" alt="Panel Icon" class="menu-icon" />Kategorie
                </div>

                <div class="@(controllerName == "DatabaseSize" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "DatabaseSize")'">
                    <img src="~/images/Link-bone.svg" alt="Panel Icon" class="menu-icon" />Baza danych
                </div>

                <div class="@((controllerName == "ManagerAffiliate" && actionName == "Accounts") || controllerName == "Settings" || controllerName == "UserManagement" ? "active-link" : "inactive-link")
                    menu-link" onclick="location.href='@Url.Action("Accounts", "ManagerAffiliate")'">
                    <img src="~/images/Settings-bone.svg" alt="Assign Icon" class="menu-icon" />Konta
                </div>

                <div class="@(controllerName == "ProductMapping" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "ProductMapping")'">
                    <img src="~/images/Link-bone.svg" alt="Panel Icon" class="menu-icon" />Mapowanie
                </div>
                <div class="@(controllerName == "ClientProfile" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "ClientProfile")'">
                    <img src="~/images/Affiliate-bone.svg" alt="Panel Icon" class="menu-icon" />Klienci
                </div>

                <div class="@(controllerName == "Region" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "Region")'">
                    <img src="~/images/Affiliate-bone.svg" alt="Panel Icon" class="menu-icon" />Region
                </div>

                <div class="@(controllerName == "Prepare" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Prepare", "GoogleScraping")'">
                    <img src="~/images/Affiliate-bone.svg" alt="Panel Icon" class="menu-icon" />Raporty kolejka
                </div>

                <div class="@(controllerName == "PreparedProducts" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("PreparedProducts", "GoogleScraping")'">
                    <img src="~/images/Link-bone.svg" alt="Panel Icon" class="menu-icon" />Google Scraper
                </div>

                <div class="@(controllerName == "LoadUnpreparedReports" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("LoadUnpreparedReports", "GoogleScraping")'">
                    <img src="~/images/Link-bone.svg" alt="Panel Icon" class="menu-icon" />Generuj raporty
                </div>


                <div class="@(controllerName == "Plan" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "Plan")'">
                    <img src="~/images/MoneyIn-bone.svg" alt="Panel Icon" class="menu-icon" />Plany
                </div>
            }

            @if (isManager){

                var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
                var actionName = ViewContext.RouteData.Values["action"]?.ToString();

                <div class="@(controllerName == "ClientProfile" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "ClientProfile")'">
                    <img src="~/images/Affiliate-bone.svg" alt="Panel Icon" class="menu-icon" />Klienci
                </div>
            }

        </div>
        <div class="Sidebar-box">
            <div class="PriceSafari">
                    <img src="~/images/PriceSafari.png" alt="Menu" width="135" height="38" />
            </div>
        </div>
    </div>

    <div class="Sidebar-hide">
        <div class="Sidebar-box">

            <button id="toggleSidebar2" class="upper-menu-link">
                <img src="~/images/Menu-expand-bone.svg" alt="Menu" style="width: 24px; height: 24px;" />
            </button>
        </div>
        <div class="Menu-hide">

            @if (isMember)
            {
                var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
                var actionName = ViewContext.RouteData.Values["action"]?.ToString();

                <div class="@(controllerName == "Chanel" || controllerName == "PriceHistory" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "Chanel")'">
                    <img src="~/images/MoneyIn-bone.svg" alt="Panel Icon" class="menu-icon" />
                </div>

                <div class="@(controllerName == "Product" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("StoreList", "Product")'">
                    <img src="~/images/Campaigns-bone.svg" alt="Panel Icon" class="menu-icon" />
                </div>

                <div class="@(controllerName == "Competitors" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "Competitors")'">
                    <img src="~/images/Link-bone.svg" alt="Panel Icon" class="menu-icon" />
                </div>
                @if (user?.AccesToViewSafari == true)
                {
                    <div class="@(controllerName == "Safari" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Chanel", "Safari")'">
                        <img src="~/images/Globe-bone.svg" alt="Panel Icon" class="menu-icon" />
                    </div>
                }

            }
            @if (isAdmin)
            {
                var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
                var actionName = ViewContext.RouteData.Values["action"]?.ToString();

                <div class="@(controllerName == "Store" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "Store")'">
                    <img src="~/images/Chart-bone.svg" alt="Panel Icon" class="menu-icon" />
                </div>

                <div class="@(controllerName == "CategoryScraper" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "CategoryScraper")'">
                    <img src="~/images/Link-bone.svg" alt="Panel Icon" class="menu-icon" />
                </div>

                <div class="@(controllerName == "DatabaseSize" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "DatabaseSize")'">
                    <img src="~/images/Link-bone.svg" alt="Panel Icon" class="menu-icon" />
                </div>

                <div class="@((controllerName == "ManagerAffiliate" && actionName == "Accounts") || controllerName == "Settings" || controllerName == "UserManagement" ? "active-link" : "inactive-link")
                    menu-link" onclick="location.href='@Url.Action("Accounts", "ManagerAffiliate")'">
                    <img src="~/images/Settings-bone.svg" alt="Assign Icon" class="menu-icon" />
                </div>

                <div class="@(controllerName == "ProductMapping" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "ProductMapping")'">
                    <img src="~/images/Affiliate-bone.svg" alt="Panel Icon" class="menu-icon" />
                </div>
            }

            @if (isManager)
            {

                var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
                var actionName = ViewContext.RouteData.Values["action"]?.ToString();

                <div class="@(controllerName == "ClientProfile" ? "active-link" : "inactive-link") menu-link" onclick="location.href='@Url.Action("Index", "ClientProfile")'">
                    <img src="~/images/Affiliate-bone.svg" alt="Panel Icon" class="menu-icon" />
                </div>
            }

        </div>
        <div class="Sidebar-box">
        </div>
    </div>

    <div class="View">
        @RenderBody()
    </div>

</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sidebar = document.querySelector('.Sidebar');
        var sidebarHide = document.querySelector('.Sidebar-hide');

        var sidebarState = localStorage.getItem('sidebarState');
        if (sidebarState === 'hidden') {
            sidebarHide.style.display = "flex";
            sidebar.style.display = "none";
        } else {
            sidebar.style.display = "flex";
            sidebarHide.style.display = "none";
        }

        document.getElementById('toggleSidebar1').addEventListener('click', toggleSidebar);
        document.getElementById('toggleSidebar2').addEventListener('click', toggleSidebar);

        function toggleSidebar() {
            if (sidebar.style.display === "none" || sidebar.style.display === "") {
                sidebar.style.display = "flex";
                sidebarHide.style.display = "none";
                localStorage.setItem('sidebarState', 'visible');
            } else {
                sidebarHide.style.display = "flex";
                sidebar.style.display = "none";
                localStorage.setItem('sidebarState', 'hidden');
            }
        }
    });
</script>