@model PriceSafari.Models.ClientProfile



@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Edytuj Profil

            </div>

            <partial name="_ContactNavCol" />
        </div>

        <div class="Column-30">




            <form asp-action="Edit" id="clientProfileForm" class="Column-Form">
                <div class="form-group">
                    <label for="CeneoProfileUrl" class="control-label">Url Ceneo</label>
                    <input type="url" class="form-control" id="CeneoProfileUrl" name="CeneoProfileUrl" value="@Model.CeneoProfileUrl" readonly />
                </div>

                <div class="form-group">
                    <label for="CeneoProfileName" class="control-label">Nazwa Firmy</label>
                    <input type="text" class="form-control" id="CeneoProfileName" name="CeneoProfileName" value="@Model.CeneoProfileName" required />
                </div>
                <div class="form-group">
                    <label for="CeneoProfileEmail" class="control-label">Email</label>
                    <input type="email" class="form-control" id="CeneoProfileEmail" name="CeneoProfileEmail" value="@Model.CeneoProfileEmail" required />
                </div>
                <div class="form-group">
                    <label for="CeneoProfileTelephone" class="control-label">Telefon</label>
                    <input type="tel" class="form-control" id="CeneoProfileTelephone" name="CeneoProfileTelephone" value="@Model.CeneoProfileTelephone" required />
                </div>
                <div class="form-group">
                    <label for="CeneoProfileProductCount" class="control-label">Liczba Produktów</label>
                    <input type="number" class="form-control" id="CeneoProfileProductCount" name="CeneoProfileProductCount" value="@Model.CeneoProfileProductCount" />
                </div>
                <div class="form-group">
                    <label for="Status">Status</label>
                    <select class="form-control" id="Status" name="Status">
                        @foreach (var status in Enum.GetValues(typeof(PriceSafari.Models.ClientStatus)))
                        {
                            @if (Model.Status == (PriceSafari.Models.ClientStatus)status)
                            {
                                <option value="@status" selected>@status</option>
                            }
                            else
                            {
                                <option value="@status">@status</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group" id="meetingDateDiv" @(Model.Status == PriceSafari.Models.ClientStatus.Spotkanie ? "" : "style='display:none'")>
                    <label for="ScheduledMeetingDate" class="control-label">Data spotkania</label>
                    <input type="datetime-local" class="form-control" id="ScheduledMeetingDate" name="ScheduledMeetingDate" value="@Model.ScheduledMeetingDate?.ToString("yyyy-MM-ddTHH:mm")" />
                </div>
                <button type="submit" class="Button-Add-Small">Zapisz zmiany</button>
            </form>



        </div>

    </div>

</div>





@section Scripts {
    <script>
        $(document).ready(function () {
            $('#CeneoProfileUrl').on('blur', function () {
                var originalUrl = $(this).val();
                var trimmedUrl = originalUrl.split(';')[0];
                $(this).val(trimmedUrl);

                // AJAX call to check if the URL already exists
                $.ajax({
                    url: '@Url.Action("CheckUrlExists", "ClientProfile")', // Replace with actual controller action
                    type: 'GET',
                    data: { url: trimmedUrl, id: @Model.ClientProfileId },
                    success: function (response) {
                        if (response.exists) {
                            $('#urlError').show();
                            $('button[type="submit"]').prop('disabled', true);
                        } else {
                            $('#urlError').hide();
                            $('button[type="submit"]').prop('disabled', false);
                        }
                    }
                });
            });

            document.getElementById('Status').addEventListener('change', function () {
                if (this.value === 'UmówionoSpotkanie') {
                    document.getElementById('meetingDateDiv').style.display = 'block';
                } else {
                    document.getElementById('meetingDateDiv').style.display = 'none';
                }
            });
        });
    </script>
}
