@model PriceSafari.Models.ClientProfile

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Edytuj Profil
            </div>
            <partial name="_ContactNavCol" />
        </div>

        <div class="Column-30">
            <form asp-action="Edit" id="clientProfileForm" class="Column-Form">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="ClientProfileId" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input type="checkbox" id="isCeneoClient" name="Source" value="@((int)PriceSafari.Models.ClientSource.Ceneo)" @(Model.Source == PriceSafari.Models.ClientSource.Ceneo ? "checked" : "") />
                    <label for="isCeneoClient">Klient z Ceneo</label>
                </div>

                <input type="hidden" id="googleSourceValue" name="Source" value="@((int)PriceSafari.Models.ClientSource.Google)" />

                <div class="form-group" id="ceneoUrlGroup">
                    <label asp-for="CeneoProfileUrl" class="control-label">Url Ceneo</label>
                    <input asp-for="CeneoProfileUrl" class="form-control" id="CeneoProfileUrl" />
                    <small id="urlError" class="form-text text-danger" style="display:none;">Ten klient z tym URL już istnieje.</small>
                    <span asp-validation-for="CeneoProfileUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CeneoProfileName" class="control-label">Nazwa Firmy / Domeny</label>
                    <input asp-for="CeneoProfileName" class="form-control" id="CeneoProfileName" required />
                    <small id="companyNameError" class="form-text text-danger" style="display:none;">Klient z tą nazwą firmy (domeną) już istnieje.</small>
                    <span asp-validation-for="CeneoProfileName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CeneoProfileEmail" class="control-label">Email</label>
                    <input asp-for="CeneoProfileEmail" class="form-control" id="CeneoProfileEmail" required />
                    <small class="form-text text-muted">
                        Jeśli chcesz dodać więcej niż jeden adres email, oddziel je średnikami.
                    </small>
                    <span asp-validation-for="CeneoProfileEmail" class="text-danger"></span>
                </div>

                <div class="form-group" id="ceneoTelephoneGroup">
                    <label asp-for="CeneoProfileTelephone" class="control-label">Telefon</label>
                    <input asp-for="CeneoProfileTelephone" class="form-control" id="CeneoProfileTelephone" />
                </div>
                <div class="form-group" id="ceneoProductCountGroup">
                    <label asp-for="CeneoProfileProductCount" class="control-label">Liczba Produktów</label>
                    <input asp-for="CeneoProfileProductCount" class="form-control" id="CeneoProfileProductCount" />
                </div>

                <div class="form-group">
                    <label asp-for="Status">Status</label>
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<PriceSafari.Models.ClientStatus>()" class="form-control" id="Status"></select>
                </div>
                <div class="form-group" id="meetingDateDiv" style="display:none;">
                    <label asp-for="ScheduledMeetingDate" class="control-label">Data spotkania</label>
                    <input asp-for="ScheduledMeetingDate" type="datetime-local" class="form-control" value="@Model.ScheduledMeetingDate?.ToString("yyyy-MM-ddTHH:mm")" />
                </div>
                <button type="submit" class="Button-Add-Small">Zapisz zmiany</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            const ceneoUrlGroup = $('#ceneoUrlGroup');
            const ceneoTelephoneGroup = $('#ceneoTelephoneGroup');
            const ceneoProductCountGroup = $('#ceneoProductCountGroup');
            const isCeneoClientCheckbox = $('#isCeneoClient');
            const googleSourceValueInput = $('#googleSourceValue');
            const ceneoProfileUrlInput = $('#CeneoProfileUrl');
            const ceneoProfileNameInput = $('#CeneoProfileName');
            const submitButton = $('button[type="submit"]');
            const urlError = $('#urlError');
            const companyNameError = $('#companyNameError');
            const currentClientId = @Model.ClientProfileId;


            function cleanCompanyName(companyName) {
                if (!companyName) return '';
                let cleanedName = companyName.trim();
                try {
                    if (!cleanedName.startsWith('http://') && !cleanedName.startsWith('https://')) {
                        cleanedName = 'http://' + cleanedName;
                    }
                    const url = new URL(cleanedName);
                    cleanedName = url.hostname.replace(/^www\./i, '');
                } catch (e) {
                    cleanedName = cleanedName.replace(/^(https?:\/\/)?(www\.)?/i, '').split('/')[0].split('?')[0].split('#')[0];
                }
                return cleanedName.replace(/[^a-zA-Z0-9\.-]/g, '').toLowerCase();
            }

            function updateFormVisibility() {
                if (isCeneoClientCheckbox.is(':checked')) {
                    ceneoUrlGroup.show();
                    ceneoTelephoneGroup.show();
                    ceneoProductCountGroup.show();
                    isCeneoClientCheckbox.attr('name', 'Source');
                    googleSourceValueInput.removeAttr('name');
                    companyNameError.hide();
                } else {
                    ceneoUrlGroup.hide();
                    ceneoTelephoneGroup.hide();
                    ceneoProductCountGroup.hide();
                    isCeneoClientCheckbox.removeAttr('name');
                    googleSourceValueInput.attr('name', 'Source');
                    ceneoProfileUrlInput.val('');
                    urlError.hide();
                }
                checkFormValidity();
            }

            function checkUrlUniqueness() {
                var url = ceneoProfileUrlInput.val().trim();
                if (!isCeneoClientCheckbox.is(':checked') || url === '') {
                    urlError.hide();
                    checkFormValidity();
                    return;
                }
                $.ajax({
                    url: '@Url.Action("CheckUrlExists", "ClientProfile")',
                    type: 'GET',
                    data: { url: url, id: currentClientId }, 
                    success: function (response) {
                        urlError.toggle(response.exists);
                        checkFormValidity();
                    }
                });
            }

            function checkCompanyNameUniqueness() {
                var companyName = ceneoProfileNameInput.val().trim();
                if (isCeneoClientCheckbox.is(':checked') || companyName === '') {
                    companyNameError.hide();
                    checkFormValidity();
                    return;
                }
                var cleanedName = cleanCompanyName(companyName);
                if(cleanedName !== ceneoProfileNameInput.val()) {
                    ceneoProfileNameInput.val(cleanedName);
                }
                $.ajax({
                    url: '@Url.Action("CheckGoogleCompanyNameExists", "ClientProfile")',
                    type: 'GET',
                    data: { companyName: cleanedName, id: currentClientId }, 
                    success: function (response) {
                        companyNameError.toggle(response.exists);
                        checkFormValidity();
                    }
                });
            }

            function checkFormValidity() {
                let isUrlErrorVisible = urlError.is(':visible');
                let isCompanyNameErrorVisible = companyNameError.is(':visible');
                let isNameEmpty = ceneoProfileNameInput.val().trim() === '';
                let isEmailEmpty = $('#CeneoProfileEmail').val().trim() === '';
                let isUrlEmptyForCeneo = isCeneoClientCheckbox.is(':checked') && ceneoProfileUrlInput.val().trim() === '';

                submitButton.prop('disabled', isUrlErrorVisible || isCompanyNameErrorVisible || isNameEmpty || isEmailEmpty || isUrlEmptyForCeneo);
            }

        
            function toggleMeetingDate() {
             
                var spotkanieStatusValue = '@((int)PriceSafari.Models.ClientStatus.Spotkanie)';
                if ($('#Status').val() == spotkanieStatusValue) {
                    $('#meetingDateDiv').show();
                } else {
                    $('#meetingDateDiv').hide();
                }
            }

          
            updateFormVisibility();
            toggleMeetingDate();

            isCeneoClientCheckbox.on('change', updateFormVisibility);
            $('#Status').on('change', toggleMeetingDate);

            ceneoProfileUrlInput.on('keyup blur', checkUrlUniqueness);
            ceneoProfileNameInput.on('keyup blur', checkCompanyNameUniqueness);
            $('#CeneoProfileEmail').on('keyup blur', checkFormValidity);

            $('#clientProfileForm').on('submit', function (e) {
                checkFormValidity();
                if (submitButton.is(':disabled')) {
                    e.preventDefault();
                    console.log("Form submission blocked due to validation errors.");
                }
            });
        });
    </script>
}