@using Newtonsoft.Json

@{
    ViewData["Title"] = "Historia Cen";
    var latestScrap = ViewBag.LatestScrap as PriceSafari.Models.ScrapHistoryClass;
    var storeId = ViewBag.StoreId;
    var storeLogo = ViewBag.StoreLogo;
    var flags = ViewBag.Flags as List<PriceSafari.Models.FlagsClass>;
}

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<style>
  

    #sortingButtons {
        display: inline-flex;
        gap: 10px;
        height:34px;
    }

        #sortingButtons button {
            display:inline-flex;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            padding: 2px 12px;
            border: none;
            background-color: #e3e3e3;
            color: #4e4e4e;
            font-size: 13px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            border-radius: 4px;
       
        }

            #sortingButtons button.active {
                background-color: #323232;
                color: #e3e3e3;
            }

            #sortingButtons button:hover {
                background-color: #ccc;
                color: #4e4e4e;
            }

            #sortingButtons button.active:hover, {
                background-color: #323232;
                color: #e3e3e3;
                cursor: pointer;
            }

   

    .SimpleSpace {
        display: flex;
        justify-content: space-between;
        width: 100%
    }

    .SimpleHorizontal {
        display: flex;
        gap: 8px;
    }


    .position-slider-container {
        margin-bottom: 10px;
    }

        .position-slider-container input {
            border: 0;
            color: #888;
            font-weight: 300;
            text-align: center;
            font-size: 16px;
            width: 100%;
        }

   
    #positionRangeSlider {
        width: 85%; 
        margin-left:6px;
        
    
    }


    #offerRangeSlider {
        width: 85%;
        margin-left: 6px;
    }

    .offer-slider-container {
        margin-bottom: 10px;
    }


    /* Zmniejszenie wysokości suwaka */
    .noUi-target {
        height: 6px;
        border-radius: 2px !important;
    }

    /* Dostosowanie kolorów suwaka */
    .noUi-connect {
        background: rgba(34, 34, 34, .75) !important;
        max-height:8px;
    }

    .noUi-horizontal {
       max-height: 8px;
    }

    .noUi-touch-area {
        height: 100%;
        width: 100%;
 
    }


    .noUi-handle {
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        background: #FFF;
        cursor: default;
        box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    }


    .noUi-horizontal .noUi-handle {
        max-width: 14px;
        MAX-height: 16px;
        right: -10px !important;
        top: -5px !important;
    }

    .noUi-handle:after, .noUi-handle:before {
        content: none !important;
        display: none !important;
    

    }

    .noUi-base {
        background: #ccc; /* Kolor tła suwaka */
        max-height: 8px;
    }

    .arrow-up::before {
        content: '▲';
        color: red;
        margin-left: 5px;
    }

    .arrow-down::before {
        content: '▼';
        color: green;
        margin-left: 5px;
    }


    .price-action-line {
        display: flex;
        align-items: center;
        margin-top:2px;
    }

    .arrow-down-red::before {
        content: '▼';
        color: rgba(171, 37, 32, 0.7); /* Red color */
        margin-right: 5px;
        font-size: 16px;
    }



    .arrow-up-black::before {
        content: '▲';
        color: rgba(6, 6, 6, 0.7); /* Czarny kolor */
        margin-right: 5px;
        font-size: 16px;
    }

    .arrow-up-turquoise::before {
        content: '▲';
        color: rgba(0, 145, 123, 0.7);
        margin-right: 5px;
        font-size: 16px;
    }


    .arrow-down-turquoise::before {
        content: '▼';
        color: rgba(0, 145, 123, 0.7);
        margin-right: 5px;
        font-size: 16px;
    }


    .arrow-down-yellow::before {
        content: '▼';
        color: rgba(224, 168, 66, 0.9); /* Yellow color */
        margin-right: 5px;
        font-size: 16px;
    }
    .color-square-green {
        width: 16px;
        height: 24px;
        border-radius: 4px;
        background-color: rgba(117, 152, 112, 0.7);
        display: inline-block;
        margin-left: 14px;
    }


    .no-change-icon::before {

        content: '⬤';
        color: rgba(117, 152, 112, 0.7);
        font-size: 16px;
        margin-right: 5px;
    }


    .no-change-icon-turquoise::before {
        content: '⬤';
        color: rgba(0, 145, 123, 0.7);
        font-size: 16px;
        margin-right: 5px;
    }

    .arrow-down-green::before {
        content: '▼';
        color: rgba(117, 152, 112, 0.7);
        margin-right: 5px;
        font-size: 16px;
    }


    .color-square-turquoise {
        width: 16px;
        height: 24px;
        border-radius:4px;
        background-color: rgba(0, 145, 123, 0.7);
        display: inline-block;
        margin-left: 14px;
    }

    .price-box-column span {
        margin-right: 5px;
    }

    .price-box-externalInfo {
        display: flex;
        align-items: center;
        margin-left:26px;
        gap: 10px; /* Odstęp między elementami */
        margin-top:4px;
    }

    .highlighted-text {
        color: #9400D3;
        font-weight: 600;
        display: inline;
    }




</style>

<div class="Vert">
    <div class="Page-Box">
        <div class="Page-Box-Container">
            <div class="Page-Box-Category">
                <div><img src="@storeLogo" class="img-container" /></div>
                <div class="side-chart-box">
                    <canvas id="colorChart"></canvas>
                </div>

                <div class="store-section">
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prToHighCheckbox" value="prToHigh">
                        <label class="form-check-label" for="prToHighCheckbox">Zawyżona </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prMidCheckbox" value="prMid">
                        <label class="form-check-label" for="prMidCheckbox">Suboptymalna </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prGoodCheckbox" value="prGood">
                        <label class="form-check-label" for="prGoodCheckbox">Konkurencyjna </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prIdealCheckbox" value="prIdeal">
                        <label class="form-check-label" for="prIdealCheckbox">Strategiczna </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prToLowCheckbox" value="prToLow">
                        <label class="form-check-label" for="prToLowCheckbox">Zaniżona </label>
                    </div>

                   
                    <div class="price-range-settings">
                        <div class="color-circle prMid-circle"></div>
                        <label for="price2"></label>
                        <input type="number" id="price2" value="@ViewBag.SetPrice2" step="0.01" min="0.01" max="100">
                        <span id="unitLabel2"></span>
                    </div>
                    <div class="price-range-settings">
                        <div class="color-circle prIdeal-circle"></div>
                        <label for="price1"></label>
                        <input type="number" id="price1" value="@ViewBag.SetPrice1" step="0.01" min="0.01" max="100">
                        <span id="unitLabel1"></span>
                    </div>
                    <div class="price-range-settings">
                        <div class="price-range-settings-stepPrice"></div>
                        <label for="stepPrice"></label>
                        <input type="number" id="stepPrice" value="@ViewBag.PriceStep" step="0.01" min="0.01" max="100">
                        <span id="unitLabelStepPrice"></span>
                    </div>

                    <div>
                        <input class="diffCheckBox" style="margin-top: 10px;" type="checkbox" id="usePriceDifference" />

                    </div>
                    <button class="Button-Page-Small" style="margin-top: 2px;" id="savePriceValues">Zapisz</button>
                </div>

                <div class="filterBox">

                    <div class="Category-Container-Select" style="margin-top:-2px;">Flagi  <a asp-controller="Flags" asp-action="List" asp-route-storeId="@ViewBag.StoreId" class="link-line">+ Dodaj Flage</a></div>
                    <div class="store-section" id="flagContainer">
                    </div>

                    <div class="Category-Container-Select">Bidowanie - Ceneo</div>
                    <div class="store-section">

                        <div class="form-check">
                            <input class="form-check-input bidFilter" type="checkbox" id="bidFilter">
                            <label class="form-check-label" for="bidFilter">Bid</label>
                        </div>

                    </div>
                    <div class="Category-Container-Select">Pozycja - @ViewBag.storeName</div>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.css">

                    <div class="store-section">
                        <div class="position-slider-container">
                            <div id="positionRange" class="position-range-display" style="font-size:14px; font-weight:400;"></div>
                        </div>

                        <div id="positionRangeSlider"></div>
                    </div>


                    <div class="Category-Container-Select">Liczba ofert</div>
                    <div class="store-section">
                        <div class="offer-slider-container">
                            <div id="offerRange" class="offer-range-display" style="font-size:14px; font-weight:400;"></div>
                        </div>

                        <div id="offerRangeSlider"></div>
                    </div>




                    <div class="Category-Container-Select">Wysyłka - @ViewBag.storeName</div>
                    <div class="store-section">
                        <div class="filter-category">

                            <div class="form-check">
                                <input class="form-check-input deliveryFilterMyStore" type="checkbox" id="delivery1MyStore" value="1">
                                <label class="form-check-label" for="delivery1MyStore">Wysyłka w 1 dzień</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input deliveryFilterMyStore" type="checkbox" id="delivery3MyStore" value="3">
                                <label class="form-check-label" for="delivery3MyStore">Wysyłka w 3 dni</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input deliveryFilterMyStore" type="checkbox" id="delivery7MyStore" value="7">
                                <label class="form-check-label" for="delivery7MyStore">Wysyłka w 7 dni</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input deliveryFilterMyStore" type="checkbox" id="delivery14MyStore" value="14">
                                <label class="form-check-label" for="delivery14MyStore">Wysyłka w 14 dni</label>
                            </div>
                        </div>
                        <div class="Category-Container-Select">Wysyłka - konkurencja</div>
                        <div class="store-section">
                            <div class="filter-category">

                                <div class="form-check">
                                    <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="delivery1Competitor" value="1">
                                    <label class="form-check-label" for="delivery1Competitor">Wysyłka w 1 dzień</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="delivery3Competitor" value="3">
                                    <label class="form-check-label" for="delivery3Competitor">Wysyłka w 3 dni</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="delivery7Competitor" value="7">
                                    <label class="form-check-label" for="delivery7Competitor">Wysyłka w 7 dni</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="delivery14Competitor" value="14">
                                    <label class="form-check-label" for="delivery14Competitor">Wysyłka w 14 dni</label>
                                </div>
                            </div>
                        </div>
                        <div class="Category-Container-Select">Zmieniona cena</div>
                        <div class="store-section">
                            <div class="filter-category">
                                <div class="form-check">
                                    <input class="form-check-input externalPriceFilter" type="checkbox" id="externalPriceYes" value="yes">
                                    <label class="form-check-label" for="externalPriceYes">Tak</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input externalPriceFilter" type="checkbox" id="externalPriceNo" value="no">
                                    <label class="form-check-label" for="externalPriceNo">Nie</label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="Horizontal">
                <div class="order-upper-box">

                    <input type="text" id="productSearch" placeholder="Wyszukaj produkt">

                    <input type="text" id="storeSearch" placeholder="Wyszukaj sklep">



                    <form id="filterForm">
                        
                        <div style="display: inline-block;">
                            <select id="sourceSelect" name="source" class="DropDown">
                                <option value="All">Wszystkie źródła danych</option>
                                <option value="Google">Tylko Google</option>
                                <option value="Ceneo">Tylko Ceneo</option>
                            </select>
                        </div>
                    </form>

                    <div>

                        <select id="competitorStoreSelect" name="competitorStore" class="DropDown">
                            <option value="">Najlepsza cena</option>
                        </select>
                    </div>
                    <button class="Button-Page-Small" id="updatePricesButton">API</button>

                    <div class="SimpleSpace">
                        <div class="SimpleHorizontal">
                            <div class="form-check-orders">
                                <div>

                                    <p><strong>Data:</strong> @latestScrap?.Date.ToString("dd.MM.yyyy")</p>
                                    <p><strong>Ceny:</strong> <span id="totalPriceCount">0</span></p>
                                </div>
                            </div>
                            <div class="form-check-orders">

                                <div>
                                    <p><strong>Produkty:</strong> @ViewBag.ScrapedProducts</p>
                                    <p><strong>Odrzucone:</strong> <span id="missedProductsCount">0</span></p>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div id="sortingButtons">
                    <div class="ProductCount" id="displayedProductCount"></div>
                    <button id="sortName">A-Z</button>
                    <button id="sortPrice">Cena</button>
                    <button id="sortRaiseAmount">Podnieś PLN</button>
                    <button id="sortRaisePercentage">Podnieś %</button>
                    <button id="sortLowerAmount">Obniż PLN</button>
                    <button id="sortLowerPercentage">Obniż %</button>
                    <button id="sortMarginAmount">Marża PLN</button>
                    <button id="sortMarginPercentage">Marża %</button>
                    <button id="showRejectedButton">Odrzucone</button>
                </div>


                <div class="Vert-table">
                    <div id="priceContainer" class="price-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
   


    <script>
        var storeId = '@storeId';
    </script>
    <script>
        var flags = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Flags));
    </script>
    <script src="~/js/member/PriceHistory.js"></script>
    <script>
        $(document).ready(function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/scrapingHub").build();
            var updateSuccessful = false; // Flaga sukcesu

            connection.on("ReceiveProgressUpdate", function (processedCount, totalProducts, updatedCount, skippedCount) {
                var percentage = Math.round((processedCount / totalProducts) * 100);
                var progressBarInner = document.getElementById("progressBarInner");
                var progressText = document.getElementById("progressText");

                progressBarInner.style.width = percentage + "%";
                progressBarInner.innerHTML = percentage + "%";
                progressText.innerHTML = `Wykryto aktualizację ceny dla ${updatedCount}/${totalProducts} produktów. Sprawdzono ${skippedCount} produktów.`;
            });

            connection.start().then(function () {
                console.log("SignalR connected.");
            }).catch(function (err) {
                return console.error(err.toString());
            });

            $('#updatePricesButton').on('click', function () {
                $('#updatePricesModal').modal('show');
            });

            $('#confirmUpdatePrices').on('click', function () {
                $('#updateStatusMessage').hide();
                $('#updateProgress').show();
                $('#cancelUpdatePrices').hide();
                $('#confirmUpdatePrices').prop('disabled', true);

                $.ajax({
                    url: '@Url.Action("UpdatePricesFromExternalStore", "PriceHistory")',
                    type: 'POST',
                    data: {
                        storeId: storeId
                    },
                    success: function (data) {
                        $('#updateProgress').hide();
                        $('#updateStatusMessage').show().text('Aktualizacja zakończona. Zaktualizowano ceny dla ' + data.updatedCount + ' produktów. Sprawdzono ' + data.skippedCount + ' produktów.');
                        $('#cancelUpdatePrices').show();
                        $('#confirmUpdatePrices').prop('disabled', false);
                        updateSuccessful = true; // Ustaw flagę sukcesu
                    },
                    error: function () {
                        $('#updateProgress').hide();
                        $('#updateStatusMessage').show().text('Twój sklep nie jest połączony po API.');
                        $('#cancelUpdatePrices').show();
                        $('#confirmUpdatePrices').prop('disabled', false);
                    }
                });
            });

            $('#cancelUpdatePrices').on('click', function () {
                $('#updatePricesModal').modal('hide');
            });

           
            $('#updatePricesModal').on('hidden.bs.modal', function () {
                if (updateSuccessful) {
                    location.reload(); 
                }
            });
        });
    </script>

}

<div class="modal fade" id="updatePricesModal" tabindex="-1" role="dialog" aria-labelledby="updatePricesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="price-box-column-name" id="updatePricesModalLabel">Aktualizuj Ceny API</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="updateStatusMessage">Czy na pewno chcesz zaktualizować ceny produktów ze zewnętrznego sklepu?</p>
                <div id="updateProgress" style="display: none;">
                    <p>Proszę czekać, trwa aktualizacja...</p>
                    <div class="progress">
                        <div id="progressBarInner" class="progress-bar" role="progressbar" style="width: 0%; background-color: #202430;">
                            0%
                        </div>
                    </div>
                    <p id="progressText"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="Button-Page-Small-r" id="cancelUpdatePrices" data-dismiss="modal">Zamknij</button>
                <button type="button" class="Button-Page-Small-b" id="confirmUpdatePrices">Aktualizuj Ceny API</button>
            </div>
        </div>
    </div>
</div>

<div id="flagModal" class="modal">
    <div class="modal-content">
        <div class="price-box-space">
            <div class="price-box-column-name">Przypisz flagi do produktu</div>

        </div>
        <div id="flagCheckboxes">
            @if (flags != null)
            {
                @foreach (var flag in flags)
                {
                    <label><input type="checkbox" class="form-check-input flagCheckbox" value="@flag.FlagId"> @flag.FlagName</label>
                    <br />
                }
            }
        </div>
        <button class="Button-Page-Small" id="saveFlagsButton">Zapisz</button>
    </div>
</div>