@using Newtonsoft.Json
@using PriceSafari.Models.ViewModels

@{
    ViewData["Title"] = "Historia Cen";
    var latestScrap = ViewBag.LatestScrap as PriceSafari.Models.ScrapHistoryClass;
    var storeId = ViewBag.StoreId;
    var storeLogo = ViewBag.StoreLogo;
    var scrapId = ViewBag.ScrapId;
    var flags = ViewBag.Flags as List<FlagViewModel>;
}

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@{
    var scrapDate = latestScrap?.Date.ToString("dd.MM.yyyy");
    var store = ViewBag.StoreName as string;
}

<style>

    .simulationProductTitle {
        text-decoration: none;
        color: #222222;
    }

        .simulationProductTitle:hover {
            color: #41C7C7;
            cursor: pointer;
        }

    .delivery-indicator {
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        height: 20.5px;
        line-height: 17.5px;
        margin-left: 5px;
        margin-right: 2px;
        border-radius: 4px;
        vertical-align: middle;
        box-sizing: border-box;
    }

        .delivery-indicator i.fa-truck {
            color: white;
            font-size: 14px;
        }

    .delivery-included-green {
        background-color: #28a745;
    }

    .delivery-not-included-red {
        background-color: #dc3545;
    }



</style>

<div class="Vert">
    <div class="Page-Box">
        <div class="Page-Box-Container">
            <div class="Page-Box-Category">
                <div><img src="@storeLogo" class="img-container" /></div>
                <div class="side-chart-box">
                    <canvas id="colorChart"></canvas>
                </div>

                <div class="store-section">

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prNoOfferCheckbox" value="prNoOffer">
                        <label class="form-check-label" for="prNoOfferCheckbox">Cena niedostępna</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prOnlyMeCheckbox" value="prOnlyMe">
                        <label class="form-check-label" for="prOnlyMeCheckbox">Cena solo</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prToHighCheckbox" value="prToHigh">
                        <label class="form-check-label" for="prToHighCheckbox">Cena zawyżona </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prMidCheckbox" value="prMid">
                        <label class="form-check-label" for="prMidCheckbox">Cena suboptymalna </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prGoodCheckbox" value="prGood">
                        <label class="form-check-label" for="prGoodCheckbox">Cena konkurencyjna </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prIdealCheckbox" value="prIdeal">
                        <label class="form-check-label" for="prIdealCheckbox">Cena strategiczna </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prToLowCheckbox" value="prToLow">
                        <label class="form-check-label" for="prToLowCheckbox">Cena zaniżona </label>
                    </div>

                    <div class="price-range-settings">
                        <div class="color-circle prMid-circle"></div>
                        <div class="legendBox">Próg c. subopt.</div>
                        <label for="price2"></label>
                        <input type="number" id="price2" value="@ViewBag.SetPrice2" step="0.01" min="0.01">
                        <span id="unitLabel2" style="display:flex; align-items:center;"></span>
                    </div>
                    <div class="price-range-settings">
                        <div class="color-circle prIdeal-circle"></div>
                        <div class="legendBox">Próg c. strateg.</div>
                        <label for="price1"></label>
                        <input type="number" id="price1" value="@ViewBag.SetPrice1" step="0.01" min="0.01">
                        <span id="unitLabel1" style="display:flex; align-items:center;"></span>
                    </div>
                    <div class="price-range-settings">
                        <div class="price-range-settings-stepPrice"></div>
                        <div class="legendBox">
                            Krok cenowy
                            <div id="stepPriceIndicator" class="step-indicator"></div>
                        </div>
                        <label for="stepPrice"></label>
                        <input type="number" id="stepPrice" value="@ViewBag.StepPrice" step="0.01" min="-100.00" max="100.00">
                        <span id="unitLabelStepPrice" style="display:flex; align-items:center;"></span>
                    </div>

                    <div>
                        <input class="diffCheckBox" style="margin-top: 10px;" type="checkbox" id="usePriceDifference" />

                    </div>
                    <button class="Button-Page-Small" style="margin-top: 4px;" id="savePriceValues">Przelicz i zapisz</button>
                </div>

                <div class="filterBox">

                    <div class="Category-Container-Select" style="margin-top:-2px;">Flagi <a asp-controller="Flags" asp-action="List" asp-route-storeId="@ViewBag.StoreId" class="link-line">+ Dodaj Flage</a></div>
                    <div class="store-section" id="flagContainer">
                    </div>

                    <div class="Category-Container-Select">Ceneo - Promowanie</div>
                    <div class="store-section">

                        <div class="form-check">
                            <input class="form-check-input bidFilter" type="checkbox" id="bidFilter">
                            <label class="form-check-label" for="bidFilter">Bid</label>
                        </div>

                    </div>
                    <div class="Category-Container-Select">Pozycja</div>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.css">

                    <div class="store-section">
                        <div class="position-slider-container">
                            <div id="positionRange" class="position-range-display" style="font-size:14px; font-weight:400;"></div>
                        </div>

                        <div id="positionRangeSlider"></div>
                    </div>

                    <div class="Category-Container-Select">Liczba ofert</div>
                    <div class="store-section">
                        <div class="offer-slider-container">
                            <div id="offerRange" class="offer-range-display" style="font-size:14px; font-weight:400;"></div>
                        </div>

                        <div id="offerRangeSlider"></div>
                    </div>

                    <div class="Category-Container-Select">Dostępność - Twój sklep</div>
                    <div class="store-section">
                        <div class="filter-category">
                            <div class="form-check">
                                <input class="form-check-input stockFilterMyStore" type="checkbox" id="stockAvailableMyStore" value="true">
                                <label class="form-check-label" for="stockAvailableMyStore">Dostępny</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input stockFilterMyStore" type="checkbox" id="stockUnavailableMyStore" value="false">
                                <label class="form-check-label" for="stockUnavailableMyStore">Niedostępny</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input stockFilterMyStore" type="checkbox" id="stockNoDataMyStore" value="null">
                                <label class="form-check-label" for="stockNoDataMyStore">Brak danych</label>
                            </div>
                        </div>
                    </div>
                    <div class="Category-Container-Select">Dostępność - konkurencja</div>
                    <div class="store-section">
                        <div class="filter-category">
                            <div class="form-check">
                                <input class="form-check-input stockFilterCompetitor" type="checkbox" id="stockAvailableCompetitor" value="true">
                                <label class="form-check-label" for="stockAvailableCompetitor">Dostępny</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input stockFilterCompetitor" type="checkbox" id="stockUnavailableCompetitor" value="false">
                                <label class="form-check-label" for="stockUnavailableCompetitor">Niedostępny</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input stockFilterCompetitor" type="checkbox" id="stockNoDataCompetitor" value="null">
                                <label class="form-check-label" for="stockNoDataCompetitor">Brak danych</label>
                            </div>
                        </div>
                    </div>

                        <div class="Category-Container-Select">Podejrzanie niska cena</div>
                        <div class="store-section">
                            <div class="filter-category">
                                <div class="form-check">
                                    <input class="form-check-input externalPriceFilter" type="checkbox" id="suspiciouslyLowFilter" value="1">
                                    <label class="form-check-label" for="suspiciouslyLowFilter">Pow. 25% odchylenia</label>
                                </div>

                            </div>
                        </div>

                   

                </div>

            </div>
            <div class="Horizontal">
                <div class="order-upper-box">

                    <input type="text" id="productSearch" style="max-width:150px; height:33.99px;" placeholder="Wyszukaj produkt">

                    <input type="text" id="storeSearch" style="max-width:150px; height:33.99px;" placeholder="Wyszukaj sklep">

                    <select id="producerFilterDropdown" class="DropDown" style="max-width:150px; height:33.99px;">
                        <option value="">Wszystkie marki</option>
                    </select>

                    <button type="button" class="Button-Page-Small" style="white-space: nowrap; height:33.99px;" id="presetButton" onclick="openCompetitorsModal()">
                        Presety
                    </button>

                    <button class="Button-Page-Small" style="white-space: nowrap;" id="exportToExcelButton"><i class="fa-solid fa-floppy-disk" style="margin-top:2px;"></i>Eksport</button>

                    <button type="button" class="Button-Page-Small" style="justify-self:flex-end; margin-right:4px;" data-toggle="modal" data-target="#infoModal">
                        <i class="fa fa-info-circle"></i>
                    </button>

                    <div class="SimpleSpace" style="justify-content:flex-end; margin-right: 12px;">
                        <div id="selectionContainer" class="selection-container">
                            <span id="selectedProductsCounter" class="ProductCount" style="width:126px; height:33.99px;">Wybrano: 0</span>

                            <button id="selectAllVisibleBtn" class="Button-Page-Small" style="width:48px;" title="Zaznacz wszystkie widoczne produkty">
                                <i class="fa-solid fa-square-check"></i>
                            </button>
                            <button id="deselectAllVisibleBtn" class="Button-Page-Small" style="width:48px;" title="Odznacz wszystkie widoczne produkty">
                                <i class="fa-solid fa-square-xmark"></i>
                            </button>
                            <button id="showSelectedProductsBtn" class="Button-Page-Small" style="width:89.25px;">Akcje</button>
                        </div>

                    </div>

                </div>

                <div id="sortingButtons">
                    <div class="ProductCount" id="displayedProductCount"></div>

                    <div id="paginationContainer"></div>

                    <button id="sortName">A-Z</button>
                    <button id="sortPrice">Cena</button>
                    <button id="sortRaiseAmount">Podnieś PLN</button>
                    <button id="sortRaisePercentage">Podnieś %</button>
                    <button id="sortLowerAmount">Obniż PLN</button>
                    <button id="sortLowerPercentage">Obniż %</button>
                    <button id="sortMarginAmount">Narzut PLN</button>
                    <button id="sortMarginPercentage">Narzut %</button>

                </div>

                <div class="buttonsContainer">
                    <div id="priceChangeSummary" class="priceChangeSummary">
                        <div id="summaryText"></div>
                        <button id="openMarginSettingsBtn" class="Button-Page-Small" style="width:48px;"><i class="fa fa-cog" aria-hidden="true"></i></button>
                        <button id="openMassChangeModalBtn" class="Button-Page-Small" style="width:48px;">
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                        </button>
                        <button id="simulateButton">Symuluj ceny</button>
                    </div>

                </div>
                <div class="Vert-table">
                    <div id="priceContainer" class="price-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-sim fade" id="simulationModal" tabindex="-1" role="dialog" aria-labelledby="simulationModalLabel">
    <div class="modal-dialog-sim" role="document">
        <div class="modal-simulation">
            <div class="modal-header" style="border:none;">
                <div class="price-box-column-name" id="simulationModalLabel">Symuluj ceny</div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-scroll" id="simulationModalBody"></div>
            </div>
            <div class="modal-footer">
                <div style="display:flex; width:100%; justify-content:space-between; align-items: center;">
                    <div style="display:inline-flex;">
                        <button type="button" id="clearChangesButton" class="Button-Page-Small-r">Usuń wszystkie zmiany</button>
                    </div>

                    <div style="display:inline-flex; gap:10px; align-items: center;">
                        <div style="display:flex; align-items:center; gap:5px;">
                            <input type="checkbox" id="extendedExportCheckbox">
                            <label for="extendedExportCheckbox" style="margin-bottom: 0;">Eksport rozszerzony</label>
                        </div>
                        <button id="exportToCsvButton" class="Button-Page-Small-bl"><i class="fa-solid fa-file-csv"></i>Eksportuj do CSV</button>
                        <button id="exportNewPriceToExcelButton" class="Button-Page-Small-gr"><i class="fas fa-file-excel"></i>Eksportuj do Excela</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exportDisclaimerModal" tabindex="-1" role="dialog" aria-labelledby="exportDisclaimerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:460px;">
            <div class="modal-header">
                <div class="price-box-column-name" id="exportDisclaimerModalLabel">Ostrzeżenie</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Nie ponosimy odpowiedzialności za możliwe błędne powiązania między produktami z programu PriceSafari
                    a dostarczonym feedem XML. Prosimy sprawdzić przed eksportem danych dokładność powiązań
                    i wprowadzać zmiany na własną odpowiedzialność. Wyeksportowanie zmian nie wprowadza żadnych zmian odnośnie
                    cen produktów w sklepie, dopóki użytkownik sam ich nie zaimportuje.
                </p>
            </div>
            <div class="modal-footer" style="justify-content:space-between;">
                <button type="button" class="Button-Page-Small-r" data-dismiss="modal">Anuluj</button>
                <button type="button" class="Button-Page-Small-bl" id="disclaimerConfirmButton">Kontynuuj</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deliveryDisclaimerModal" tabindex="-1" role="dialog" aria-labelledby="deliveryDisclaimerModalLabel" aria-hidden="true" style="z-index: 8555;">
    <div class="modal-dialog" style="max-width:1000px;" role="document">
        <div class="modal-content" style="width:800px; margin: 5% auto;">
            <div class="modal-header">
                <div class="price-box-column-name" id="deliveryDisclaimerModalLabel">Uwaga dotycząca symulacji cen z kosztem wysyłki</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="font-size: 14px; line-height: 1.6;">

                    Włączenie opcji "Uwzględniaj koszt wysyłki w cenie produktu" może znacząco wpłynąć na wyniki symulacji cenowej. System będzie porównywał ceny produktów wraz z kosztem wysyłki, co może prowadzić do odmiennych sugestii cenowych niż w przypadku porównania samych cen bazowych produktów.
                    <br /><br />
                    Pamiętaj, że podany koszt wysyłki może się różnić w zależności od gabarytów, wagi produktu oraz wybranej metody dostawy przez klienta.
                    <br /><br />
                    Jeżeli chcesz wykorzystywać ceny wraz z kosztem wysyłki, upewnij się, że konkurenci, których wybrano podczas tworzenia presetu, podają prawdziwe dane dotyczące cen wysyłki do wybranych kanałów, takich jak Google Shopping i Ceneo. Zdarza się, że ceny wysyłki są podawane błędnie lub nie są podawane wcale. Model wykorzysta również ceny wysyłki z Twojego sklepu, które zostały zebrane z ofert.
                    <br /><br />
                    <span style="font-weight: bold; display: flex; align-items: center; margin-bottom: 5px;">
                        <i class="fa fa-truck" style="color: #21a73e; font-size: 18px; margin-right: 8px;"></i>
                        Zielona ikona ciężarówki:
                    </span>
                    Oznacza, że dany sklep podał cenę wysyłki, a jej koszt wynosi 0,00 PLN lub jest wyższą, określoną kwotą.
                    <br />
                    <span style="font-weight: bold; display: flex; align-items: center; margin-top: 10px; margin-bottom: 5px;">
                        <i class="fa fa-truck" style="color: #f44336; font-size: 18px; margin-right: 8px;"></i>
                        Czerwona ikona ciężarówki:
                    </span>
                    Oznacza, że dany sklep nie podał kosztów dostawy dla wybranego produktu lub dane są niekompletne.
                    <br /><br />
                    W przypadku, gdy w źródłach danych używasz zarówno danych z Ceneo, jak i Google Shopping, pierwszeństwo w danych dotyczących wysyłki będą miały dane z Ceneo. Oznacza to, że jeśli Twój sklep posiada dane z obu tych źródeł dla danego produktu, a ceny za dostawę są różne (np. z powodu błędnego podania), wykorzystane zostaną dane z Ceneo.
                    <br /><br />
                    <strong style="color: #d9534f;">Zmiana tej opcji spowoduje usunięcie wszystkich danych z obecnej symulacji cenowej i konieczność ponownego przeliczenia.</strong>
                </p>
            </div>
            <div class="modal-footer" style="justify-content:space-between;">
                <button type="button" class="Button-Page-Small-r" data-dismiss="modal" id="deliveryDisclaimerCancelButton">Anuluj</button>
                <button type="button" class="Button-Page-Small-bl" id="deliveryDisclaimerConfirmButton">Kontynuuj</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="massChangeModal" tabindex="-1" role="dialog" aria-labelledby="massChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:1000px;">
        <div class="modal-content" style="width:900px;">
            <div class="modal-header">
                <div class="price-box-column-name" id="massChangeModalLabel">Masowa zmiana cen</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p style="margin-bottom:24px; line-height:1.6;">
                    Kliknięcie tego przycisku wykona masową zmianę cen produktów
                    (tylko w programie PriceSafari – nie wpływa to na ceny w Twoim sklepie).
                    Zmiana obejmie tylko produkty z co najmniej jedną ofertą konkurencyjną i kodem EAN.
                    Aby zawęzić listę produktów, skorzystaj z filtrów lub presetów.
                    Dla przykładu wybierz grupę cen konkurencyjnych, czyli produkty,
                    które Ty i najtańsi konkurenci sprzedajecie w tej samej cenie.
                    <br><br>
                    <strong>Przykład:</strong> ustaw krok cenowy na -0,01 PLN i kliknij
                    <em>„Przelicz i zapisz”</em>.
                    Następnie kliknięcie przycisku masowej zmiany cen obniży Twoje ceny
                    o wybrany krok (tu: -0,01 PLN) względem najtańszego konkurenta.
                    Dzięki temu Twoje produkty będą tańsze o 1 grosz, co uczyni Cię
                    najtańszym sprzedawcą w tej grupie – zwiększając sprzedaż przy minimalnej utracie marży.
                </p>

                <div style="display:flex; justify-content:space-between; align-items:flex-start;">
                    <div class="color-square-turquoise" style="margin-top:4px; flex-shrink:0;"></div>
                    <p style="width:800px; line-height:1.6; margin-left:12px;">
                        Krok cenowy to różnica między Twoją ceną a ofertą najtańszego konkurenta.
                        <br><br>
                        <strong>Przykład:</strong> jeśli Twój produkt kosztuje 1000 PLN, a konkurent oferuje go za 900 PLN,
                        to przy kroku -0,01 PLN Twoja cena po zmianie wyniesie 899,99 PLN.
                        Przy kroku 0,00 PLN cena zrówna się z konkurencją (900 PLN),
                        a przy 0,01 PLN wzrośnie do 900,01 PLN – będziesz droższy o 1 grosz.
                    </p>
                </div>
            </div>



            <div class="modal-footer" style="justify-content:center;">
              
                <button id="massStrategicBtn" class="Button-Page-Small" style="width:460px;">
                    Zastosuj masową zmianę cen z wybranym krokiem cenowym →<div class="color-square-turquoise" style="margin:0px;"></div>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="marginSettingsModal" tabindex="-1" role="dialog" aria-labelledby="marginSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:800px" role="document">
        <div class="modal-content" style="margin:10% auto;">
            <div class="modal-header">

                <div class="price-box-column-name" id="marginSettingsModalLabel">Konfiguracja symulacji cen</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:48px;">
                    Ustawienia symulacji cenowej pozwalają precyzyjnie określić, dla których produktów oraz w jaki sposób mają być modyfikowane ceny w oparciu o cenę zakupu. Jeśli chcesz, aby symulacja dotyczyła tylko produktów z określoną ceną zakupu, lub aby cena nie spadła poniżej ustalonego poziomu narzutu – skonfiguruj poniższe opcje.
                </p>
                <form id="marginSettingsForm">
                    <div style="display:flex; gap:6px; justify-content: space-between;">
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="identifierForSimulationInput">
                                Element nawigacyjny dla produktów
                            </label>
                            <select class="form-control" id="identifierForSimulationInput">
                                <option value="EAN">EAN</option>
                                <option value="ID">ID</option>
                                <option value="ProducerCode">Kod producenta</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-bottom:24px;  width:250px;">
                            <label for="useMarginForSimulationInput">
                                Symuluj tylko produkty posiadające cenę zakupu
                            </label>
                            <select class="form-control" id="useMarginForSimulationInput">
                                <option value="true">Tak</option>
                                <option value="false">Nie</option>
                            </select>
                        </div>
                    </div>
                    <div style="display:flex; gap:6px; justify-content: space-between;">
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="usePriceWithDeliveryInput">
                                Uwzględniaj koszt wysyłki w cenie produktu
                            </label>

                            <select class="form-control" id="usePriceWithDeliveryInput">
                                <option value="true">Tak</option>
                                <option value="false">Nie</option>
                            </select>

                        </div>
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="enforceMinimalMarginInput">
                                Zablokuj możliwość opuszczenia ceny, poniżej ceny zakupu
                            </label>
                            <select class="form-control" id="enforceMinimalMarginInput">
                                <option value="true">Tak</option>
                                <option value="false">Nie</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom:24px;">
                        <label for="minimalMarginPercentInput">
                            Minimalny narzut (%) – procent, poniżej którego cena nie może spaść
                        </label>
                        <input type="number" class="form-control" id="minimalMarginPercentInput" step="0.01" value="0.00">
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="justify-content:space-between;">
                <button type="button" class="Button-Page-Small" data-dismiss="modal">Anuluj</button>
                <button type="button" class="Button-Page-Small-bl" id="saveMarginSettingsBtn">Zapisz ustawienia</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-sim fade" id="competitorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog-sim" role="document">
        <div class="modal-simulation">

            <div class="modal-header">

                <div class="price-box-column-name">Presety</div>

                <div style="display:flex; gap:10px;">

                    <button id="addNewPresetBtn" class="Button-Page-Small-bl">Dodaj nowy preset</button>
                    <button type="button" class="close" data-dismiss="modal" style="width:33px; height:33px;" aria-label="Zamknij">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>

            <div class="modal-body">

                <div style="display:flex; justify-content:space-between; gap:24px;">

                    <div style="display:flex; flex-direction:column;">
                        <select id="presetSelect" style="width:460px;" class="DropDown"></select>
                        <div style="display:flex; justify-content:space-between; margin-top:10px; width:460px;">
                            <div>

                                <span id="activateButtonContainer"></span>

                            </div>
                            <div style="display:flex; gap:5px;">
                                <span id="editButtonContainer"></span>
                                <span id="deleteButtonContainer"></span>
                            </div>
                        </div>

                        <div id="newPresetSection" style="display:none; margin-bottom: 20px;">
                        </div>

                        <div style="display:flex; flex-direction:column; width:460px; border: 1px solid #EDEDED; padding:16px; border-radius:4px; margin-top:12px;">

                            <input type="text" id="competitorSearchInput" class="storeSearch" placeholder="Wyszukaj sklep konkurenta" />

                            <div style="display:flex; justify-content:space-between">
                                <div>
                                    <div class="Category-Container-Select">Źródło danych</div>
                                    <div class="store-section">

                                        <div class="form-check">
                                            <input class="form-check-input bidFilter" type="checkbox" id="googleCheckbox">
                                            <label class="form-check-label" style="display:flex; justify-content:center;" for="googleCheckbox"><img src="/images/GoogleShopping.png" alt="Google Icon" style="width:16px; height:16px; align-self:center; margin-right:6px;">Google</label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input bidFilter" type="checkbox" id="ceneoCheckbox">
                                            <label class="form-check-label" style="display:flex; justify-content:center;" for="ceneoCheckbox"><img src="/images/Ceneo.png" alt="Ceneo Icon" style="width:16px; height:16px; align-self:center; margin-right:6px;">Ceneo</label>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <div class="Category-Container-Select">Niezdefiniowane sklepy</div>
                                    <div class="store-section">

                                        <div class="form-check">
                                            <input class="form-check-input bidFilter" type="checkbox" id="useUnmarkedStoresCheckbox">
                                            <label class="form-check-label" style="display:flex; justify-content:center;" for="useUnmarkedStoresCheckbox">Wyświetlaj</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div style="display:flex; flex-direction:column; width:460px; margin-top:24px;">

                            <p style="margin-bottom:24px; font-size:15px;">
                                <strong>Presety umożliwiają filtrowanie wyświetlanych sklepów na podstawie zaawansowanych filtrów.</strong><br><br>
                                Aktywny preset automatycznie wpływa na widok główny – ukrywa lub pokazuje wybrane sklepy.
                                Jeśli wykluczysz np. Allegro, to nawet jeśli oferuje najniższą cenę, nie zostanie pokazane. System wybierze kolejny najtańszy sklep.
                                Opcja "Niezdefiniowane sklepy" pozwala masowo ustawić, czy wyświetlać sklepy, które nie mają przypisanej widoczności.
                            </p>

                            <div style="display:flex; margin-bottom:12px; font-size:15px;">
                                <div class="filterCompetitors-true" style="margin-right:8px;"><i class="fas fa-check"></i></div>
                                <p>
                                    Kliknij aby wyświetlać dany sklep.
                                </p>
                            </div>
                            <div style="display:flex; margin-bottom:12px; font-size:15px;">
                                <div class="filterCompetitors-false" style="margin-right:8px;"><i class="fas fa-times"></i></div>
                                <p>
                                    Kliknij aby ukryć dany sklep.
                                </p>
                            </div>

                            <div style="display:flex; margin-bottom:0px; font-size:15px;">
                                <div class="filterCompetitors-back" style="margin-right:8px;"><i class="fas fa-undo"></i></div>
                                <p>
                                    Cofnij zmianę dla wybranego sklepu.
                                </p>
                            </div>

                            <p style="margin-top:24px; font-size:15px;">
                                Wszystkie sklepy oznaczone kolorem jasnozielonym lub zielonym będą wyświetlane.
                                Sklepy oznaczone kolorem jasnoczerwonym lub czerwonym będą ukryte.
                                Kolor szary oznacza, że sklepy z danego źródła danych nie będą wyświetlane.
                            </p>

                        </div>

                    </div>
                    <div style="display: flex;
           flex-wrap: nowrap;
           gap: 24px;
           width: 100%;
           align-items: stretch;
           justify-content: space-between;">

                        <div style="flex: 1;">
                            <div class="table-scroll"
                                 style="max-height: 80vh;
                   min-height: 80vh;
                   overflow: auto;">
                                <table class="table-orders"
                                       style="width: 100%;
                      min-width: 500px;
                      white-space: nowrap;
                      table-layout: auto;">
                                    <thead>
                                        <tr>
                                            <th>
                                                <img src="/images/GoogleShopping.png"
                                                     alt="Google Icon"
                                                     style="width:17px; height:17px; margin-right:6px; margin-bottom:4px;">
                                                Sklepy Google
                                            </th>
                                            <th>Produkty</th>
                                            <th>Akcje</th>
                                        </tr>
                                    </thead>
                                    <tbody id="googleCompetitorsTableBody"></tbody>
                                </table>
                            </div>
                        </div>

                        <div style="flex: 1;">
                            <div class="table-scroll"
                                 style="max-height: 80vh;
                   min-height: 80vh;
                   overflow: auto;">
                                <table class="table-orders"
                                       style="width: 100%;
                      min-width: 500px;
                      white-space: nowrap;
                      table-layout: auto;">
                                    <thead>
                                        <tr>
                                            <th>
                                                <img src="/images/Ceneo.png"
                                                     alt="Ceneo Icon"
                                                     style="width:17px; height:17px; margin-right:4px; margin-bottom:4px;">
                                                Sklepy Ceneo
                                            </th>
                                            <th>Produkty</th>
                                            <th>Akcje</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ceneoCompetitorsTableBody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width:auto;">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Informacje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="gap:10px;">

                <div class="form-check-orders">
                    <div>
                        <p><strong>Wykonanie analizy:</strong> @latestScrap?.Date.ToString("dd.MM.yyyy")</p>
                        <p><strong>Ilość produktów:</strong> @ViewBag.ScrapedProducts</p>
                        <p><strong>Ilość zebranych cen:</strong> <span id="totalPriceCount">0</span></p>
                        <p><strong>Ilość produktów odrzuconych:</strong> <span id="missedProductsCount">0</span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="selectedProductsModal" tabindex="-1" role="dialog" aria-labelledby="selectedProductsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="margin: 10% auto; width:860px;">
            <div class="modal-header">
                <div class="price-box-column-name" id="selectedProductsModalLabel">
                    Zaznaczone produkty (<span id="selectedProductsModalCounter">0</span>)
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-4 p-3" style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <strong style="font-size: 1.1rem; color: #333;">Dostępne akcje masowe:</strong>
                        </div>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <button id="openBulkFlagModalBtn" class="Button-Page-Small-bl">
                                <i class="fa-solid fa-tags" style="margin-right: 5px;"></i> Zarządzaj flagami
                            </button>
                        </div>
                    </div>
                </div>

                <div id="selectedProductsList" class="table-scroll" style="max-height: 45vh; min-height: 40vh; overflow-y: auto;"> </div>
            </div>
        </div>
    </div>
</div>

<div id="globalNotification" style="
    display: none;
    position: fixed;
    width: 500px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #F65063;
    color: white;
    padding: 24px;
    text-align: left;

    border-radius: 10px;
    z-index: 1000;
">
</div>

<div id="globalUpdate" style="
    display: none;
    position: fixed;
    width: 500px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #006400;
    color: white;
    padding: 24px;
    text-align: left;

    border-radius: 10px;
    z-index: 1000;
">
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/exceljs@4.3.0/dist/exceljs.min.js"></script>

    <script>
        const storeId = @ViewBag.StoreId;
        const presetTypeContext = 0; 
        const priceHistoryPageContext = 'index';
        const flags = @Html.Raw(Json.Serialize(ViewBag.Flags ?? new List<FlagViewModel>()));
        const scrapDateJS = "@scrapDate";
        const myStoreNameJS = "@store";
        const globalLatestScrapId = "@scrapId";

        $(document).ready(function () {
            var $usePriceWithDeliveryInput = $('#usePriceWithDeliveryInput');
            var $deliveryDisclaimerModal = $('#deliveryDisclaimerModal');
            var $deliveryDisclaimerConfirmButton = $('#deliveryDisclaimerConfirmButton');
            var $deliveryDisclaimerCancelButton = $('#deliveryDisclaimerCancelButton');
            var originalDeliverySetting = $usePriceWithDeliveryInput.val();

            $usePriceWithDeliveryInput.on('change', function () {
                var selectedValue = $(this).val();

                if (selectedValue === 'true' && originalDeliverySetting === 'false') {

                    $(this).val('false');
                    $deliveryDisclaimerModal.modal('show');
                } else {

                    originalDeliverySetting = selectedValue;
                }
            });

            $deliveryDisclaimerConfirmButton.on('click', function () {

                $usePriceWithDeliveryInput.val('true');
                originalDeliverySetting = 'true';
                $deliveryDisclaimerModal.modal('hide');
            });

            $deliveryDisclaimerCancelButton.on('click', function () {

                $deliveryDisclaimerModal.modal('hide');
            });

            $deliveryDisclaimerModal.on('hidden.bs.modal', function () {

                 if ($usePriceWithDeliveryInput.val() === 'true' && originalDeliverySetting === 'false') {
                     $usePriceWithDeliveryInput.val('false');
                 }
            });

            $('#marginSettingsModal').on('show.bs.modal', function() {
                 originalDeliverySetting = $usePriceWithDeliveryInput.val();
            });

        });

    </script>

    <script src="~/js/member/PriceChange.min.js" asp-append-version="true"></script>
    <script src="~/js/member/CompetitorModal.js" asp-append-version="true"></script>
    <script src="~/js/member/pricehistory.min.js" asp-append-version="true"></script>

    <div id="loadingOverlay" class="loading-overlay" style="display: none;">
        <div class="loader"></div>
    </div>

    <div id="flagModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="flagModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="price-box-column-name" id="flagModalLabel">Zarządzaj flagami</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="flagModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="Button-Page-Small-r" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="Button-Page-Small-bl" id="saveFlagsButton">Zapisz zmiany</button>
                </div>
            </div>
        </div>
    </div>
}