@using Newtonsoft.Json

@{
    ViewData["Title"] = "Historia Cen";
    var latestScrap = ViewBag.LatestScrap as PriceSafari.Models.ScrapHistoryClass;
    var storeId = ViewBag.StoreId;
    var storeLogo = ViewBag.StoreLogo;
    var flags = ViewBag.Flags as List<PriceSafari.Models.FlagsClass>;
}

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@{
    var scrapDate = latestScrap?.Date.ToString("dd.MM.yyyy"); // np. 01.10.2023
    var store = ViewBag.StoreName as string;                  // np. "GK-Concept.com sp. z o.o."
}

<style>
  

    #sortingButtons {
        display: inline-flex;
        gap: 10px;
        height:34px;
    }

        #sortingButtons button {
            display:inline-flex;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            padding: 2px 12px;
            border: none;
            background-color: #e3e3e3;
            color: #4e4e4e;
            font-size: 13px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            border-radius: 4px;
       
        }

            #sortingButtons button.active {
                background-color: #323232;
                color: #e3e3e3;
            }

            #sortingButtons button:hover {
                background-color: #ccc;
                color: #4e4e4e;
            }

            #sortingButtons button.active:hover, {
                background-color: #323232;
                color: #e3e3e3;
                cursor: pointer;
            }

   

    .SimpleSpace {
        display: flex;
        justify-content: space-between;
        width: 100%
    }

    .SimpleHorizontal {
        display: flex;
        gap: 8px;
    }


    .position-slider-container {
        margin-bottom: 10px;
    }

        .position-slider-container input {
            border: 0;
            color: #888;
            font-weight: 300;
            text-align: center;
            font-size: 16px;
            width: 100%;
        }

   
    #positionRangeSlider {
        width: 85%; 
        margin-left:6px;
        
    
    }


    #offerRangeSlider {
        width: 85%;
        margin-left: 6px;
    }

    .offer-slider-container {
        margin-bottom: 10px;
    }


    /* Zmniejszenie wysokości suwaka */
    .noUi-target {
        height: 6px;
        border-radius: 2px !important;
    }

    /* Dostosowanie kolorów suwaka */
    .noUi-connect {
        background: rgba(34, 34, 34, .75) !important;
        max-height:8px;
    }

    .noUi-horizontal {
       max-height: 8px;
    }

    .noUi-touch-area {
        height: 100%;
        width: 100%;
 
    }


    .noUi-handle {
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        background: #FFF;
        cursor: default;
        box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    }


    .noUi-horizontal .noUi-handle {
        max-width: 14px;
        MAX-height: 16px;
        right: -10px !important;
        top: -5px !important;
    }

    .noUi-handle:after, .noUi-handle:before {
        content: none !important;
        display: none !important;
    

    }

    .noUi-base {
        background: #ccc; /* Kolor tła suwaka */
        max-height: 8px;
    }

    .arrow-up::before {
        content: '▲';
        color: red;
        margin-left: 5px;
    }

    .arrow-down::before {
        content: '▼';
        color: green;
        margin-left: 5px;
    }


    .price-action-line {
        display: flex;
        align-items: center;
   
    }

    .arrow-down-red::before {
        content: '▼';
        color: rgba(171, 37, 32, 0.7); /* Red color */
        margin-right: 5px;
        font-size: 16px;
    }



    .arrow-up-black::before {
        content: '▲';
        color: rgba(6, 6, 6, 0.7); /* Czarny kolor */
        margin-right: 5px;
        font-size: 16px;
    }

    .arrow-up-turquoise::before {
        content: '▲';
        color: rgba(0, 145, 123, 0.7);
        margin-right: 5px;
        font-size: 16px;
    }


    .arrow-down-turquoise::before {
        content: '▼';
        color: rgba(0, 145, 123, 0.7);
        margin-right: 5px;
        font-size: 16px;
    }


    .arrow-down-yellow::before {
        content: '▼';
        color: rgba(224, 168, 66, 0.9); /* Yellow color */
        margin-right: 5px;
        font-size: 16px;
    }
    .color-square-green {
        width: 16px;
        height: 24px;
        border-radius: 4px;
        background-color: rgba(117, 152, 112, 0.7);
        display: inline-block;
        margin-left: 14px;
    }


    .no-change-icon::before {

        content: '⬤';
        color: rgba(117, 152, 112, 0.7);
        font-size: 16px;
        margin-right: 5px;
    }


    .no-change-icon-turquoise::before {
        content: '⬤';
        color: rgba(0, 145, 123, 0.7);
        font-size: 16px;
        margin-right: 5px;
    }

    .arrow-down-green::before {
        content: '▼';
        color: rgba(117, 152, 112, 0.7);
        margin-right: 5px;
        font-size: 16px;
    }


    .color-square-turquoise {
        width: 16px;
        height: 24px;
        border-radius:4px;
        background-color: rgba(0, 145, 123, 0.7);
        display: inline-block;
        margin-left: 14px;
    }

    .price-box-column span {
        margin-right: 5px;
    }

    .price-box-externalInfo {
        display: flex;
        align-items: center;
        margin-left:26px;
        gap: 10px; /* Odstęp między elementami */
        margin-top:4px;
    }

    .highlighted-text {
        color: #9400D3;
        font-weight: 600;
        display: inline;
    }



    


    #paginationContainer {
        display: flex;
        gap:4px;
    }


    .modal-sim {
        display: none;
        position: fixed;
        z-index: 8000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

        .modal-sim.show {
            display: block;
        }

    .modal-dialog-sim {
        position: relative;
        width: 90%;

        margin: 20px auto;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
    }

    .modal-simulation {
        background-color: #fff;
        border: 1px solid #888;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding:24px;
        border-radius:10px;
    }

    .modal-header,
    .modal-footer {
        flex-shrink: 0;

    }

    .modal-body {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .table-scroll {
        flex: 1;
        overflow-y: auto;
        max-height:78vh;
        min-height:78vh;

    }


        .table-scroll::-webkit-scrollbar {
        width: 12px;
        position: absolute;
        right: -16px;
    }

        .table-scroll::-webkit-scrollbar-track {
        background: transparent;
        margin: 4px 0;
    }

        .table-scroll::-webkit-scrollbar-thumb {
        background: rgba(6, 6, 6, 0.5);
        border-radius: 5px;
        border: 4px solid transparent;
        background-clip: content-box;
    }

            .table-scroll::-webkit-scrollbar-thumb:hover {
            background: rgba(6, 6, 6, 0.7);
        }

    .modal-header .close {
        cursor: pointer;
    }

    small {
        display: inline-block;
        font-size:16px;
        margin-top: 12px;
        margin-bottom: 12px;
   
     
    }


    .simulate-change-btn {
        display: flex;
        background-color: #e3e3e3;
        color: #333;
        border: 1px solid #e3e3e3;
        align-items: center; /* wyśrodkowanie pionowe */
        justify-content: center; /* wyśrodkowanie poziome */
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
        height: 50px;
        margin-top: -10px;
        margin-bottom: -10px;
        margin-right: -10px;
        width:106px;
    }




    .priceChangeSummary {
        display: inline-flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
     
        color: #4e4e4e;
        font-size: 13px;
        gap: 10px;
        flex-wrap:nowrap;
      

    }

    .buttonsContainer {
        display: flex;     
        height: 34px;
        margin-right: 12px;
       
 
    }


    #simulateButton {
        
        color: #e3e3e3;
        background: #323232;
        border-radius:4px;
        height: 34px;
    }

    .price-change-down {
        display: inline-block;
        background-color: rgb(227, 227, 227);
        padding: 2px 4px;
        border-radius: 4px;
        height: 34px;
        width:50px;
        align-content:center;
        justify-content:center;
        text-align:center;
        margin-left:10px;
    }

    .price-change-up {
        display: inline-block;
        background-color: rgb(227, 227, 227);
        padding: 2px 4px;
        border-radius: 4px;
        height: 34px;
        align-content: center;
        justify-content: center;
        text-align: center;
        width: 50px;
    }


    .price-info-box {
        display: flex; /* lub flex-direction: column; w zależności jak chcesz je ułożyć */
        flex-direction: column;
        padding: 10px;
     
        border-radius: 5px;
        background: #fff; /* przykładowy kolor tła */
     
        max-width:300px;
    }

    .price-info-item {
        margin: 4px 0; /* odstęp między liniami w boxie */
        font-size: 16px;
       
    }


</style>

<div class="Vert">
    <div class="Page-Box">
        <div class="Page-Box-Container">
            <div class="Page-Box-Category">
                <div><img src="@storeLogo" class="img-container" /></div>
                <div class="side-chart-box">
                    <canvas id="colorChart"></canvas>
                </div>

                <div class="store-section">


            

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prOnlyMeCheckbox" value="prOnlyMe">
                        <label class="form-check-label" for="prOnlyMeCheckbox">Solo</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prToHighCheckbox" value="prToHigh">
                        <label class="form-check-label" for="prToHighCheckbox">Zawyżona </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prMidCheckbox" value="prMid">
                        <label class="form-check-label" for="prMidCheckbox">Suboptymalna </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prGoodCheckbox" value="prGood">
                        <label class="form-check-label" for="prGoodCheckbox">Konkurencyjna </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prIdealCheckbox" value="prIdeal">
                        <label class="form-check-label" for="prIdealCheckbox">Strategiczna </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="prToLowCheckbox" value="prToLow">
                        <label class="form-check-label" for="prToLowCheckbox">Zaniżona </label>
                    </div>

                   
                    <div class="price-range-settings">
                        <div class="color-circle prMid-circle"></div>
                        <label for="price2"></label>
                        <input type="number" id="price2" value="@ViewBag.SetPrice2" step="0.01" min="0.01" max="100">
                        <span id="unitLabel2"></span>
                    </div>
                    <div class="price-range-settings">
                        <div class="color-circle prIdeal-circle"></div>
                        <label for="price1"></label>
                        <input type="number" id="price1" value="@ViewBag.SetPrice1" step="0.01" min="0.01" max="100">
                        <span id="unitLabel1"></span>
                    </div>
                    <div class="price-range-settings">
                        <div class="price-range-settings-stepPrice"></div>
                        <label for="stepPrice"></label>
                        <input type="number" id="stepPrice" value="@ViewBag.PriceStep" step="0.01" min="0.01" max="100">
                        <span id="unitLabelStepPrice"></span>
                    </div>

                    <div>
                        <input class="diffCheckBox" style="margin-top: 10px;" type="checkbox" id="usePriceDifference" />

                    </div>
                    <button class="Button-Page-Small" style="margin-top: 2px;" id="savePriceValues">Przelicz</button>
                </div>

                <div class="filterBox">

                    <div class="Category-Container-Select" style="margin-top:-2px;">Flagi  <a asp-controller="Flags" asp-action="List" asp-route-storeId="@ViewBag.StoreId" class="link-line">+ Dodaj Flage</a></div>
                    <div class="store-section" id="flagContainer">
                    </div>

                    <div class="Category-Container-Select">Ceneo - Promowanie</div>
                    <div class="store-section">

                        <div class="form-check">
                            <input class="form-check-input bidFilter" type="checkbox" id="bidFilter">
                            <label class="form-check-label" for="bidFilter">Bid</label>
                        </div>

                    </div>
                    <div class="Category-Container-Select">Pozycja</div>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.css">

                    <div class="store-section">
                        <div class="position-slider-container">
                            <div id="positionRange" class="position-range-display" style="font-size:14px; font-weight:400;"></div>
                        </div>

                        <div id="positionRangeSlider"></div>
                    </div>


                    <div class="Category-Container-Select">Liczba ofert</div>
                    <div class="store-section">
                        <div class="offer-slider-container">
                            <div id="offerRange" class="offer-range-display" style="font-size:14px; font-weight:400;"></div>
                        </div>

                        <div id="offerRangeSlider"></div>
                    </div>

                   

                    <div class="Category-Container-Select">Ceneo - Twój sklep </div>
                    <div class="store-section">
                        <div class="filter-category">

                            <div class="form-check">
                                <input class="form-check-input deliveryFilterMyStore" type="checkbox" id="delivery1MyStore" value="1">
                                <label class="form-check-label" for="delivery1MyStore">Wysyłka w 1 dzień</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input deliveryFilterMyStore" type="checkbox" id="delivery3MyStore" value="3">
                                <label class="form-check-label" for="delivery3MyStore">Wysyłka w 3 dni</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input deliveryFilterMyStore" type="checkbox" id="delivery7MyStore" value="7">
                                <label class="form-check-label" for="delivery7MyStore">Wysyłka w 7 dni</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input deliveryFilterMyStore" type="checkbox" id="delivery14MyStore" value="14">
                                <label class="form-check-label" for="delivery14MyStore">Wysyłka w 14 dni</label>
                            </div>
                        </div>
                        <div class="Category-Container-Select">Ceneo - konkurencja</div>
                        <div class="store-section">
                            <div class="filter-category">

                                <div class="form-check">
                                    <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="delivery1Competitor" value="1">
                                    <label class="form-check-label" for="delivery1Competitor">Wysyłka w 1 dzień</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="delivery3Competitor" value="3">
                                    <label class="form-check-label" for="delivery3Competitor">Wysyłka w 3 dni</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="delivery7Competitor" value="7">
                                    <label class="form-check-label" for="delivery7Competitor">Wysyłka w 7 dni</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="delivery14Competitor" value="14">
                                    <label class="form-check-label" for="delivery14Competitor">Wysyłka w 14 dni</label>
                                </div>
                            </div>
                        </div>

                        <div class="Category-Container-Select">Podejrzanie niska cena</div>
                        <div class="store-section">
                            <div class="filter-category">
                                <div class="form-check">
                                    <input class="form-check-input externalPriceFilter" type="checkbox" id="suspiciouslyLowFilter" value="1">
                                    <label class="form-check-label" for="suspiciouslyLowFilter">Pow. 25% odchylenia</label>
                                </div>
                                
                            </div>
                        </div>


                        <div class="Category-Container-Select">Zmieniona cena</div>
                        <div class="store-section">
                            <div class="filter-category">
                                <div class="form-check">
                                    <input class="form-check-input externalPriceFilter" type="checkbox" id="externalPriceYes" value="yes">
                                    <label class="form-check-label" for="externalPriceYes">Tak</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input externalPriceFilter" type="checkbox" id="externalPriceNo" value="no">
                                    <label class="form-check-label" for="externalPriceNo">Nie</label>
                                </div>
                            </div>
                        </div>




                    </div>

                </div>

            </div>
            <div class="Horizontal">
                <div class="order-upper-box">

                    <input type="text" id="productSearch" style="max-width:150px;" placeholder="Wyszukaj produkt">

                    <input type="text" id="storeSearch" style="max-width:150px;" placeholder="Wyszukaj sklep">



                    <form id="filterForm">
                        
                        <div style="display: inline-block;">
                            <select id="sourceSelect" name="source" class="DropDown" style="width:150px;">
                                <option value="All">Wszystkie dane</option>
                                <option value="Google">Tylko Google</option>
                                <option value="Ceneo">Tylko Ceneo</option>
                            </select>
                        </div>
                    </form>

                    <div>

                        <select id="competitorStoreSelect" name="competitorStore" class="DropDown" style="max-width:150px;">
                            <option value="">Najlepsza cena</option>
                        </select>
                    </div>
                    <button class="Button-Page-Small" id="updatePricesButton">API</button>
                    <button class="Button-Page-Small" id="exportToExcelButton">Eksportuj</button>



                    <div class="SimpleSpace">
                        <div class="SimpleHorizontal">
                            <div class="form-check-orders">
                                <div>

                                    <p><strong>Data:</strong> @latestScrap?.Date.ToString("dd.MM.yyyy")</p>
                                    <p><strong>Ceny:</strong> <span id="totalPriceCount">0</span></p>
                                </div>
                            </div>
                            <div class="form-check-orders">

                                <div>
                                    <p><strong>Produkty:</strong> @ViewBag.ScrapedProducts</p>
                                    <p><strong>Odrzucone:</strong> <span id="missedProductsCount">0</span></p>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div id="sortingButtons">
                    <div class="ProductCount" id="displayedProductCount"></div>


                    <div id="paginationContainer"></div>

                


                    <button id="sortName">A-Z</button>
                    <button id="sortPrice">Cena</button>
                    <button id="sortRaiseAmount">Podnieś PLN</button>
                    <button id="sortRaisePercentage">Podnieś %</button>
                    <button id="sortLowerAmount">Obniż PLN</button>
                    <button id="sortLowerPercentage">Obniż %</button>
                    <button id="sortMarginAmount">Marża PLN</button>
                    <button id="sortMarginPercentage">Marża %</button>
                    <button id="showRejectedButton">Odrzucone</button>
                </div>


                <div class="buttonsContainer">
                    <div id="priceChangeSummary" class="priceChangeSummary">
                        <div id="summaryText"></div>
                        <button id="simulateButton">Symuluj zmiany cen</button>
                    </div>
                    <button id="openMassChangeModalBtn" class="btn btn-primary">
                        Masowa zmiana cen
                    </button>
                    <button id="openMarginSettingsBtn" class="Button-Page-Small"><i class="fa fa-cog" aria-hidden="true"></i></button>

                </div>
                <div class="Vert-table">
                    <div id="priceContainer" class="price-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal-sim fade" id="simulationModal" tabindex="-1" role="dialog" aria-labelledby="simulationModalLabel">
    <div class="modal-dialog-sim" role="document">
        <div class="modal-simulation">
            <div class="modal-header" style="border:none;">
                <div class="price-box-column-name" id="simulationModalLabel">Symulacja zmian cen</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-scroll" id="simulationModalBody"></div>
            </div>
            <!-- Przykładowo w stopce modalu symulacji -->
            <div class="modal-footer">
                <button type="button" id="clearChangesButton" class="btn btn-warning">Wyczyść zmiany</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button id="exportToCsvButton">Eksportuj do CSV</button>
                <button id="exportToExcelButton">Eksportuj do Excela</button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="massChangeModal" tabindex="-1" role="dialog" aria-labelledby="massChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="price-box-column-name" id="massChangeModalLabel">Masowa zmiana cen</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:36px;">
                    Kliknięcie przycisku przeniesie wyświetlone obecnie produkty do wybranej grupy cenowej. Przeniesione zostaną jedynie produkty, które posiadają przynajmniej jedną ofertę konkurencyjną oraz kod EAN. Aby ograniczyć wyświetlaną grupę produktów, skorzystaj z filtrów.
                </p>

                <div style="display:flex; justify-content:space-between; margin-bottom:24px;">
                    <div class="color-square-green" style="margin:0px;"></div>
                    <p style="width:500px;">
                        Cena konkurencyjna oznacza, że Twoja oferta zrówna się ceną z inną lub innymi najtańszymi ofertami. 
                    </p>
                </div>

                <div style="display:flex; justify-content:space-between;">
                    <div class="color-square-turquoise" style="margin:0px;"></div>
                    <p style="width:500px;">
                        Cena strategiczna oznacza, że Twoja oferta będzie najtańsza dla danego produktu oraz tańsza od konkurencji o określony krok cenowy.
                    </p>
                </div>
            </div>

            <div class="modal-footer" style="justify-content:center;">
                <button id="massMatchBtn" class="Button-Page-Small" style="width:300px;">
                    Przenieś do ceny konkurencyjnej →<div class="color-square-green" style="margin:0px;"></div>
                </button>
                <button id="massStrategicBtn" class="Button-Page-Small" style="width:300px;">
                    Przenieś do ceny strategicznej →<div class="color-square-turquoise" style="margin:0px;"></div>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="marginSettingsModal" tabindex="-1" role="dialog" aria-labelledby="marginSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
             
                <div class="price-box-column-name" id="marginSettingsModalLabel">Konfiguracja symulacji cen</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:48px;">
                    Ustawienia symulacji marżowej umożliwiają precyzyjne określenie, dla których produktów oraz w jaki sposób mają być modyfikowane ceny w oparciu o cenę zakupu. Jeśli chcesz, aby symulacja dotyczyła tylko produktów z określoną ceną zakupu, lub aby cena nie spadła poniżej ustalonego poziomu marży – skonfiguruj poniższe opcje.
                </p>
                <form id="marginSettingsForm">
                    <div class="form-group" style="margin-bottom:24px;">
                        <label for="useMarginForSimulationInput">
                            Stosuj symulację tylko dla produktów posiadających cenę zakupu
                        </label>
                        <select class="form-control" id="useMarginForSimulationInput">
                            <option value="true">Tak</option>
                            <option value="false">Nie</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-bottom:24px;">
                        <label for="enforceMinimalMarginInput">
                            Zablokuj możliwość opuszczenia ceny, poniżej ceny zakupu
                        </label>
                        <select class="form-control" id="enforceMinimalMarginInput">
                            <option value="true">Tak</option>
                            <option value="false">Nie</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-bottom:24px;">
                        <label for="minimalMarginPercentInput">
                            Minimalna marża (%) – minimalny procent, poniżej którego cena nie może spaść
                        </label>
                        <input type="number" class="form-control" id="minimalMarginPercentInput" step="0.01" value="0.00">
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="justify-content:space-between;">
                <button type="button" class="Button-Page-Small" data-dismiss="modal">Anuluj</button>
                <button type="button" class="Button-Page-Small-bl" id="saveMarginSettingsBtn">Zapisz ustawienia</button>
            </div>
        </div>
    </div>
</div>




<div id="globalNotification" style="
    display: none;
    position: fixed;
    width: 500px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #F65063;
    color: white;
    padding: 24px;
    text-align: left;
   
    border-radius: 10px;
    z-index: 1000;
">
   
</div>

<div id="globalUpdate" style="
    display: none;
    position: fixed;
    width: 500px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #006400;
    color: white;
    padding: 24px;
    text-align: left;

    border-radius: 10px;
    z-index: 1000;
">
    <!-- Treść powiadomienia -->
</div>





@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://cdn.jsdelivr.net/npm/exceljs@4.3.0/dist/exceljs.min.js"></script>

    <script>
        var storeId = '@storeId';
    </script>
    <script>
        var flags = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Flags));
    </script>
    <script src="~/js/member/PriceChange.js"></script>
    <script src="~/js/member/PriceHistory.js"></script>
    <script>
        
        var scrapDateJS = "@scrapDate";
        var myStoreNameJS = "@store";
    </script>

  






    <script>
        $(document).ready(function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/scrapingHub").build();
            var updateSuccessful = false; 

            connection.on("ReceiveProgressUpdate", function (processedCount, totalProducts, updatedCount, skippedCount) {
                var percentage = Math.round((processedCount / totalProducts) * 100);
                var progressBarInner = document.getElementById("progressBarInner");
                var progressText = document.getElementById("progressText");

                progressBarInner.style.width = percentage + "%";
                progressBarInner.innerHTML = percentage + "%";
                progressText.innerHTML = `Wykryto aktualizację ceny dla ${updatedCount}/${totalProducts} produktów. Sprawdzono ${skippedCount} produktów.`;
            });

            connection.start().then(function () {
                console.log("SignalR connected.");
            }).catch(function (err) {
                return console.error(err.toString());
            });

            $('#updatePricesButton').on('click', function () {
                $('#updatePricesModal').modal('show');
            });

            $('#confirmUpdatePrices').on('click', function () {
                $('#updateStatusMessage').hide();
                $('#updateProgress').show();
                $('#cancelUpdatePrices').hide();
                $('#confirmUpdatePrices').prop('disabled', true);

                $.ajax({
                    url: '@Url.Action("UpdatePricesFromExternalStore", "PriceHistory")',
                    type: 'POST',
                    data: {
                        storeId: storeId
                    },
                    success: function (data) {
                        $('#updateProgress').hide();
                        $('#updateStatusMessage').show().text('Aktualizacja zakończona. Zaktualizowano ceny dla ' + data.updatedCount + ' produktów. Sprawdzono ' + data.skippedCount + ' produktów.');
                        $('#cancelUpdatePrices').show();
                        $('#confirmUpdatePrices').prop('disabled', false);
                        updateSuccessful = true; 
                    },
                    error: function () {
                        $('#updateProgress').hide();
                        $('#updateStatusMessage').show().text('Twój sklep nie jest połączony po API.');
                        $('#cancelUpdatePrices').show();
                        $('#confirmUpdatePrices').prop('disabled', false);
                    }
                });
            });

            $('#cancelUpdatePrices').on('click', function () {
                $('#updatePricesModal').modal('hide');
            });

           
            $('#updatePricesModal').on('hidden.bs.modal', function () {
                if (updateSuccessful) {
                    location.reload(); 
                }
            });
        });
    </script>


}



<div id="loadingOverlay" class="loading-overlay" style="display: none;">
    <div class="loader"></div>
</div>



<div class="modal fade" id="updatePricesModal" tabindex="-1" role="dialog" aria-labelledby="updatePricesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="price-box-column-name" id="updatePricesModalLabel">Aktualizuj Ceny API</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="updateStatusMessage">Czy na pewno chcesz zaktualizować ceny produktów ze zewnętrznego sklepu?</p>
                <div id="updateProgress" style="display: none;">
                    <p>Proszę czekać, trwa aktualizacja...</p>
                    <div class="progress">
                        <div id="progressBarInner" class="progress-bar" role="progressbar" style="width: 0%; background-color: #202430;">
                            0%
                        </div>
                    </div>
                    <p id="progressText"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="Button-Page-Small-r" id="cancelUpdatePrices" data-dismiss="modal">Zamknij</button>
                <button type="button" class="Button-Page-Small-b" id="confirmUpdatePrices">Aktualizuj Ceny API</button>
            </div>
        </div>
    </div>
</div>

<div id="flagModal" class="modal">
    <div class="modal-content">
        <div class="price-box-space">
            <div class="price-box-column-name">Przypisz flagi do produktu</div>

        </div>
        <div id="flagCheckboxes">
            @if (flags != null)
            {
                @foreach (var flag in flags)
                {
                    <label><input type="checkbox" class="form-check-input flagCheckbox" value="@flag.FlagId"> @flag.FlagName</label>
                    <br />
                }
            }
        </div>
        <button class="Button-Page-Small" id="saveFlagsButton">Zapisz</button>
    </div>
</div>