@model PriceSafari.Controllers.ManagerControllers.DatabaseSizeSummaryViewModel

@{
    ViewData["Title"] = "Rozmiar Tabel";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Rozmiar Tabel</h2>

<h3>Łączna ilość PriceHistories: @Model.TotalPriceHistories</h3>
<h3>Łączna użyta przestrzeń: @Model.TotalUsedSpaceMB MB</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa Sklepu</th>
            <th>Łączna ilość PriceHistories</th>
            <th>Łączna użyta przestrzeń (MB)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StoreSummaries)
        {
            <tr>
                <td><a href="@Url.Action("StoreDetails", new { storeId = item.StoreId })">@item.StoreName</a></td>
                <td>@item.TotalPriceHistoriesCount</td>
                <td>@item.TotalUsedSpaceMB</td>
            </tr>
        }
    </tbody>
</table>
