@model PriceSafari.Controllers.ManagerControllers.DatabaseSizeSummaryViewModel

@{
    ViewData["Title"] = "Rozmiar Tabel";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


    <table class="table table-bordered>
        <thead class="thead-dark">
            <tr>
                <th colspan="2" class="text-center">Rozmiary bazy danych </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Łączna ilość <strong>PriceHistories</strong></td>
                <td class="text-right">@Model.TotalPriceHistories.ToString("N0")</td>
            </tr>
            <tr>
                <td>Łączna użyta przestrzeń dla <strong>PriceHistories</strong> </td>
            <td class="text-right">@Model.TotalUsedSpaceMB.ToString("N2") (MB)</td>
            </tr>
            <tr>
                <td>Łączna ilość <strong>GlobalPriceReports</strong></td>
                <td class="text-right">@Model.TotalGlobalPriceReportsCount.ToString("N0")</td>
            </tr>
            <tr>
                <td>Łączna użyta przestrzeń dla <strong>GlobalPriceReports</strong></td>
            <td class="text-right">@Model.TotalGlobalPriceReportsUsedSpaceMB.ToString("N2") (MB)</td>
            </tr>
        </tbody>
    </table>


<table class="table">
    <thead>
        <tr>
            <th>Nazwa Sklepu</th>
            <th>Ilość PriceHistories</th>
            <th>Użyta przestrzeń PriceHistories (MB)</th>
            <th>Ilość GlobalPriceReports</th>
            <th>Użyta przestrzeń GlobalPriceReports (MB)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StoreSummaries)
        {
            <tr>
                <td><a href="@Url.Action("StoreDetails", new { storeId = item.StoreId })">@item.StoreName</a></td>
                <td>@item.TotalPriceHistoriesCount</td>
                <td>@item.TotalUsedSpaceMB</td>
                <td>@item.TotalGlobalPriceReportsCount</td>
                <td>@item.TotalGlobalPriceReportsUsedSpaceMB</td>
            </tr>
        }
    </tbody>
</table>
