@model PriceSafari.Controllers.ManagerControllers.StoreDetailsViewModel

@{
    ViewData["Title"] = "Szczegóły Sklepu";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Szczegóły Sklepu: @Model.StoreName</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID Scrapowania</th>
            <th>Ilość PriceHistories</th>
            <th>Użyta Przestrzeń (MB)</th>
            <th>Akcje</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TableSizes)
        {
            <tr>
                <td>@item.ScrapHistoryId</td>
                <td>@item.PriceHistoriesCount</td>
                <td>@item.UsedSpaceMB</td>
                <td>
                    <form method="post" asp-action="DeleteScrapHistory" asp-route-id="@item.ScrapHistoryId" onsubmit="return confirm('Czy na pewno chcesz usunąć to scrapowanie?');">
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td> 
            </tr>
        }
    </tbody>
</table>
