@model List<GoogleScrapingProduct>

@{

    Layout = "~/Views/Shared/_PanelLayout.cshtml";

}




<!-- Progres bar dla statusu scrapowania -->


<div class="Vert">
    <div class="Vert-full">
        <div class="price-box-space">
            <div class="Order-Container-Title">
                Scraper Google Shopping
            </div>
            <form asp-action="StartScraping" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <select name="selectedRegion" class="form-control" id="region" required onchange="updateCountryCode()">
                        <option value="">-- Wybierz region --</option> <!-- Domyślna opcja -->
                        @foreach (var region in ViewBag.Regions)
                        {
                            <option value="@region.RegionId" data-country-code="@region.CountryCode">@region.Name</option>
                        }
                    </select>
                </div>
                <input type="hidden" id="countryCode" name="countryCode" />
                <button type="submit" class="btn btn-primary">URUCHOM BOT</button>
            </form>

            <script>
                function updateCountryCode() {
                    var selectedOption = document.getElementById("region").options[document.getElementById("region").selectedIndex];
                    var countryCode = selectedOption.getAttribute("data-country-code");
                    document.getElementById("countryCode").value = countryCode;
                }

                function validateForm() {
                    var selectedRegion = document.getElementById("region").value;
                    var countryCode = document.getElementById("countryCode").value;

                    if (selectedRegion === "") {
                        alert("Proszę wybrać region.");
                        return false; // Zapobiega wysłaniu formularza
                    }

                    if (countryCode === "") {
                        alert("Brak kodu kraju. Proszę wybrać poprawny region.");
                        return false; // Zapobiega wysłaniu formularza, jeśli countryCode jest pusty
                    }

                    return true; // Formularz może zostać wysłany
                }
            </script>


            <script>
                function updateCountryCode() {
                    var selectedOption = document.getElementById("region").options[document.getElementById("region").selectedIndex];
                    var countryCode = selectedOption.getAttribute("data-country-code");
                    document.getElementById("countryCode").value = countryCode;
                }

                function validateForm() {
                    var selectedRegion = document.getElementById("region").value;
                    if (selectedRegion === "") {
                        alert("Proszę wybrać region.");
                        return false; // Zapobiega wysłaniu formularza
                    }
                    return true;
                }
            </script>

            <form asp-action="ClearPreparedProducts" method="post" onsubmit="return confirm('Are you sure you want to clear all prepared products?');">
                <button type="submit" class="btn btn-danger mt-3">Usun wszystkie</button>
            </form>

            <form asp-action="ResetAllScrapingStatuses" method="post">
                <button type="submit" class="btn btn-secondary">Resetuj Statusy</button>
            </form>
        </div>
      
            
            <div class="d-flex mb-3">
                <p class="me-4">Liczba produktów do scrapowania: <span id="totalCount" class="badge bg-secondary">0</span></p>
                <p>Liczba zescrapowanych produktów: <span id="scrapedCount" class="badge bg-success">0</span></p>
            </div>
       
        

        <div class="progress mb-3">
            <div id="scrapingProgressBar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
        <div class="Vert-table">

            <table class="table-orders">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Google URL</th>
                        <th>Region ID</th>
                        <th>Status Scrapowania</th>
                        <th>Znalezione oferty</th>
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody id="productTable">
                    @foreach (var product in Model)
                    {
                        <tr id="productRow-@product.ScrapingProductId">
                            <td>@product.ScrapingProductId</td>
                            <td>@product.GoogleUrl</td>
                            <td>@product.RegionId</td>
                            <td>
                                @if (product.IsScraped == true)
                                {
                                    <span style="color:green;">Zescrapowano</span>
                                }
                                else if (product.IsScraped == false)
                                {
                                    <span style="color:red;">Nieudane</span>
                                }
                                else
                                {
                                    <span style="color:gray;">Nie zescrapowano</span>
                                }
                            </td>
                            <td>@product.OffersCount</td>
                            <td>
                                <form asp-action="ResetScrapingStatus" method="post">
                                    <input type="hidden" name="productId" value="@product.ScrapingProductId" />
                                    <button type="submit" class="btn btn-warning">Resetuj Status</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script> <!-- Użycie oficjalnej wersji SignalR -->
    <script>
        $(document).ready(function () {
          

            
            const connection = new signalR.HubConnectionBuilder().withUrl("/scrapingHub").build();

           
            connection.on("ReceiveProgressUpdate", function (totalScraped, totalProducts, elapsedSeconds, rejectedCount) {
              

                $('#scrapedCount').text(totalScraped);
                $('#totalCount').text(totalProducts);

            
                const progressPercentage = Math.round((totalScraped / totalProducts) * 100);
                $('#scrapingProgressBar').css('width', progressPercentage + '%').attr('aria-valuenow', progressPercentage).text(progressPercentage + '%');

                // Opcjonalnie, możesz także zaktualizować tabelę na podstawie nowych danych
                updateTableRow(totalScraped);
            });

            connection.start().then(function () {
                console.log("SignalR connection established.");
            }).catch(function (err) {
                return console.error(err.toString());
            });

            // Funkcja do aktualizacji wiersza w tabeli
            function updateTableRow(productId) {
                const row = $('#productRow-' + productId);
                if (row.length) {
                    row.find('td:eq(3)').html('<span style="color:green;">Zescrapowano</span>'); // Aktualizacja statusu scrapowania
                }
            }
        });
    </script>
    <script>
        function updateCountryCode() {
            var select = document.getElementById("region");
            var selectedOption = select.options[select.selectedIndex];
            var countryCode = selectedOption.getAttribute("data-country-code");
            document.getElementById("countryCode").value = countryCode;
        }
    </script>
}

