@model IEnumerable<dynamic>

@{

    Layout = "~/Views/Shared/_PanelLayout.cshtml";

}


<h1>Lista raportów, powiązanych produktów i regionów</h1>

<form asp-action="UnpackReports" method="post">
    <button type="submit" class="btn btn-primary">Rozpakuj wybrane raporty</button>
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa raportu</th>
                <th>Sklep</th>
                <th>Produkty</th>
                <th>Regiony</th>
                <th>Wybierz raport</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model)
            {
                <tr>
                    <td>@report.ReportName</td>
                    <td>@report.StoreName</td>
                    <td>
                        <ul>
                            @foreach (var product in report.Products)
                            {
                                <li>
                                    <strong>@product.ProductName</strong>
                                    @if (!string.IsNullOrEmpty(product.GoogleUrl))
                                    {
                                        <span>@product.GoogleUrl</span>
                                    }
                                    else
                                    {
                                        <span>Brak URL</span>
                                    }
                                    <!-- Dodanie ukrytych pól dla ID produktów -->
                                    <input type="hidden" name="ProductIds[@report.ReportId]" value="@product.ProductId" />
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var region in report.Regions)
                            {
                                <li>@region.RegionName</li>
                                <!-- Dodanie ukrytych pól dla ID regionów -->
                                <input type="hidden" name="RegionIds[@report.ReportId]" value="@region.RegionId" />
                            }
                        </ul>
                    </td>
                    <td>
                        <input type="checkbox" name="selectedReportIds" value="@report.ReportId" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
