@model List<PriceSafari.Models.ManagerViewModels.GroupedGlobalPriceReportViewModel>

@{

    Layout = "~/Views/Shared/_PanelLayout.cshtml";

}


<h2 class="my-4">Raport globalnych cen produktów</h2>

@if (Model.Any())
{
    <form asp-action="TruncateGlobalPriceReports" method="post">
        <input type="hidden" name="reportId" value="@ViewBag.ReportId" />
        <button type="submit" class="btn btn-danger">Usuń raport</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nazwa produktu</th>
                <th>Google URL</th>
                <th>Ceny</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productGroup in Model)
            {
                <tr>
                    <td>@productGroup.ProductName</td>
                    <td><a href="@productGroup.GoogleUrl" target="_blank">@productGroup.GoogleUrl</a></td>
                    <td>
                        <ul>
                            @foreach (var price in productGroup.Prices.OrderBy(p => p.CalculatedPrice)) 
                            {
                                <li>
                                    Region: @price.RegionId, 
                                    Przeliczona cena: @price.CalculatedPrice zł, 
                                    Przeliczona cena z dostawą: @price.CalculatedPriceWithDelivery zł, 
                                    Oryginalna cena: @price.Price zł, 
                                    Cena z dostawą: @price.PriceWithDelivery zł, 
                                    Sklep: @price.StoreName,
                                    <a href="@price.OfferUrl" target="_blank">Zobacz ofertę</a>
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Brak raportów do wyświetlenia.</p>
}