@model List<PriceSafari.Models.ViewModels.ChanelViewModel>

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<div class="Vert">
    <div class="Vert-full">
        <div class="Order-Container-Title">
            Monitoring cen
        </div>
        @if (Model != null && Model.Any())
        {
            <div class="Vert-table">
                <table class="table-orders">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kanał</th>
                            <th>Ostatnia analiza</th>
                            <th>Czas od ostatniej analizy</th>
                            <th>Źródło danych</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var store in Model)
                        {

                            <tr class="store-row" data-last-scrape="@store.LastScrapeDate?.ToString("o")">
                                <td>
                                    <img src="@store.LogoUrl" class="img-container" alt="@store.StoreName" />
                                </td>
                                <td>
                                    @store.StoreName
                                </td>
                                <td>@store.LastScrapeDate?.ToString("g")</td>
                                <td class="time-since-last-scrape"></td>
                                <td>
                                    <a href="@Url.Action("Index", "PriceHistory", new { storeId = store.StoreId })"
                                       class="Button-select @(!(store.OnCeneo || store.OnGoogle) ? "button-disabled" : "")"
                                       style="margin-right: 4px;"
                                       title="Porównywarki cenowe">

                                        <img src="/images/Ceneo.png" alt="Ceneo"
                                             class="@(store.OnCeneo ? "" : "icon-disabled")" />

                                        <img src="/images/GoogleShopping.png" alt="Google Shopping"
                                             class="@(store.OnGoogle ? "" : "icon-disabled")" />
                                    </a>

                                    <a href="@Url.Action("Index", "AllegroPriceHistory", new { storeId = store.StoreId })"
                                       class="Button-select @(!store.OnAllegro ? "button-disabled" : "")"
                                       title="Allegro">

                                        <img src="/images/AllegroIcon.png" alt="Allegro"
                                             class="@(store.OnAllegro ? "" : "icon-disabled")" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Konto nadal jest konfigurowane.</p>
        }
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var rows = document.querySelectorAll('.store-row');
            rows.forEach(function (row) {

                var lastScrapeDate = row.getAttribute('data-last-scrape');
                if (lastScrapeDate) {
                    var lastScrape = new Date(lastScrapeDate);
                    var now = new Date();
                    var diff = Math.abs(now - lastScrape);
                    var hours = Math.floor(diff / 36e5);
                    var minutes = Math.floor((diff % 36e5) / 60000);
                    row.querySelector('.time-since-last-scrape').textContent = `${hours} godzin ${minutes} minut`;
                } else {
                    row.querySelector('.time-since-last-scrape').textContent = 'Brak danych';
                }
            });
        });
    </script>
}