@model PriceSafari.Models.PlanClass

@{
    ViewData["Title"] = "Usuń Plan";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Usuń Plan</h2>

<h3>Czy na pewno chcesz usunąć ten plan?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NetPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NetPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsToScrap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductsToScrap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsTestPlan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsTestPlan)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="PlanId" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
