@model IEnumerable<PriceSafari.Models.PlanClass>

@{
    ViewData["Title"] = "Plany";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Plany</h2>

<style>
    .source-icon {
        height: 30px;
        width: 30px;
        margin-right: 5px; 
    }
</style>

<a asp-action="Create" class="btn btn-success">Dodaj Nowy Plan</a>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa Planu</th>
            <th>Cena Netto</th>
            <th>Produkty do Zeskrobania</th>
            <th>Plan Testowy</th>
            <th>Źródło Danych</th>
            <th>Informacje</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model)
        {
            <tr>
                <td>@plan.PlanName</td>
                <td>@plan.NetPrice.ToString("C")</td>
                <td>@plan.ProductsToScrap</td>
                <td>
                    @if (plan.IsTestPlan)
                    {
                        <span class="badge badge-success">Tak</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary">Nie</span>
                    }
                </td>
                <td>
                    @if (plan.Ceneo)
                    {
                        <img src="~/images/Ceneo.png" alt="Ceneo" class="source-icon" />
                    }
                    @if (plan.GoogleShopping)
                    {
                        <img src="~/images/GoogleShopping.png" alt="Google Shopping" class="source-icon" />
                    }
                    @if (plan.Allegro)
                    {
                        <img src="~/images/AllegroIcon.png" alt="Allegro" class="source-icon" />
                    }

                    @if (!plan.Ceneo && !plan.GoogleShopping && !plan.Allegro)
                    {
                        <span>Brak</span>
                    }
                </td>
                <td>@plan.Info</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@plan.PlanId" class="btn btn-primary">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@plan.PlanId" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
