@model IEnumerable<PriceSafari.Models.PlanClass>

@{
    ViewData["Title"] = "Plany";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Plany</h2>

<a asp-action="Create" class="btn btn-success">Dodaj Nowy Plan</a>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa Planu</th>
            <th>Cena Netto</th>
            <th>Produkty do Zeskrobania</th>
            <th>Plan Testowy</th>
            <th>Źródło Danych</th>
            <th>Informacje</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model)
        {
            <tr>
                <td>@plan.PlanName</td>
                <td>@plan.NetPrice.ToString("C")</td>
                <td>@plan.ProductsToScrap</td>
                <td>
                    @if (plan.IsTestPlan)
                    {
                        <span class="badge badge-success">Tak</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary">Nie</span>
                    }
                </td>
                <td>
                    @if (plan.Ceneo && plan.GoogleShopping)
                    {
                        <img src="~/images/Ceneo.png" alt="Ceneo" style="height:30px;width:30px;" />
                        <img src="~/images/GoogleShopping.png" alt="Google Shopping" style="height:30px;width:30px;" />
                    }
                    else if (plan.Ceneo)
                    {
                        <img src="~/images/Ceneo.png" alt="Ceneo" style="height:30px;width:30px;" />
                    }
                    else if (plan.GoogleShopping)
                    {
                        <img src="~/images/GoogleShopping.png" alt="Google Shopping" style="height:30px;width:30px;" />
                    }
                    else
                    {
                        <span>Brak</span>
                    }
                </td>
                <td>@plan.Info</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@plan.PlanId" class="btn btn-primary">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@plan.PlanId" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
