@model IEnumerable<PriceSafari.Models.FlagsClass>

@{
    ViewData["Title"] = "Flagi";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Vert">
    <div class="Vert-full">
        <div class="Order-Container-Title">
            Flagi @ViewBag.StoreName
        </div>
        <div class="bar-List">
            <button class="Button-Page-Small" id="openCreateFlagModal">Nowa Flaga</button>
        </div>
        <div class="Vert-table">
            <table class="table-orders">
                <thead>
                    <tr>
                        <th>Flaga</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.FlagId" data-name="@item.FlagName" data-color="@item.FlagColor" class="flag-row">
                            <td>
                                @{
                                    var color = item.FlagColor;
                                    var r = Convert.ToInt32(color.Substring(1, 2), 16);
                                    var g = Convert.ToInt32(color.Substring(3, 2), 16);
                                    var b = Convert.ToInt32(color.Substring(5, 2), 16);
                                    var rgbaColor = $"rgba({r}, {g}, {b}, 0.3)";
                                }
                                <div class="flag" style="background-color: @rgbaColor; color:@item.FlagColor; border: 2px solid @item.FlagColor;">
                                    @item.FlagName
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="editFlagModal" tabindex="-1" role="dialog" aria-labelledby="editFlagModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="price-box-column-name" id="editFlagModalLabel">Edytuj Flagę</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editFlagForm">
                    <input type="hidden" id="editFlagId" />
                    <div class="form-group" style="margin-bottom:16px;">
                        <label for="editFlagName" class="control-label">Nazwa</label>
                        <input type="text" id="editFlagName" class="form-control" maxlength="16" />
                    </div>
                    <div class="form-group">
                        <label for="editFlagColor" class="control-label">Kolor</label>
                        <input type="color" id="editFlagColor" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="Button-Page-Small-r" id="deleteFlag">Usuń Flagę</button>
                <button type="button" class="Button-Page-Small-b" id="saveFlagChanges">Zapisz zmiany</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createFlagModal" tabindex="-1" role="dialog" aria-labelledby="createFlagModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="price-box-column-name" id="createFlagModalLabel">Nowa Flaga</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createFlagForm">
                    <div class="form-group" style="margin-bottom:16px;">
                        <label for="createFlagName" class="control-label">Nazwa</label>
                        <input type="text" id="createFlagName" class="form-control" maxlength="16" />
                    </div>
                    <div class="form-group">
                        <label for="createFlagColor" class="control-label">Kolor</label>
                        <input type="color" id="createFlagColor" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="Button-Action-Small" id="createFlag">Utwórz Flagę</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
          
            $('.flag-row').on('click', function () {
                var flagId = $(this).data('id');
                var flagName = $(this).data('name');
                var flagColor = $(this).data('color');

                $('#editFlagId').val(flagId);
                $('#editFlagName').val(flagName);
                $('#editFlagColor').val(flagColor);

                $('#editFlagModal').modal('show');
            });

           
            $('#saveFlagChanges').on('click', function () {
                var flagId = $('#editFlagId').val();
                var flagName = $('#editFlagName').val();
                var flagColor = $('#editFlagColor').val();

                $.ajax({
                    url: '@Url.Action("UpdateFlagName", "Flags")',
                    type: 'POST',
                    data: {
                        id: flagId,
                        flagName: flagName
                    },
                    success: function () {
                        $.ajax({
                            url: '@Url.Action("UpdateFlagColor", "Flags")',
                            type: 'POST',
                            data: {
                                id: flagId,
                                flagColor: flagColor
                            },
                            success: function () {
                                $('#editFlagModal').modal('hide');
                                location.reload();
                            },
                            error: function () {
                                alert('Error updating flag color');
                            }
                        });
                    },
                    error: function () {
                        alert('Error updating flag name');
                    }
                });
            });

         
            $('#openCreateFlagModal').on('click', function () {
                $('#createFlagName').val('');
                $('#createFlagColor').val('#000000');
                $('#createFlagModal').modal('show');
            });

         
            $('#createFlag').on('click', function () {
                var flagName = $('#createFlagName').val();
                var flagColor = $('#createFlagColor').val();

                $.ajax({
                    url: '@Url.Action("Create", "Flags")',
                    type: 'POST',
                    data: {
                        FlagName: flagName,
                        FlagColor: flagColor,
                        StoreId: @ViewBag.StoreId
                            },
                    success: function () {
                        $('#createFlagModal').modal('hide');
                        location.reload();
                    },
                    error: function () {
                        alert('Error creating flag');
                    }
                });
            });

           
            $('#deleteFlag').on('click', function () {
                var flagId = $('#editFlagId').val();

                $.ajax({
                    url: '@Url.Action("Delete", "Flags")',
                    type: 'POST',
                    data: {
                        id: flagId
                    },
                    success: function () {
                        $('#editFlagModal').modal('hide');
                        location.reload();
                    },
                    error: function () {
                        alert('Error deleting flag');
                    }
                });
            });
        });
    </script>
}
