@{
    ViewData["Title"] = "Lista Produktów";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
   
}



<style>
    .StatusBoxProduct-1 {
        display: inline-flex;
        padding: 2px 5px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background: rgba(128, 0, 128, 0.3);
        border: solid 2px rgba(128, 0, 128, 1);
        font-size: 14px;
        font-weight: 500;
        color: rgba(128, 0, 128, 1);
        

    }

    .StatusBoxProduct-2 {
        display: inline-flex;
        padding: 2px 5px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background: rgba(14, 126, 135, 0.3);
        border: solid 2px rgba(14, 126, 135, 1);
        font-size: 14px;
        font-weight: 500;
        color: rgba(14, 126, 135, 1);
    }

    .StatusBoxProduct-3 {
        display: inline-flex;
        padding: 2px 5px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background: rgba(238, 17, 17, 0.3);
        border: solid 2px rgba(238, 17, 17, 1);
        font-size: 14px;
        font-weight: 500;
        color: rgba(238, 17, 17, 1);
    }

    .StatusBoxProduct-4 {
        display: inline-flex;
        padding: 2px 5px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background: rgba(128, 128, 128, 0.3);
        border: solid 2px rgba(128, 128, 128, 1);
        font-size: 14px;
        font-weight: 500;
        color: rgba(128, 128, 128, 1);
    }



    .scrapable-checkbox {
        appearance: none; 
        width: 44px;
        height: 44px;
        background-color: red;
        border: 2px solid black;
        border-radius: 24px;
        position: relative;
        cursor: pointer;
    }

        .scrapable-checkbox:checked {
            background-color: red;
        }

            .scrapable-checkbox:checked::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                background-color: green;
                border-radius: 24px;
            }


</style>

<div class="Vert">
    <div class="Vert-full">
        <div class="price-box-space">
            <div class="Order-Container-Title">
                Lista produktów @ViewBag.StoreName
                <div class="bar-List">
                    <div>
                        <strong>Łącznie produktów: </strong><span id="total-products"></span>
                    </div>
                    <div>
                        <strong>Przypisano: </strong><span id="scrapable-count"></span>
                    </div>
                  
                  
                </div>
            </div>
            <button type="button" class="Button-Page-Small-b" id="uploadMarginsButton">
                Wgraj Marże
            </button>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }


            <div>
                <button id="select-all" class="Button-Page-Small-b">Zaznacz wszystkie</button>
                <button id="deselect-all" class="Button-Page-Small-r">Odznacz wszystkie</button>               
                <select id="categoryDropdown" class="DropDown">
                    <option value="all">Wszystkie</option>
                </select>
                <input type="text" id="productSearch" placeholder="Wyszukaj produkt" />
            </div>
        </div>

        <div class="price-box-space">
          
            
                <div class="store-section">

                    <div class="form-check">
                        <input class="form-check-input status-filter" type="checkbox" id="active" value="active" data-status="active" >
                        <label class="form-check-label" for="active">Aktywny (<span id="count-active">0</span>) </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input status-filter" type="checkbox" id="inactive" value="inactive" data-status="inactive" >
                        <label class="form-check-label" for="inactive">Nieaktywny (<span id="count-inactive">0</span>) </label>
                    </div>
             
                    <div class="form-check">
                        <input class="form-check-input status-filter" type="checkbox" id="active-rejected" value="active-rejected" data-status="active-rejected" >
                        <label class="form-check-label" for="active-rejected">Odrzucony (<span id="count-active-rejected">0</span>) </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input status-filter" type="checkbox" id="inactive-rejected" value="inactive-rejected" data-status="inactive-rejected" >
                        <label class="form-check-label" for="inactive-rejected">Wyłączony (<span id="count-inactive-rejected">0</span>) </label>
                    </div>
                </div>
            
          
        </div>

        <div class="Vert-table">
            <table class="table-orders">
                <thead>
                    <tr>
                        <th>Produkt (<span id="displayed-count"></span>)</th>
                        <th></th>                     
                        <th>Ean</th>
                        <th>Oznaczenie</th>
                        <th>Cena zakupu</th>
                        <th>Ceno</th>
                        <th>@ViewBag.StoreName</th>
                        <th>Scrapować</th>                    
                        <th>Status</th> 
                    </tr>
                </thead>

                <tbody id="product-list">
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="uploadMarginsModal" tabindex="-1" role="dialog" aria-labelledby="uploadMarginsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="SetMargins" asp-controller="Product" asp-route-storeId="@ViewBag.StoreId" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadMarginsModalLabel">Wgraj Marże</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    }
                    <p>Proszę wgrać plik Excel zawierający następujące kolumny:</p>
                    <ul>
                        <li><strong>EAN</strong>: kod EAN produktu.</li>
                        <li><strong>CENA</strong>: wartość marży dla produktu (w formacie liczbowym, np. 44.5137).</li>
                    </ul>
                    <p>Plik może zawierać dodatkowe kolumny, ale tylko kolumny 'EAN' i 'CENA' zostaną użyte.</p>
                    <div class="mb-3">
                        <label for="uploadedFile" class="form-label">Wybierz plik</label>
                        <input type="file" name="uploadedFile" id="uploadedFile" class="form-control" accept=".xls,.xlsx,.csv,.xml" required />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="Button-Page-Small-b">Wgraj Marże</button>
                    <button type="button" class="Button-Page-Small" data-dismiss="modal">Anuluj</button>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var storeId = @ViewBag.StoreId;
            var selectAllButton = document.getElementById('select-all');
            var deselectAllButton = document.getElementById('deselect-all');
            var searchInput = document.getElementById('productSearch');
            var categoryDropdown = document.getElementById('categoryDropdown');
            var allProducts = [];
            var lastScrollPosition = 0;
            var selectedCategory = 'all';

            function saveState() {
                lastScrollPosition = window.scrollY;
                selectedCategory = categoryDropdown.value;
            }

            function restoreState() {
                categoryDropdown.value = selectedCategory;
                window.scrollTo(0, lastScrollPosition);
            }

            function decodeHTML(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }

            function populateCategoryDropdown(categoriesWithCount) {
                categoriesWithCount.sort((a, b) => b.count - a.count);
                categoryDropdown.innerHTML = '<option value="all">Wszystkie (' + allProducts.length + ')</option>';
                categoriesWithCount.forEach(category => {
                    var decodedCategoryName = decodeHTML(category.name);
                    var option = document.createElement('option');
                    option.value = decodedCategoryName;
                    option.textContent = `${decodedCategoryName} (${category.count})`;
                    categoryDropdown.appendChild(option);
                });
                restoreState();
            }

            function filterProductsByCategory(products, category) {
                if (category === 'all') {
                    return products;
                }
                return products.filter(product => decodeHTML(product.category) === category);
            }

            function filterProductsByName(products, name) {
                const sanitizedInput = name.replace(/[^a-zA-Z0-9\s.-]/g, '').trim().toLowerCase();
                return products.filter(product => {
                    const sanitizedProductName = product.productName.toLowerCase().replace(/[^a-zA-Z0-9\s.-]/g, '').trim();
                    return sanitizedProductName.includes(sanitizedInput);
                });
            }

            function getProductStatus(product) {
                if (product.isScrapable && product.isRejected) {
                    return "active-rejected";
                } else if (product.isScrapable) {
                    return "active";
                } else if (product.isRejected) {
                    return "inactive-rejected";
                } else {
                    return "inactive";
                }
            }

            function updateCounters(products) {
                var activeRejectedCount = allProducts.filter(p => p.isScrapable && p.isRejected).length;
                var activeCount = allProducts.filter(p => p.isScrapable && !p.isRejected).length;
                var inactiveRejectedCount = allProducts.filter(p => !p.isScrapable && p.isRejected).length;
                var inactiveCount = allProducts.filter(p => !p.isScrapable && !p.isRejected).length;

                document.getElementById('count-active-rejected').textContent = activeRejectedCount;
                document.getElementById('count-active').textContent = activeCount;
                document.getElementById('count-inactive-rejected').textContent = inactiveRejectedCount;
                document.getElementById('count-inactive').textContent = inactiveCount;

                var scrapableCount = activeRejectedCount + activeCount;
                document.getElementById('scrapable-count').textContent = scrapableCount;
                document.getElementById('total-products').textContent = allProducts.length;
            }

            function highlightMatches(text, searchTerm) {
                if (!searchTerm) return text;
                const sanitizedSearchTerm = searchTerm.replace(/[^a-zA-Z0-9\s.-]/g, '');
                const regex = new RegExp(`(${sanitizedSearchTerm})`, 'gi');
                return text.replace(regex, '<span style="color: #9400D3; font-weight: 600;">$1</span>');
            }

            function renderProducts(products, searchTerm = "") {
                var tbody = document.getElementById('product-list');
                tbody.innerHTML = '';
                products.forEach(function (product) {
                    var row = document.createElement('tr');
                    row.classList.add('product-row');
                    row.setAttribute('data-scrapable', product.isScrapable);
                    row.setAttribute('data-rejected', product.isRejected);

                    var highlightedProductName = highlightMatches(product.productName, searchTerm);
                    var category = product.category || '';
                    var offerUrlButton = product.offerUrl ? `<a href="${product.offerUrl}" class="Button-Page-Small" target="_blank">Ceneo</a>` : '';
                    var urlButton = product.url ? `<a href="${product.url}" class="Button-Page-Small" target="_blank">Strona</a>` : '';
                    var catalogNumber = product.catalogNumber || '';
                    var ean = product.ean || '';
                    var marginPrice = product.marginPrice || '';
                    var imageUrl = product.mainUrl || '';
                    var imageCell = imageUrl ? `<img src="${imageUrl}" style="width: 90px; height: 90px; object-fit: contain; background-color: white;" />` : `<div style="width: 90px; height: 90px;"></div>`;

                    var statusBoxClass = "";
                    var statusText = "";

                    if (product.isScrapable && product.isRejected) {
                        statusBoxClass = "StatusBoxProduct-1";
                        statusText = "Odrzucony";
                    } else if (product.isScrapable) {
                        statusBoxClass = "StatusBoxProduct-2";
                        statusText = "Aktywny";
                    } else if (product.isRejected) {
                        statusBoxClass = "StatusBoxProduct-3";
                        statusText = "Wyłączony";
                    } else {
                        statusBoxClass = "StatusBoxProduct-4";
                        statusText = "Nieaktywny";
                    }

                    row.innerHTML = `
                                <td> <p>${highlightedProductName}</p><p>${category}</p></td>
                                <td>${imageCell}</td>
                                <td>${ean}</td>
                                <td>${catalogNumber}</td>
                                <td>${marginPrice} PLN</td>
                                <td>${offerUrlButton}</td>
                                <td>${urlButton}</td>
                                <td>
                                    <input type="checkbox" class="scrapable-checkbox" data-product-id="${product.productId}" ${product.isScrapable ? "checked" : ""} />
                                </td>
                                <td><div class="${statusBoxClass}">${statusText}</div></td>
                            `;

                    row.querySelector('.scrapable-checkbox').addEventListener('change', function () {
                        saveState();
                        var productId = this.getAttribute('data-product-id');

                        fetch('@Url.Action("UpdateScrapableProduct", "Product")?storeId=' + storeId, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(productId)
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (!data.success) {
                                    alert(data.message || 'Wystąpił błąd podczas aktualizacji statusu scrapowania.');
                                    this.checked = !this.checked;
                                } else {
                                    fetchProducts();
                                }
                            })
                            .catch(error => {
                                console.error('There was a problem with your fetch operation:', error);
                            });
                    });

                    tbody.appendChild(row);
                });
                document.getElementById('displayed-count').textContent = products.length;
                window.scrollTo(0, lastScrollPosition);
            }

            function filterRows() {
                var selectedStatuses = Array.from(document.querySelectorAll('.status-filter:checked'))
                    .map(checkbox => checkbox.getAttribute('data-status'));

                var searchTerm = searchInput.value;
                var filteredProducts = filterProductsByName(allProducts, searchTerm);

                if (selectedStatuses.length > 0) {
                    filteredProducts = filteredProducts.filter(product => {
                        var productStatus = getProductStatus(product);
                        return selectedStatuses.includes(productStatus);
                    });
                }

                filteredProducts = filterProductsByCategory(filteredProducts, selectedCategory);

                renderProducts(filteredProducts, searchTerm);
                updateCounters(filteredProducts);
            }

            function fetchProducts() {
                fetch('@Url.Action("GetProducts", "Product")?storeId=' + storeId)
                    .then(response => response.json())
                    .then(data => {
                        allProducts = data;

                        var categoriesWithCount = allProducts.reduce((acc, product) => {
                            let category = product.category || "Inne";
                            let categoryObj = acc.find(cat => cat.name === category);
                            if (categoryObj) {
                                categoryObj.count++;
                            } else {
                                acc.push({ name: category, count: 1 });
                            }
                            return acc;
                        }, []);

                        populateCategoryDropdown(categoriesWithCount);
                        updateCounters(allProducts);
                        filterRows();
                    })
                    .catch(error => {
                        console.error('Error fetching products:', error);
                    });
            }

            document.querySelectorAll('.status-filter').forEach(function (checkbox) {
                checkbox.addEventListener('change', filterRows);
            });

            searchInput.addEventListener('input', filterRows);
            categoryDropdown.addEventListener('change', function () {
                saveState();
                filterRows();
            });

            selectAllButton.addEventListener('click', function () {
                var productIds = [];
                document.querySelectorAll('.scrapable-checkbox').forEach(function (checkbox) {
                    if (!checkbox.checked) {
                        checkbox.checked = true;
                        productIds.push(parseInt(checkbox.getAttribute('data-product-id')));
                    }
                });
                if (productIds.length > 0) {
                    fetch('@Url.Action("UpdateMultipleScrapableProducts", "Product")?storeId=' + storeId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(productIds)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                fetchProducts();
                            }
                        })
                        .catch(error => {
                            console.error('There was a problem with your fetch operation:', error);
                        });
                }
            });

            deselectAllButton.addEventListener('click', function () {
                var productIds = [];
                document.querySelectorAll('.scrapable-checkbox:checked').forEach(function (checkbox) {
                    checkbox.checked = false;
                    productIds.push(parseInt(checkbox.getAttribute('data-product-id')));
                });
                if (productIds.length > 0) {
                    fetch('@Url.Action("ResetMultipleScrapableProducts", "Product")?storeId=' + storeId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(productIds)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                fetchProducts();
                            }
                        })
                        .catch(error => {
                            console.error('There was a problem with your fetch operation:', error);
                        });
                }
            });

            fetchProducts();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#uploadMarginsButton').on('click', function () {
                $('#uploadMarginsModal').modal('show');
            });
        });
    </script>
}
