@using PriceSafari.Models.ViewModels

@{
    ViewData["Title"] = "Historia Cen Allegro";
    var latestScrap = ViewBag.LatestScrap as PriceSafari.Models.AllegroScrapeHistory;
    var storeId = ViewBag.StoreId;
    var storeLogo = ViewBag.StoreLogo;
    var storeName = ViewBag.StoreName;
    var scrapDate = latestScrap?.Date.ToString("dd.MM.yyyy");
    var flags = ViewBag.Flags as List<FlagViewModel>;
}

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Vert">
    <div class="Page-Box">
        <div class="Page-Box-Container">
            <div class="Page-Box-Category">
                <div>
                    <img src="@ViewBag.StoreLogo" class="img-container" />
                </div>

                <div class="mode-switch-container">
                    <button class="mode-switch-btn active" id="btn-mode-comp" title="Strategia maksymalizacji wolumenu sprzedaży">
                        <i class="fa-solid fa-bolt"></i> Lider Rynku
                    </button>

                    <button class="mode-switch-btn" id="btn-mode-profit" title="Strategia optymalizacji marży i zysku">
                        <i class="fa-solid fa-dollar-sign"></i> Rentowność
                    </button>
                </div>

                <div class="side-chart-box">
                    <canvas id="colorChart"></canvas>
                </div>

                <div class="store-section" id="filters-competitiveness">

                    <div class="form-check">
                        <span class="color-rect rect-no-offer"></span>
                        <input class="form-check-input colorFilter" type="checkbox" id="prNoOfferCheckbox" value="prNoOffer">
                        <label class="form-check-label" for="prNoOfferCheckbox">Cena niedostępna</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-only-me"></span>
                        <input class="form-check-input colorFilter" type="checkbox" id="prOnlyMeCheckbox" value="prOnlyMe">
                        <label class="form-check-label" for="prOnlyMeCheckbox">Cena solo</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-to-high"></span>
                        <input class="form-check-input colorFilter" type="checkbox" id="prToHighCheckbox" value="prToHigh">
                        <label class="form-check-label" for="prToHighCheckbox">Cena zawyżona</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-mid"></span>
                        <input class="form-check-input colorFilter" type="checkbox" id="prMidCheckbox" value="prMid">
                        <label class="form-check-label" for="prMidCheckbox">Cena suboptymalna</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-good"></span>
                        <input class="form-check-input colorFilter" type="checkbox" id="prGoodCheckbox" value="prGood">
                        <label class="form-check-label" for="prGoodCheckbox">Cena konkurencyjna</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-ideal"></span>
                        <input class="form-check-input colorFilter" type="checkbox" id="prIdealCheckbox" value="prIdeal">
                        <label class="form-check-label" for="prIdealCheckbox">Cena strategiczna</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-to-low"></span>
                        <input class="form-check-input colorFilter" type="checkbox" id="prToLowCheckbox" value="prToLow">
                        <label class="form-check-label" for="prToLowCheckbox">Cena zaniżona</label>
                    </div>

                    <div class="price-range-settings">
                        <div class="color-circle prMid-circle"></div>
                        <div class="legendBox">Próg c. subopt.</div>
                        <label for="price2"></label>
                        <input type="number" id="price2" step="0.01" min="0.01">
                        <span id="unitLabel2" style="display:flex; align-items:center;"></span>
                    </div>

                    <div class="price-range-settings">
                        <div class="color-circle prIdeal-circle"></div>
                        <div class="legendBox">Próg c. strateg.</div>
                        <label for="price1"></label>
                        <input type="number" id="price1" step="0.01" min="0.01">
                        <span id="unitLabel1" style="display:flex; align-items:center;"></span>
                    </div>

                    <div class="price-range-settings">
                        <div class="price-range-settings-stepPrice"></div>
                        <div class="legendBox">
                            Krok cenowy
                            <div id="stepPriceIndicator" class="step-indicator"></div>
                        </div>
                        <label for="stepPrice"></label>
                        <input type="number" id="stepPrice" value="@ViewBag.StepPrice?.ToString("F2")" step="0.01">
                        <span id="unitLabelStepPrice" style="display:flex; align-items:center;"></span>
                    </div>

                    <div>
                        <input class="diffCheckBox" style="margin-top: 10px;" type="checkbox" id="usePriceDifference" checked />
                    </div>

                    <button class="Button-Page-Small" style="margin-top: 4px;" id="savePriceValues">Przelicz i zapisz</button>
                </div>

                <div class="store-section" id="filters-profit" style="display: none;">

                    <div class="form-check">
                        <span class="color-rect rect-no-offer"></span>
                        <input class="form-check-input bucketFilter" type="checkbox" id="bucketUnavailable" value="market-unavailable">
                        <label class="form-check-label" for="bucketUnavailable">Cena niedostępna</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-only-me"></span>
                        <input class="form-check-input bucketFilter" type="checkbox" id="bucketSolo" value="market-solo">
                        <label class="form-check-label" for="bucketSolo">Cena solo</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-overpriced"></span>
                        <input class="form-check-input bucketFilter" type="checkbox" id="bucketOverpriced" value="market-overpriced">
                        <label class="form-check-label" for="bucketOverpriced">Cena przeszacowana</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-above-average"></span>
                        <input class="form-check-input bucketFilter" type="checkbox" id="bucketAboveAverage" value="market-above-average">
                        <label class="form-check-label" for="bucketAboveAverage">Cena powyżej średniej</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-ideal"></span>
                        <input class="form-check-input bucketFilter" type="checkbox" id="bucketAverage" value="market-average">
                        <label class="form-check-label" for="bucketAverage">Cena rynkowa</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-below-average"></span>
                        <input class="form-check-input bucketFilter" type="checkbox" id="bucketBelowAverage" value="market-below-average">
                        <label class="form-check-label" for="bucketBelowAverage">Cena poniżej średniej</label>
                    </div>

                    <div class="form-check">
                        <span class="color-rect rect-deep-discount"></span>
                        <input class="form-check-input bucketFilter" type="checkbox" id="bucketDeepDiscount" value="market-deep-discount">
                        <label class="form-check-label" for="bucketDeepDiscount">Cena okazyjna</label>
                    </div>

                    <div class="price-range-settings">
                        <div class="price-range-settings-indexTarget"></div>
                        <div class="legendBox" title="100% = Mediana. 95% = 5% taniej niż rynek.">
                            Index cenowy
                            <div id="priceIndexIndicator" class="step-indicator"></div>
                        </div>
                        <label for="priceIndexTargetInput"></label>
                        <input type="number" id="priceIndexTargetInput" value="100.00" step="0.5" min="1" max="500">
                        <span style="display:flex; align-items:center;">%</span>
                    </div>

                    <button class="Button-Page-Small" style="margin-top: 8px; width:100%;" id="savePriceValues_profit">Przelicz i zapisz</button>
                </div>
                <div class="filterBox">
                    <div class="Category-Container-Select" style="margin-top:-2px;">Flagi <a asp-controller="Flags" asp-action="List" asp-route-storeId="@ViewBag.StoreId" class="link-line">+ Dodaj Flage</a></div>
                    <div class="store-section" id="flagContainer">
                    </div>

                    <div class="Category-Container-Select">Specjalne odznaki oferty</div>
                    <div class="store-section">
                        <div class="form-check">
                            <input class="form-check-input myBadgeFilter" type="checkbox" id="myTopOfferFilter" value="myIsTopOffer">
                            <label class="form-check-label" for="myTopOfferFilter" id="labelMyTopOffer">Top oferta</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input myBadgeFilter" type="checkbox" id="mySuperPriceFilter" value="myIsSuperPrice">
                            <label class="form-check-label" for="mySuperPriceFilter" id="labelMySuperPrice">Super cena</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input myBadgeFilter" type="checkbox" id="myBestPriceFilter" value="myIsBestPriceGuarantee">
                            <label class="form-check-label" for="myBestPriceFilter" id="labelMyBestPrice">Gwarancja najniższej ceny</label>
                        </div>
                    </div>
                    <div class="Category-Container-Select">Oferty w kampanii</div>
                    <div class="store-section">
                        <div class="form-check">
                            <input class="form-check-input myBadgeFilter" type="checkbox" id="myCampaignFilter" value="anyPromoActive">
                            <label class="form-check-label" for="myCampaignFilter" id="labelMyCampaign">W jakiejkolwiek kampanii</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input myBadgeFilter" type="checkbox" id="mySubsidyFilter" value="isSubsidyActive">
                            <label class="form-check-label" for="mySubsidyFilter" id="labelMySubsidy">Kampania z dopłatami</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input myBadgeFilter" type="checkbox" id="myInvitationFilter" value="isInvitationActive">
                            <label class="form-check-label" for="myInvitationFilter" id="labelMyInvitation">Zaproszenie do kampanii</label>
                        </div>
                    </div>
                    <div class="Category-Container-Select">Status zmian cen</div>
                    <div class="store-section">
                        <div class="form-check">
                            <input class="form-check-input statusFilter" type="checkbox" id="committedChangesFilter" value="committed">
                            <label class="form-check-label" for="committedChangesFilter">Wprowadzone zmiany cen</label>
                        </div>
                    </div>
               
                </div>
            </div>
            <div class="Horizontal">
                <div class="order-upper-box">
                    <input type="text" id="productSearch" style="max-width:150px; height:33.99px;" placeholder="Wyszukaj produkt">
                    <input type="text" id="storeSearch" style="max-width:150px; height:33.99px;" placeholder="Wyszukaj sklep">
                    <select id="producerFilterDropdown" class="DropDown" style="max-width:150px; height:33.99px;">
                        <option value="">Wszystkie marki</option>
                    </select>

                    <button type="button" class="Button-Page-Small" style="white-space: nowrap; height:33.99px;" id="presetButton" onclick="openCompetitorsModal()">
                        Presety
                    </button>

                  
                    <button type="button" class="Button-Page-Small" style="justify-self:flex-end; margin-right:4px; height:33.99px;" data-toggle="modal" data-target="#infoModal">
                        <i class="fa fa-info-circle"></i>
                    </button>

                    <div class="SimpleSpace" style="justify-content:flex-end; margin-right: 12px;">
                        <div id="selectionContainer" class="selection-container">
                            <span id="selectedProductsCounter" class="ProductCount" style="width:126px; height:33.99px;">Wybrano: 0</span>
                            <button id="selectAllVisibleBtn" class="Button-Page-Small" style="width:48px;" title="Zaznacz wszystkie widoczne produkty">
                                <i class="fa-solid fa-square-check"></i>
                            </button>
                            <button id="deselectAllVisibleBtn" class="Button-Page-Small" style="width:48px;" title="Odznacz wszystkie widoczne produkty">
                                <i class="fa-solid fa-square-xmark"></i>
                            </button>
                            <button id="showSelectedProductsBtn" class="Button-Page-Small" style="width:89.25px;">Akcje</button>
                        </div>
                    </div>

                </div>
                <div id="sortingButtons">
                    <div class="ProductCount" id="displayedProductCount" style="width:120px;"></div>
                    <div id="paginationContainer"></div>
                    <button id="linkOffers">Katalog</button>
                    <button id="sortName">A-Z</button>
                    <button id="sortPrice">Cena</button>
                    <button id="sortRaiseAmount">Podnieś PLN</button>
                    <button id="sortRaisePercentage">Podnieś %</button>
                    <button id="sortLowerAmount">Obniż PLN</button>
                    <button id="sortLowerPercentage">Obniż %</button>
                    <button id="sortMarginAmount" style="display: none;">Narzut PLN</button>
                    <button id="sortMarginPercentage" style="display: none;">Narzut %</button>
                </div>
                <div class="buttonsContainer">
                    <div id="priceChangeSummary" class="priceChangeSummary">
                        <div id="summaryText"></div>
                        <button type="button" class="Button-Page-Small" style="height:33.99px;" id="openAllegroMarginSettingsBtn" title="Ustawienia symulacji Allegro">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
                        <button id="openMassChangeModalBtn" class="Button-Page-Small" style="width:48px;" title="Masowa zmiana cen">
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                        </button>
                        <button id="simulateButton" disabled>Symuluj ceny</button>
                    </div>
                </div>
                <div class="Vert-table">
                    <div id="priceContainer" class="price-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width:auto;">
            <div class="modal-header">
                <h5 class="modal-title">Informacje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p><strong>Wykonanie analizy:</strong> @scrapDate</p>
                <p><strong>Ilość produktów:</strong> <span id="totalProductCount">0</span></p>
                <p><strong>Ilość zebranych cen:</strong> <span id="totalPriceCount">0</span></p>
            </div>
        </div>
    </div>
</div>

<div id="loadingOverlay" class="loading-overlay" style="display: none;"><div class="loader"></div></div>

<div id="flagModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="flagModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="price-box-column-name" id="flagModalLabel">Zarządzaj flagami</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="flagModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="Button-Page-Small-r" data-dismiss="modal">Anuluj</button>
                <button type="button" class="Button-Page-Small-bl" id="saveFlagsButton">Zapisz zmiany</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="selectedProductsModal" tabindex="-1" role="dialog" aria-labelledby="selectedProductsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="margin: 10% auto; width:860px;">
            <div class="modal-header">
                <div class="price-box-column-name" id="selectedProductsModalLabel">
                    Zaznaczone produkty (<span id="selectedProductsModalCounter">0</span>)
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-4 p-3" style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <strong style="font-size: 1.1rem; color: #333;">Dostępne akcje masowe:</strong>
                        </div>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <button id="openBulkFlagModalBtn" class="Button-Page-Small-bl">
                                <i class="fa-solid fa-tags" style="margin-right: 5px;"></i> Zarządzaj flagami
                            </button>
                        </div>
                    </div>
                </div>
                <div id="selectedProductsList" class="table-scroll" style="max-height: 45vh; min-height: 40vh; overflow-y: auto;"> </div>
            </div>
        </div>
    </div>
</div>

<div id="globalNotification" style="display: none; position: fixed; width: 500px; top: 30px; left: 50%; transform: translateX(-50%); background: #F65063; color: white; padding: 24px; text-align: left; border-radius: 10px; z-index: 10000;"></div>
<div id="globalUpdate" style="display: none; position: fixed; width: 500px; top: 30px; left: 50%; transform: translateX(-50%); background: #006400; color: white; padding: 24px; text-align: left; border-radius: 10px; z-index: 10000;"></div>


<div class="modal-sim fade" id="competitorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog-sim" role="document">
        <div class="modal-simulation">

            <div class="modal-header">
                <div class="price-box-column-name">Presety - Allegro</div>
                <div style="display:flex; gap:10px;">
                    <button id="addNewPresetBtn" class="Button-Page-Small-bl">Dodaj nowy preset</button>
                    <button type="button" class="close" data-dismiss="modal" style="width:33px; height:33px;" aria-label="Zamknij">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <div style="display:flex; justify-content:space-between; gap:24px;">

                    <div style="display:flex; flex-direction:column;">
                        <select id="presetSelect" style="width:460px;" class="DropDown"></select>
                        <div style="display:flex; justify-content:space-between; margin-top:10px; width:460px;">
                            <div>
                                <span id="activateButtonContainer"></span>
                            </div>
                            <div style="display:flex; gap:5px;">
                                <span id="editButtonContainer"></span>
                                <span id="deleteButtonContainer"></span>
                            </div>
                        </div>

                        <div id="newPresetSection" style="display:none; margin-bottom: 20px;"></div>

                        <div style="display:flex; flex-direction:column; width:460px; border: 1px solid #EDEDED; padding:16px; border-radius:4px; margin-top:12px;">
                            <input type="text" id="competitorSearchInput" class="storeSearch" placeholder="Wyszukaj sprzedawcę" />

                            <div style="display:flex; justify-content:space-between; margin-top: 10px;">
                                <div>
                                    <div class="Category-Container-Select">Niezdefiniowani sprzedawcy</div>
                                    <div class="store-section">
                                        <div class="form-check">
                                            <input class="form-check-input bidFilter" type="checkbox" id="useUnmarkedStoresCheckbox">
                                            <label class="form-check-label" style="display:flex; justify-content:center;" for="useUnmarkedStoresCheckbox">Wyświetlaj</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="display:flex; flex-direction:column; width:460px; margin-top:24px;">
                            <p style="margin-bottom:24px; font-size:15px;">
                                <strong>Presety Allegro filtrują widocznych sprzedawców.</strong><br><br>
                                Aktywny preset wpływa na widok główny. Jeśli wykluczysz sprzedawcę, który ma najniższą cenę, system wskaże kolejnego najtańszego jako punkt odniesienia.
                            </p>
                        </div>
                    </div>

                    <div style="flex: 1;">
                        <div class="table-scroll" style="max-height: 80vh; min-height: 80vh; overflow: auto;">
                            <table class="table-orders" style="width: 100%; min-width: 500px; white-space: nowrap; table-layout: auto;">
                                <thead>
                                    <tr>
                                        <th>
                                            <img src="/images/AllegroIcon.png" alt="Allegro Icon" style="width:17px; height:17px; margin-right:6px; margin-bottom:4px;">
                                            Sprzedawcy Allegro
                                        </th>
                                        <th>Wspólne produkty</th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>
                                <tbody id="allegroCompetitorsTableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="allegroMarginSettingsModal" tabindex="-1" role="dialog" aria-labelledby="allegroMarginSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:800px" role="document">
        <div class="modal-content" style="margin:10% auto;">
            <div class="modal-header">
                <div class="price-box-column-name" id="allegroMarginSettingsModalLabel">Konfiguracja symulacji Allegro</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:48px;">
                    Ustawienia symulacji cenowej dla Allegro. Skonfiguruj poniższe opcje, aby określić, jak system ma podchodzić do walidacji marży i identyfikacji produktów podczas symulacji.
                </p>
                <form id="allegroMarginSettingsForm">
                    <div style="display:flex; gap:6px; justify-content: space-between;">
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="allegroIdentifierForSimulationInput">Element nawigacyjny dla produktów</label>
                            <select class="form-control" id="allegroIdentifierForSimulationInput">
                                <option value="EAN">EAN</option>
                                <option value="ID">ID Allegro</option>
                         
                            </select>
                        </div>
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="allegroUseMarginForSimulationInput">Symuluj tylko produkty z znaną ceną zakupu</label>
                            <select class="form-control" id="allegroUseMarginForSimulationInput">
                                <option value="true">Tak</option>
                                <option value="false">Nie</option>
                            </select>
                        </div>
                    </div>
                    <div style="display:flex; gap:6px; justify-content: space-between;">
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="allegroEnforceMinimalMarginInput">Zablokuj spadek poniżej ceny zakupu</label>
                            <select class="form-control" id="allegroEnforceMinimalMarginInput">
                                <option value="true">Tak</option>
                                <option value="false">Nie</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="allegroIncludeCommisionInPriceChangeInput">Uwzględnij koszt Allegro (prowizję) w zysku (narzucie)</label>
                            <select class="form-control" id="allegroIncludeCommisionInPriceChangeInput">
                                <option value="true">Tak</option>
                                <option value="false">Nie</option>
                            </select>
                        </div>
                    </div>
                 
                    <div class="form-group" style="margin-bottom:24px;">
                        <label for="allegroMinimalMarginPercentInput">Minimalny narzut (%)</label>
                        <input type="number" class="form-control" id="allegroMinimalMarginPercentInput" step="0.01" value="0.00">
                    </div>


                    <hr style="margin: 24px 0;" />
                    <p style="margin-bottom: 24px;">Poniższe ustawienia pozwalają zablokować możliwość zmiany ceny dla ofert posiadających specjalne oznaczenia. Domyślnie, zmiana jest zablokowana.</p>

                    <div style="display:flex; gap:6px; justify-content: space-between;">
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="allegroChangePriceForBagdeInCampaignInput">Pozwól na zmianę ceny dla ofert w Kampanii</label>
                            <select class="form-control" id="allegroChangePriceForBagdeInCampaignInput">
                                <option value="false">Nie (Blokuj)</option>
                                <option value="true">Tak (Zmieniaj)</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="allegroChangePriceForBagdeSuperPriceInput">Pozwól na zmianę ceny dla ofert "SUPERCENA"</label>
                            <select class="form-control" id="allegroChangePriceForBagdeSuperPriceInput">
                                <option value="false">Nie (Blokuj)</option>
                                <option value="true">Tak (Zmieniaj)</option>
                            </select>
                        </div>
                    </div>
                    <div style="display:flex; gap:6px; justify-content: space-between;">
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="allegroChangePriceForBagdeTopOfferInput">Pozwól na zmianę ceny dla ofert "Top Oferta"</label>
                            <select class="form-control" id="allegroChangePriceForBagdeTopOfferInput">
                                <option value="false">Nie (Blokuj)</option>
                                <option value="true">Tak (Zmieniaj)</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-bottom:24px; width:250px;">
                            <label for="allegroChangePriceForBagdeBestPriceGuaranteeInput">Pozwól na zmianę ceny dla ofert "Gwarancją Najniższej Ceny"</label>
                            <select class="form-control" id="allegroChangePriceForBagdeBestPriceGuaranteeInput">
                                <option value="false">Nie (Blokuj)</option>
                                <option value="true">Tak (Zmieniaj)</option>
                            </select>
                        </div>
                    </div>
            
                </form>
            </div>
            <div class="modal-footer" style="justify-content:space-between;">
                <button type="button" class="Button-Page-Small" data-dismiss="modal">Anuluj</button>
                <button type="button" class="Button-Page-Small-bl" id="saveAllegroMarginSettingsBtn">Zapisz ustawienia</button>
            </div>
        </div>
    </div>
</div>


<div class="modal-sim fade" id="simulationModal" tabindex="-1" role="dialog" aria-labelledby="simulationModalLabel">
    <div class="modal-dialog-sim" role="document">
        <div class="modal-simulation">
            <div class="modal-header" style="border:none; flex-direction: column; align-items: stretch;">

                <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div class="price-box-column-name" id="simulationModalLabel">Symuluj ceny - Allegro</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            <div class="modal-tab-toggle" style="margin-top: 15px;">
    <button id="showPriceChangeCart" class="button-active" type="button">
        Obecne Zmiany (<span id="simulationTabCounter">0</span>)
    </button>
    <button id="showPriceChangeHistory" class="button-inactive" type="button">
        Historia Wgranych Zmian (<span id="historyTabCounter">0</span>)
    </button>
</div>

            </div>
            <div class="modal-body">
                <div class="table-scroll" id="simulationModalBody">
                </div>
                <div class="table-scroll" id="historyModalBody" style="display: none; max-height: 75vh; overflow-y: auto;">
                </div>
            </div>
            <div class="modal-footer">
                <div style="display:flex; width:100%; justify-content:space-between; align-items: center;">
                    <button type="button" id="clearChangesButton" class="Button-Page-Small-r">Usuń wszystkie zmiany</button>

                    @if (ViewBag.IsAllegroPriceBridgeActive == true)
                    {
                        <button type="button" id="executePriceChangeBtn" class="Button-Page-Small-bl" style="width: 260px; background-color: #d9534f; border-color: #d43f3a;">
                            <i class="fa-solid fa-arrow-up-from-bracket" style="margin-right: 8px;"></i> Wgraj zmiany na Allegro
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="massChangeModal" tabindex="-1" role="dialog" aria-labelledby="massChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:1000px;">
        <div class="modal-content" style="width:900px;">
            <div class="modal-header">
                <div class="price-box-column-name" id="massChangeModalLabel">Masowa zmiana cen</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:24px; line-height:1.6;">
                    Kliknięcie tego przycisku wykona masową zmianę cen produktów
                    (tylko w programie PriceSafari – nie wpływa to na ceny w Twoim sklepie).
                    Zmiana obejmie tylko produkty z co najmniej jedną ofertą konkurencyjną i kodem EAN.
                    Aby zawęzić listę produktów, skorzystaj z filtrów lub presetów.
                    Dla przykładu wybierz grupę cen konkurencyjnych, czyli produkty,
                    które Ty i najtańsi konkurenci sprzedajecie w tej samej cenie.
                    <br><br>
                    <strong>Przykład:</strong> ustaw krok cenowy na -0,01 PLN i kliknij
                    <em>„Przelicz i zapisz”</em>.
                    Następnie kliknięcie przycisku masowej zmiany cen obniży Twoje ceny
                    o wybrany krok (tu: -0,01 PLN) względem najtańszego konkurenta.
                    Dzięki temu Twoje produkty będą tańsze o 1 grosz, co uczyni Cię
                    najtańszym sprzedawcą w tej grupie – zwiększając sprzedaż przy minimalnej utracie marży.
                </p>

                <div style="display:flex; justify-content:space-between; align-items:flex-start;">
                    <div class="color-square-turquoise" style="margin-top:4px; flex-shrink:0;"></div>
                    <p style="width:800px; line-height:1.6; margin-left:12px;">
                        Krok cenowy to różnica między Twoją ceną a ofertą najtańszego konkurenta.
                        <br><br>
                        <strong>Przykład:</strong> jeśli Twój produkt kosztuje 1000 PLN, a konkurent oferuje go za 900 PLN,
                        to przy kroku -0,01 PLN Twoja cena po zmianie wyniesie 899,99 PLN.
                        Przy kroku 0,00 PLN cena zrówna się z konkurencją (900 PLN),
                        a przy 0,01 PLN wzrośnie do 900,01 PLN – będziesz droższy o 1 grosz.
                    </p>
                </div>
            </div>
            <div class="modal-footer" style="justify-content:center;">
                <button id="massStrategicBtn" class="Button-Page-Small" style="width:460px;">
                    Zastosuj masową zmianę cen z wybranym krokiem cenowym →<div class="color-square-turquoise" style="margin:0px;"></div>
                </button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <script>

        const storeId = @storeId;
        const presetTypeContext = 1;
        const scrapDateJS = "@scrapDate";
        const myStoreNameJS = "@storeName";
        const globalAllegroScrapId = @(latestScrap?.Id ?? 0);
        const flags = @Html.Raw(Json.Serialize(ViewBag.Flags ?? new List<FlagViewModel>()));
        const priceHistoryPageContext = 'index';

    </script>

    <script src="~/js/member/AllegroPriceHistory.js" asp-append-version="true"></script>
    <script src="~/js/member/AllegroPriceChange.js" asp-append-version="true"></script>
    <script src="~/js/member/CompetitorModal.js" asp-append-version="true"></script>
}