@model IEnumerable<PriceTracker.Models.ProductClass>

@{
    ViewData["Title"] = "Product List";
    var categories = ViewBag.Categories as List<string>;
    var storeId = ViewBag.StoreId;
}



<div class="Vert">
    <div class="Vert-full">


        <div class="Order-Container-Title">
            Lista produktów @ViewBag.StoreName
            <div class="form-check-orders">
                <div>
                    <strong>Ilość produktów: </strong><span id="productCount"></span>
                </div>
                

            </div>
        </div>
       
        <div class="bar-List">
            <form id="scrapingForm" asp-controller="PriceScraping" asp-action="StartScrapingGet" method="get">
                <input type="hidden" name="storeId" value="@storeId" />
                <button type="submit" class="Button-Add-Small">Rozpocznij scrapowanie cen</button>
            </form>
            <form id="priceHistoryForm" asp-controller="PriceHistory" asp-action="Index" method="get">
                <input type="hidden" name="storeId" value="@storeId" />
                <button type="submit" class="Button-Page-Small-r">Ceny</button>
            </form>
        </div>

     
        <div class="order-upper-box">
            <div class="chart-box">
                <div class="chart-container-cam">
                    <div class="progress-bar">
                        <div id="progressBarInner" class="progress-bar-inner"></div>
                    </div>
                </div>
                <div id="progressText" class="mt-2"></div>
                <div id="completionMessage" class="mt-2" style="display: none;"></div>
                <div class="chart-container-cam">
                    <canvas id="speedChart"></canvas>
                </div>
            </div>
        </div>
        <div class="Vert-table">
            <table class="table-orders">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Kategoria</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr class="product-row" data-category="@product.Category">
                            <td>@product.ProductName</td>
                            <td>@product.Category</td>
                         
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <style>
        #speedChart {
            width: 100% !important;
            height: 200px !important;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.11/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var productCount = document.querySelectorAll("tbody tr").length;
            document.getElementById("productCount").textContent = productCount;


            var ctx = document.getElementById('speedChart').getContext('2d');

            var gradientFill1 = ctx.createLinearGradient(0, 0, 0, ctx.canvas.clientHeight);
            gradientFill1.addColorStop(0, 'rgba(14, 126, 135, 0.2)');
            gradientFill1.addColorStop(1, 'rgba(14, 126, 135, 0.6)');

            var speedChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Zebrane produkty na sekunde:',
                        data: [],
                        backgroundColor: gradientFill1,
                        borderColor: 'rgba(14, 126, 135, 1)',
                        borderWidth: 2,
                        fill: true,
                        tension: 0.5,
                        pointRadius: 0,
                        pointHoverRadius: 6,
                        pointHoverBorderWidth: 2
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            title: {
                                display: false,
                                text: 'Sekundy',
                                color: 'rgba(255, 255, 255, 0.8)'
                            },
                            grid: {
                                color: 'rgba(255, 255, 255, 0.2)'
                            },
                            ticks: {
                                color: 'rgba(255, 255, 255, 0.8)'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: false,
                                text: 'Zebrane produkty',
                                color: 'rgba(255, 255, 255, 0.8)'
                            },
                            grid: {
                                color: 'rgba(255, 255, 255, 0.2)'
                            },
                            ticks: {
                                color: 'rgba(255, 255, 255, 0.8'
                            }
                        }
                    },
                    elements: {
                        point: {
                            radius: 0,
                            hoverRadius: 6,
                            hoverBorderWidth: 2
                        }
                    },
                    plugins: {
                        legend: {
                            display: false,
                            labels: {
                                color: 'rgba(0, 69, 82, 1)',
                                font: {
                                    size: 15
                                }
                            }
                        },
                        tooltip: {
                            mode: 'index',
                            intersect: false,
                            callbacks: {
                                label: function (context) {
                                    var label = context.dataset.label || '';
                                    var value = context.parsed.y;
                                    return label + ': ' + value;
                                }
                            }
                        }
                    }
                }
            });

            var connection = new signalR.HubConnectionBuilder().withUrl("/scrapingHub").build();
            var scrapingComplete = false;

            connection.on("ReceiveProgressUpdate", function (scrapedCount, totalCount, elapsedSeconds) {
                if (scrapingComplete) return;

                var percentage = Math.round((scrapedCount / totalCount) * 100);
                var progressBarInner = document.getElementById("progressBarInner");
                var progressText = document.getElementById("progressText");
                var completionMessage = document.getElementById("completionMessage");

                progressBarInner.style.width = percentage + "%";
                progressBarInner.innerHTML = percentage + "%";
                progressText.innerHTML = `Zbieranie cen ${scrapedCount}/${totalCount} produktów`;

                var currentTime = Math.floor(elapsedSeconds);

                var speed = (scrapedCount / elapsedSeconds).toFixed(2);

                if (speedChart.data.labels.length > 0 && currentTime === speedChart.data.labels[speedChart.data.labels.length - 1]) {
                    var lastIndex = speedChart.data.labels.length - 1;
                    speedChart.data.datasets[0].data[lastIndex] = (parseFloat(speedChart.data.datasets[0].data[lastIndex]) + parseFloat(speed)) / 2;
                } else {
                    speedChart.data.labels.push(currentTime);
                    speedChart.data.datasets[0].data.push(parseFloat(speed));
                }

                speedChart.update();

                if (scrapedCount === totalCount) {
                    completionMessage.style.display = "block";
                    completionMessage.innerHTML = `Zebrano ceny dla ${scrapedCount}/${totalCount} produktów.`;
                    completionMessage.style.color = "#0E7E87";

                    progressBarInner.style.backgroundColor = "#0E7E87";

                    progressText.style.display = "none"; // Hide progress text

                    scrapingComplete = true;

                }
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });

            var storeId = '@storeId';

            $('#scrapingForm').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');

                url = url.split('?')[0];

                $.ajax({
                    url: url + '?storeId=' + storeId,
                    method: 'GET',
                    success: function () {
                        console.log('Scraping started successfully');
                    },
                    error: function () {
                        console.error('Error starting scraping');
                    }
                });
            });
        });
    </script>
}
