@model Heat_Lead.Models.ViewModels.NewsViewModel


@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Aktualności


            </div>
         

        </div>
        <div class="Horizontal">

            <div class="Vert-News">
                @foreach (var news in Model.NewsIndex)
                {
                    <div class="News-box-m">
                        <div class="News-box-content">
                            <div class="News-box-info">
                                @news.Title
                              
                            </div>
                            <div class="News-summary-line" style="font-size: 14px;">
                                <div class="campaign-summary-line-icon">
                                    <img src="~/images/Time-b.svg" alt="Panel Icon" width="16" height="16" />
                                </div>
                                @news.FormattedCreationDate
                            </div>
                        </div>
                        <div class="News-box-info">
                            <div class="News-summary-line" style="font-size: 14px;">
                                @Html.Raw(news.Message)
                            </div>
                            @if (!string.IsNullOrEmpty(@news.GraphicUrl))
                            {
                                <div class="News-graphic">
                                    <img src="@news.GraphicUrl" alt="Obrazek" />
                                </div>
                            }
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

