@model Heat_Lead.Models.ManagerViewModels.ManagerPayoutViewModel



@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<div class="Vert">
    <div class="Vert-full">
        <div class="order-upper-box">
            <div class="Order-Container-Title">
                Wykonane wypłaty
                <div class="form-check-orders">
                    <div>
                        Łączna suma wykonanych wypłat: <span id="totalCompletedAmount">0</span> zł
                    </div>
                    <div>
                        Łączna ilość wykonanych wypłat: <span id="completedPayoutCount">0</span>
                    </div>
                </div>
            </div>
            <div class="Column-bottom">
                <a asp-action="Index" class="Button-Page-Small">Wypłaty do wykonania</a>
            </div>
        </div>

        <div class="Vert-table">
            <table class="table-orders">
                <thead>
                    <tr>
                        <th scope="col">Numer wypłaty</th>
                        <th scope="col">Imię i Nazwisko Partnera</th>
                        <th scope="col">Zlecona kwota do wypłaty</th>
                        <th scope="col">Status</th>
                        <th scope="col">Typ odbiorcy</th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payout in Model.DonePayouts)
                    {
                        <tr data-paycheckid="@payout.PaycheckId" style="cursor: pointer;">
                            <td>@payout.PaycheckId</td>
                            <td>@payout.PartnerName @payout.PartnerSurname</td>
                            <td>@payout.Amount zł</td>
                            <td>
                                <div class="Validation @(payout.MoneySended ? "Validation-accepted" : "")">
                                    @(payout.MoneySended ? "Wypłacono" : "W trakcie")
                                </div>
                            </td>
                            <td>
                                <div class="Validation @(payout.IsCompany ? "Validation-company" : "Validation-individual")">
                                    @(payout.IsCompany ? "Firma" : "Osoba prywatna")
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
       
        $('.table-orders tbody tr').on('click', function () {
            var paycheckId = $(this).data('paycheckid');
            window.location.href = '/Payout/PayoutHistory/' + paycheckId;
        });

        function calculateCompletedPayouts() {
            let totalCompletedAmount = 0;
            let completedPayoutCount = 0;

            document.querySelectorAll('.table-orders tbody tr').forEach(row => {
                const amount = parseFloat(row.cells[2].innerText.replace(' zł', ''));
                const status = row.cells[3].innerText.trim();

                if (status === 'Wypłacono') {
                    totalCompletedAmount += amount;
                    completedPayoutCount++;
                }
            });

            document.getElementById('totalCompletedAmount').innerText = totalCompletedAmount.toFixed(2);
            document.getElementById('completedPayoutCount').innerText = completedPayoutCount;
        }

        window.onload = calculateCompletedPayouts;
    });
</script>
