
@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Vert">
    <div class="Vert-full">
        <div class="order-upper-box">
            <div class="Order-Container-Title">
                Dane do wypłaty
            </div>
            <div class="Column-bottom">
                <a asp-action="Index" class="Button-Page-Small">Wróć do wypłat</a>
            </div>
        </div>
        <div class="order-upper-box">
            <div class="Withdraw-Inner-Data-Display">
                <div class="Withdraw-Inner-Data-Personal-Display">
                    <div class="form-group">
                        Imię i Nazwisko Partnera
                        <div class="Horizontal-p">
                            <span id="partnerName" class="form-control">@Model.PartnerName @Model.PartnerSurname</span>
                            <button class="Button-Medium" onclick="copyToClipboard('partnerName')">Kopiuj</button>
                        </div>
                    </div>
                </div>

                <div class="Withdraw-Inner-Data-Personal-Display">
                    <div class="form-group">
                        Adres email
                        <div class="Horizontal-p">
                            <span id="partnerEmail" class="form-control">@Model.PartnerEmail</span>
                            <button class="Button-Medium" onclick="copyToClipboard('partnerEmail')">Kopiuj</button>
                        </div>
                    </div>
                </div>
                <div class="Withdraw-Inner-Data-Personal-Display">
                    <div class="form-group">
                        Adres
                        <div class="Horizontal-p">
                            <span id="address" class="form-control">@Model.Address</span>
                            <button class="Button-Medium" onclick="copyToClipboard('address')">Kopiuj</button>
                        </div>
                    </div>
                </div>

                <div class="Withdraw-Inner-Data-Personal-Display">
                    <div class="form-group">
                        Kod Pocztowy
                        <div class="Horizontal-p">
                            <span id="postalCode" class="form-control">@Model.PostalCode</span>
                            <button class="Button-Medium" onclick="copyToClipboard('postalCode')">Kopiuj</button>
                        </div>
                    </div>
                </div>
                <div class="Withdraw-Inner-Data-Personal-Display">
                    <div class="form-group">
                        Miasto
                        <div class="Horizontal-p">
                            <span id="city" class="form-control">@Model.City</span>
                            <button class="Button-Medium" onclick="copyToClipboard('city')">Kopiuj</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Withdraw-Inner-Data-Display">
               

                @if (Model.IsCompany)
                {
                    <div class="Withdraw-Inner-Data-Personal-Display">
                        <div class="form-group">
                            Nazwa firmy
                            <div class="Horizontal-p">
                                <span id="companyName" class="form-control">@Model.CompanyName</span>
                                <button class="Button-Medium" onclick="copyToClipboard('companyName')">Kopiuj</button>
                            </div>
                        </div>
                    </div>

                    <div class="Withdraw-Inner-Data-Personal-Display">
                        <div class="form-group">
                            NIP firmy
                            <div class="Horizontal-p">
                                <span id="taxNumber" class="form-control">@Model.TaxNumber</span>
                                <button class="Button-Medium" onclick="copyToClipboard('taxNumber')">Kopiuj</button>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="Withdraw-Inner-Data-Personal-Display">
                        <div class="form-group">
                            PESEL
                            <div class="Horizontal-p">
                                <span id="pesel" class="form-control">@Model.Pesel</span>
                                <button class="Button-Medium" onclick="copyToClipboard('pesel')">Kopiuj</button>
                            </div>
                        </div>
                    </div>

                    <div class="Withdraw-Inner-Data-Personal-Display">
                        <div class="form-group">
                            Urząd skarbowy
                            <div class="Horizontal-p">
                                <span id="taxOffice" class="form-control">@Model.TaxOffice</span>
                                <button class="Button-Medium" onclick="copyToClipboard('taxOffice')">Kopiuj</button>
                            </div>
                        </div>
                    </div>
                }

                <div class="Withdraw-Inner-Data-Personal-Display">
                    <div class="form-group">
                        Numer konta bankowego
                        <div class="Horizontal-p">
                            <span id="bankAccountNumber" class="form-control">@Model.BankAccountNumber</span>
                            <button class="Button-Medium" onclick="copyToClipboard('bankAccountNumber')">Kopiuj</button>
                        </div>
                    </div>
                </div>

                <div class="Withdraw-Inner-Data-Personal-Display">
                    <div class="form-group">
                        Kwota wypłaty
                        <div class="Horizontal-p">
                            <span id="amount" class="form-control">@Model.Amount</span>
                            <button class="Button-Medium" onclick="copyToClipboard('amount')">Kopiuj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        

      

        <form asp-action="MarkPayoutAsDone" method="post" class="d-inline">
            <input type="hidden" name="id" value="@Model.PaycheckId" />
            <button type="submit" class="Button-Action-Big">Zatwierdź wypłatę</button>
        </form>
    </div>
</div>

<div id="alertContainer" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1031; right: 0; bottom: 0;"></div>

<script src="/js/Manager/payoutdetails.min.js"></script>
