@model IEnumerable<PriceSafari.Models.StoreClass>

@{
    ViewData["Title"] = "Lista Sklepów";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    var lastScrapDates = ViewBag.LastScrapDates as Dictionary<int, DateTime?>;
}

@functions {

    public string GetPlanImageFile(PriceSafari.Models.StoreClass store)
    {
        if (store.Plan == null)
            return "NoPlan.png";

        var plan = store.Plan;
        if (plan.IsTestPlan)
        {
            return "Free.png";
        }
        else
        {

            var products = store.ProductsToScrap ?? 0;
            if (products <= 500)
                return "Lite.png";
            else if (products <= 1000)
                return "Basic.png";
            else if (products <= 4000)
                return "Pro.png";
            else if (products <= 10000)
                return "Ultimate.png";
            else
                return "Enterprise.png";
        }
    }
}

<style>
    .channel-icons {
        margin-top: 5px;
    }

    .channel-icon {
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }

    .icon-disabled {
        filter: grayscale(100%);
        opacity: 0.6;
    }
</style>

<h2>Lista Sklepów</h2>

<a asp-controller="PriceScraping" asp-action="GetUniqueScrapingUrls" class="btn btn-info mb-3">
    Unikalne URL do Scrapowania
</a>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th style="width: 25%">Sklep</th>
            <th style="width: 15%">Parametry planu</th>
            <th style="width: 20%">Akcje</th>
            <th style="width: 10%">Ostatnie Scrapowanie</th>
            <th style="width: 15%">Postęp</th>
            <th style="width: 10%">Status</th>
            <th style="width: 5%">Usuń</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {

            var planImage = GetPlanImageFile(store);
            var planName = store.Plan?.PlanName ?? "Brak Planu";

            bool isTestPlan = store.Plan?.IsTestPlan ?? false;

            bool isActive = store.IsActive;

            int remainingScrapes = store.RemainingDays;

            int productsInPlan = store.Plan?.ProductsToScrap ?? 0;

            <tr>
     
                <td>
                    <div>
               
                        @if (!string.IsNullOrEmpty(store.StoreLogoUrl))
                        {
                            <img src="@store.StoreLogoUrl" alt="@store.StoreName" style="max-height:30px; margin-right:5px;" />
                        }

                 
                        <strong>@store.StoreName</strong>
                        @if (store.UserWantsExit)
                        {
                            <span class="resignation-alert" title="KLIENT ZGŁOSIŁ CHĘĆ REZYGNACJI Z USŁUGI">
                                <i class="fas fa-sad-tear" style="color:red"></i>
                            </span>
                        }
                    </div>

                    <div class="channel-icons">
                        <img src="~/images/Ceneo.png"
                             alt="Ceneo"
                             title="Ceneo"
                             class="channel-icon @(store.OnCeneo ? "" : "icon-disabled")" />

                        <img src="~/images/GoogleShopping.png"
                             alt="Google"
                             title="Google"
                             class="channel-icon @(store.OnGoogle ? "" : "icon-disabled")" />

                        <img src="~/images/AllegroIcon.png"
                             alt="Allegro"
                             title="Allegro"
                             class="channel-icon @(store.OnAllegro ? "" : "icon-disabled")" />
                    </div>
                    <div class="mt-1" style="font-size:0.9em;">
                        <img src="~/images/@planImage" alt="@planName" style="height:20px; margin-right:5px;" />
                        @planName
                        @if (isTestPlan)
                        {
                            <span class="Validation Validation-accepted">Free</span>
                        }
                    </div>

                </td>


                <td>
                    <div>
                        <strong>Ilość w planie:</strong> @productsInPlan
                    </div>
                    <div>
                        <strong>Aktywny:</strong>
                        @if (isActive)
                        {
                            <span style="color:green;">Tak</span>
                        }
                        else
                        {
                            <span style="color:red;">Nie</span>
                        }
                    </div>
                    <div>
                        <strong>Pozostałe Scrapowania:</strong> @remainingScrapes
                    </div>
                </td>

                <td>

                    <div class="mt-1">
                        <select class="category-depth-select mb-1" data-store-id="@store.StoreId" style="width:auto;">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a asp-controller="Store" asp-action="ScrapeProducts" asp-route-storeId="@store.StoreId"
                           class="btn btn-sm btn-success scrape-button"
                           data-store-id="@store.StoreId">
                            Scrapuj Prd. Ceneo
                        </a>
                        <a asp-controller="Store" asp-action="ProductList" asp-route-storeId="@store.StoreId"
                           class="btn btn-sm btn-secondary">
                            Lista Prod.
                        </a>
                        <a asp-controller="GoogleScraper" asp-action="ProductList" asp-route-storeId="@store.StoreId"
                           class="btn btn-sm btn-secondary">
                            Google Prod.
                        </a>
                        <a asp-controller="Flags" asp-action="List" asp-route-storeId="@store.StoreId"
                           class="btn btn-sm btn-warning">
                            Flagi
                        </a>
                        <a asp-controller="PriceScraping" asp-action="GetStoreProductsWithCoOfrIds"
                           asp-route-storeId="@store.StoreId" class="btn btn-sm btn-info">
                            CoOfr IDs
                        </a>
                        <a asp-controller="Store" asp-action="EditStore" asp-route-storeId="@store.StoreId"
                           class="btn btn-sm btn-info">
                            Edytuj
                        </a>
                        <a asp-controller="PriceAnalysis" asp-action="Index" asp-route-storeId="@store.StoreId"
                           class="btn btn-sm btn-dark">
                            Analiza Cen
                        </a>
                        @if (!string.IsNullOrEmpty(store.StoreNameAllegro))
                        {
                            <a asp-controller="AllegroScrape" asp-action="Process" asp-route-storeId="@store.StoreId"
                               class="btn btn-sm btn-warning" style="background-color:orangered" title="Przetwórz zebrane dane z Allegro dla tego sklepu">
                                Przetwórz Allegro
                            </a>
                        }

                        <a asp-controller="AllegroPriceHistory" asp-action="Index" asp-route-storeId="@store.StoreId"
                           class="btn btn-sm btn-warning" style="background-color:coral" title="Analizuj wyniki z Allegro">
                            Allegro CENY
                        </a>
                    </div>

                </td>

                <td>
                    @if (lastScrapDates != null && lastScrapDates.ContainsKey(store.StoreId) && lastScrapDates[store.StoreId].HasValue)
                    {
                        var lastScrap = lastScrapDates[store.StoreId].Value;
                        var timeDiff = DateTime.Now - lastScrap;

                        var hours = (int)timeDiff.TotalHours;
                        var minutes = timeDiff.Minutes;
                        <span>@lastScrap.ToString("yyyy-MM-dd HH:mm")</span>
                        <br />
                        <small>(@hours godzin, @minutes minut temu)</small>
                    }
                    else
                    {
                        <span>Brak danych</span>
                    }
                </td>

             
                <td>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar bg-success"
                             role="progressbar"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             id="progress-@store.StoreId"
                             style="width: 0%;">
                            0%
                        </div>
                    </div>
                </td>

                <td id="status-@store.StoreId">
                    Oczekiwanie
                </td>

                <td>
                    <form asp-controller="Store" asp-action="DeleteStore" method="post"
                          onsubmit="return confirm('Czy na pewno chcesz usunąć ten sklep?');">
                        <input type="hidden" name="storeId" value="@store.StoreId" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Usuń
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Store" asp-action="CreateStore" class="btn btn-success mt-3">
    Dodaj Nowy Sklep
</a>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/scrapingHub").build();

            connection.on("ReceiveProgressUpdate", function (totalScraped, uniqueProducts, currentPage, totalPages, storeId) {
                const progressElement = document.querySelector(`#progress-${storeId}`);
                const statusElement = document.querySelector(`#status-${storeId}`);
                if (progressElement && statusElement) {
                    const progressValue = (currentPage / totalPages) * 100;
                    progressElement.style.width = progressValue + "%";
                    progressElement.setAttribute("aria-valuenow", progressValue);
                    progressElement.textContent = Math.round(progressValue) + "%";
                    statusElement.textContent = `Strona ${currentPage} z ${totalPages} - Zebrano ${uniqueProducts} unikalnych produktów`;
                }
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });

            document.querySelectorAll(".scrape-button").forEach(button => {
                button.addEventListener("click", function (event) {
                    event.preventDefault();
                    const storeId = this.getAttribute("data-store-id");
                    const depth = document.querySelector(`.category-depth-select[data-store-id='${storeId}']`).value;
                    fetch(`/Store/ScrapeProducts?storeId=${storeId}&depth=${depth}`, { method: "GET" });
                });
            });
        });
    </script>
}