@model Heat_Lead.Models.ManagerViewModels.ManagerCategoryViewModel.ManagerCategoryEditViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Edytuj Kategorie
            </div>
            <partial name="_ManageNavCol" />
        </div>
        <div class="Column-30">
            <form asp-action="Edit" method="post" class="Column-Form">
                <input type="hidden" asp-for="CategoryId" />

                <div class="form-group">
                    <label asp-for="StoreId" class="control-label">Kanał sprzedaży:</label>
                    <select asp-for="StoreId" asp-items="ViewBag.Store" class="form-control" required>
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="StoreId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CodeTracking">Śledzenie kodów rabatowych:</label>
                    <select asp-for="CodeTracking" class="DropDown">
                        <option value="false">Nie</option>
                        <option value="true">Tak</option>
                    </select>
                    <span asp-validation-for="CodeTracking" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryName">Nazwa kategorii:</label>
                    <input asp-for="CategoryName" class="form-control" maxlength="24" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Validation">Walidacja (dni):</label>
                    <input asp-for="Validation" class="form-control" />
                    <span asp-validation-for="Validation" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CommissionPercentage">Prowizja (%):</label>
                    <input asp-for="CommissionPercentage" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="CommissionPercentage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="checkbox" id="UpdateProductCommissions" name="UpdateProductCommissions" value="true" @(Model.CommissionPercentage.HasValue ? "" : "disabled") />
                    <label>Aktualizuj prowizje w powiązanych produktach (@Model.NumberOfProducts)</label>
                </div>

                <div class="product-upper-box">
                    <button type="submit" class="Button-Add-Small">Zapisz zmiany</button>
                    <div>
                        <a asp-action="DeleteConfirmed" class="Button-Page-Small-r" asp-route-id="@Model.CategoryId">Usuń kategorie</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var numberOfProducts = @Model.NumberOfProducts;
        var commissionPercentage = @Model.CommissionPercentage;


        if (commissionPercentage === null) {
            $('#UpdateProductCommissions').prop('disabled', true);
        }

        $('#UpdateProductCommissions').change(function () {
            if (this.checked) {
                $('#productCountInfo').text('Zmienisz prowizje w ' + numberOfProducts + ' produktach.');
            } else {
                $('#productCountInfo').text('');
            }
        });
    });
</script>
