@model PriceSafari.Models.ViewModels.ProductPriceDetailsViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    int position = 1;
}
@{
    var countryProductCounts = Model.Prices
        .GroupBy(p => p.RegionName)
        .ToDictionary(g => g.Key, g => g.Count());
}

<div class="Vert">
    <div class="Page-Box">

        <div class="price-box-space">
            <div class="price-box-column-name" >
                @Model.ProductName
                <div class="form-check-orders" style="margin: 16px;">
                    <div>

                        <p><strong>Raport:</strong> @Model?.RaportName</p>
                        <p><strong>Sklep:</strong> @Model.MyStore</p>
                    </div>
                </div>

                <div style="margin-top: 50px;">
                    <select id="countryFilter" class="DropDown" style="width: 220px;" onchange="filterByCountry()">
                        <option value="All">
                           
                            Wszystkie kraje (@Model.Prices.Count())
                        </option>
                        @foreach (var country in countryProductCounts)
                        {
                            <option value="@country.Key">

                                @country.Key (@country.Value)
                            </option>
                        }
                    </select>
                    <button type="button" class="Button-Page-Small-bl" id="locateStoreButton">
                        Zlokalizuj mnie
                    </button>
                    <button type="button" class="Button-Page-Small-b" onclick="window.open('@Model.GoogleProductUrl', '_blank')">
                        Google Products
                    </button>
                </div>
            </div>
            <div style="display:flex; width:50%; height:180px;">
                <canvas id="priceChart" width="100%" height="100"></canvas>
            </div>

            @if (!string.IsNullOrEmpty(Model.ProductImg))
            {
                <div>
                    <img src="@Model.ProductImg" style="height: 180px; width: 180px;" />
                </div>
            }
        </div>

        <!-- Tabela z ofertami -->
        <div class="Vert-table">
            <table class="table-orders">
                <thead>
                    <tr>
                        <th>Sklep</th>
                        <th>Pozycja</th>
                        <th>Kraj</th>
                        <th>Cena PLN</th>
                        <th>Dostawa PLN</th>
                        <th>Cena</th>
                        <th>Dostawa</th>
                        <th>Ofert</th>
                    </tr>
                </thead>
                <tbody id="offersTableBody">
                    @foreach (var price in Model.Prices)
                    {
                        <tr data-country="@price.RegionName">
                            <td>
                                @if (string.Equals(price.StoreName, Model.MyStore, StringComparison.OrdinalIgnoreCase))
                                {
                                    <strong>@price.StoreName</strong>
                                }
                                else
                                {
                                    @price.StoreName
                                }
                            </td>
                            <td><div class="Position">Msc @position</div></td>
                            <td>
                                <div style="display:flex;">
                                    <img src="~/images/@(price.RegionName).png" alt="@price.RegionName" style="display:flex; align-self:center; width: 28px; height: 20px; margin-right:8px;" />
                                    @price.RegionName
                                </div>
                            </td>
                            <td>@price.CalculatedPrice PLN</td>
                            <td>
                              

                                @if ((price.CalculatedPriceWithDelivery - price.CalculatedPrice) == 0)
                                {
                                    <div class="FreeShipping">Free</div>
                                }
                                else
                                {
                                    <div class="PaidShipping">@((price.CalculatedPriceWithDelivery - price.CalculatedPrice)) PLN</div>
                                }
                            </td>
                            <td>@price.Price @price.Currency</td>
                            <td>
                                @if ((price.PriceWithDelivery - price.Price) == 0)
                                {
                                    <div class="FreeShipping">Free</div>
                                }
                                else
                                {
                                    <div class="PaidShipping">@((price.PriceWithDelivery - price.Price)) @price.Currency</div>
                                }
                            </td>
                            
                            
                            <td>
                                <button type="button" class="Button-Page-Small" onclick="window.open('@price.OfferUrl', '_blank')">
                                    Oferta
                                </button>
                            </td>
                        </tr>
                        position++;
                    }
                </tbody>


            </table>
        </div>
    </div>
</div>

<!-- JavaScript do filtrowania ofert -->
<script>
    function filterByCountry() {
        var selectedCountry = document.getElementById('countryFilter').value;
        var rows = document.querySelectorAll('#offersTableBody tr');

        rows.forEach(function (row) {
            var country = row.getAttribute('data-country');
            if (selectedCountry === 'All' || country === selectedCountry) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }

    document.getElementById('locateStoreButton').addEventListener('click', function () {
        var tableContainer = document.querySelector('.Vert-table');
        var rows = document.querySelectorAll('table.table-orders tbody tr');
        var found = false;

        rows.forEach(function (row) {
            var storeCell = row.querySelector('td strong');
            if (storeCell) {

                var rowOffset = row.offsetTop - tableContainer.offsetTop;
                tableContainer.scrollTo({
                    top: rowOffset - (tableContainer.clientHeight / 7) + (row.clientHeight / 1),
                    behavior: 'smooth'
                });


                row.style.backgroundColor = 'lightgray';
                setTimeout(function () {
                    row.style.transition = 'background-color 1s ease';
                    row.style.backgroundColor = '';
                }, 1000);

                found = true;
            }
        });

        if (!found) {
            alert('Nie znaleziono Twojego sklepu.');
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
     
        const prices = @Html.Raw(Json.Serialize(Model.Prices.Select(p => p.CalculatedPrice)));
        const stores = @Html.Raw(Json.Serialize(Model.Prices.Select(p => p.StoreName)));
        const myStore = '@Model.MyStore'.toLowerCase(); 

     
        const sortedData = prices.map((price, index) => ({ price, store: stores[index] }))
            .sort((a, b) => b.price - a.price);


        const sortedPrices = sortedData.map(item => item.price);
        const sortedStores = sortedData.map(item => item.store);

       
        const barColors = sortedStores.map(store => {
            return store.toLowerCase() === myStore ? 'rgba(65, 199, 199, 0.4)' : 'rgba(34, 34, 34, 0.4)';
        });


        const borderColors = sortedStores.map(store => {
            return store.toLowerCase() === myStore ? 'rgba(65, 199, 199, 1)' : 'rgba(34, 34, 34, 1)';
        });

        // Konfiguracja wykresu
        const ctx = document.getElementById('priceChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: sortedStores, 
                datasets: [{
                    label: 'Cena PLN',
                    data: sortedPrices,
                    backgroundColor: barColors,
                    borderColor: borderColors,
                    borderWidth: 2,
                    borderRadius: 2
                }]

            },
            options: {
                maintainAspectRatio: false, 
                scales: {
                    y: {
                        beginAtZero: true, 
                        ticks: {
                           
                            callback: function (value) {
                                return value + ' PLN';
                            }
                        }
                    },
                    x: {
                        display: false 
                    }
                },
                plugins: {
                    legend: {
                        display: false 
                    }
                }
            }
        });
    });
</script>
