


@model PriceSafari.Models.ViewModels.SafariReportAnalysisViewModel

       

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    var flagsList = (List<PriceSafari.Models.FlagsClass>)ViewBag.Flags;
    var myStoreName = Model.StoreName;
    var storeId = Model.StoreId;
}

<!-- Include Chart.js Library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="Vert">
    <div class="Page-Box">
        <div class="Page-Box-Container">
            <div class="Page-Box-Category">
                <div><img src="@Model.StoreLogo" class="img-container" /></div>
                <div class="side-chart-box">
                    <canvas id="classificationChart"></canvas>
                </div>
                <div class="store-section">
                    <!-- Classification Filters -->
                        <div class="form-check">
                            <input class="form-check-input colorFilter" type="checkbox" id="prGoodCheckbox" value="prGood">
                        <label class="form-check-label" for="prGoodCheckbox" id="prGoodLabel">Taniej o (<span id="prGoodCount">0</span>)</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input colorFilter" type="checkbox" id="prGrayCheckbox" value="prGray">
                            <label class="form-check-label" for="prGrayCheckbox" id="prGrayLabel">Podobna cena (<span id="prGrayCount">0</span>)</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input colorFilter" type="checkbox" id="prToHighCheckbox" value="prToHigh">
                        <label class="form-check-label" for="prToHighCheckbox" id="prToHighLabel">Drożej o (<span id="prToHighCount">0</span>)</label>
                        </div>

                        <!-- Threshold Inputs -->
                        <div class="price-range-settings">
                        <div class="color-circle prLower-circle"></div>
                            <label for="threshold1"></label>
                            <input type="number" id="threshold1" value="@Model.SetSafariPrice1.ToString(System.Globalization.CultureInfo.InvariantCulture)" step="0.01" min="0.00">
                            <span id="unitLabel1"></span>
                        </div>
                        <div class="price-range-settings">
                        <div class="color-circle prHigher-circle"></div>
                            <label for="threshold2"></label>
                            <input type="number" id="threshold2" value="@Model.SetSafariPrice2.ToString(System.Globalization.CultureInfo.InvariantCulture)" step="0.01" min="0.00">
                            <span id="unitLabel2"></span>
                        </div>

                        <!-- Use Price Difference Checkbox -->
                    <div>
                        <label>
                            <input class="diffCheckBox" style="margin-top: 10px;" type="checkbox" id="usePriceDifference"
                            @(Model.UsePriceDiffSafari ? "checked" : "") />
                        </label>
                    </div>

                       
                        <button id="savePriceValues" class="Button-Page-Small" style="margin-top: 2px;" data-store-id="@Model.StoreId">Zapisz</button>


                </div>

                <!-- Flags Filter -->
                <div class="filterBox">
                    <div class="Category-Container-Select" style="margin-top:-2px;">Flagi</div>
                    <div class="store-section" id="flagContainer">
                        @{
                            // Collect flags used in products and count occurrences
                            var flagUsage = new Dictionary<int, int>(); // FlagId, Count
                            foreach (var item in Model.ProductPrices)
                            {
                                foreach (var flagId in item.FlagIds)
                                {
                                    if (flagUsage.ContainsKey(flagId))
                                        flagUsage[flagId]++;
                                    else
                                        flagUsage[flagId] = 1;
                                }
                            }

                            // Get only flags that are used in products
                            var usedFlags = flagsList.Where(f => flagUsage.ContainsKey(f.FlagId)).ToList();
                        }

                        @foreach (var flag in usedFlags)
                        {
                            <div class="form-check">
                                <input class="form-check-input flagFilter" type="checkbox" id="flagCheckbox_@flag.FlagId" value="@flag.FlagId">
                                <label class="form-check-label" for="flagCheckbox_@flag.FlagId">
                                    @flag.FlagName (@flagUsage[flag.FlagId])
                                </label>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="Horizontal">
                <div class="order-upper-box">
                    <!-- Search Input -->
                    <input type="text" id="productSearch" placeholder="Wyszukaj produkt" />
                    <!-- Category Filter -->
                    <select id="categoryFilter" class="DropDown">
                        <option value="">Wszystkie kategorie</option>
                    </select>
                    <!-- Region Filter -->
                    <select id="regionFilter" class="DropDown">
                        <option value="">Wszystkie regiony</option>
                        @foreach (var region in (Dictionary<int, string>)ViewBag.Regions)
                        {
                            if (region.Key == (int?)ViewBag.RegionId)
                            {
                                <option value="@region.Key" selected>@region.Value</option>
                            }
                            else
                            {
                                <option value="@region.Key">@region.Value</option>
                            }
                        }
                    </select>

                    <!-- Report Info -->
                    <div class="form-check-orders">
                        <div>
                            <p><strong>Raport cenowy:</strong> @Model.ReportName</p>
                            <p><strong>Data utworzenia:</strong> @Model.CreatedDate.ToString("yyyy-MM-dd HH:mm")</p>
                        </div>
                    </div>

                </div>

                <div id="sortingButtons">
                    <div class="ProductCount" id="displayedProductCount"></div>
                </div>

                <div class="Vert-table">
                    <div id="priceContainer" class="price-container">
                        @foreach (var item in Model.ProductPrices)
                        {
                            var priceDifference = Math.Round(item.CalculatedPrice - item.OurCalculatedPrice, 2);

                            decimal? percentageDifference = null;
                            if (item.OurCalculatedPrice != 0)
                            {
                                percentageDifference = Math.Round(((item.CalculatedPrice - item.OurCalculatedPrice) / item.OurCalculatedPrice) * 100, 2);
                            }

                            var colorClass = "prGray"; // Default class

                            // Combine Flag IDs into a comma-separated string for data attribute
                            var flagIdsString = string.Join(",", item.FlagIds);

                            <div class="price-box @colorClass"
                                 data-category="@item.Category"
                                 data-pricedifference="@priceDifference.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)"
                                 data-percdifference="@(percentageDifference?.ToString("F2", System.Globalization.CultureInfo.InvariantCulture) ?? "null")"
                                 data-colorclass="@colorClass"
                                 data-flags="@flagIdsString"
                                 data-ourcalculatedprice="@item.OurCalculatedPrice.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)"
                                 data-marginprice="@(item.MarginPrice?.ToString("F2", System.Globalization.CultureInfo.InvariantCulture) ?? "null")"
                                 onclick="window.open('@Url.Action("ProductPriceDetails", "Safari", new { reportId = ViewBag.ReportId, productId = item.ProductId, regionId = ViewBag.RegionId })', '_blank')">



                                <div class="price-box-space">
                                    <div class="price-box-column-name">
                                        @item.ProductName
                                    </div>
                                    <div><img src="~/images/GoogleShopping.png" alt="GoogleShopping" style=" height:32px;" /></div>
                                </div>
                                <div class="price-box-column-category" style="margin-top:4px; margin-bottom:4px;">
                                    @item.Category
                                </div>
                                <div class="price-box-data">
                                    <div class="color-bar @colorClass" style="margin-right:16px; min-height:84px; max-height:84px;"></div>

                                    @if (!string.IsNullOrEmpty(item.Product.MainUrl))
                                    {
                                        <img data-src="@item.Product.MainUrl" alt="@item.ProductName" class="product-image lazy-load" style="height:84px; width:84px;" />
                                    }
                                    else
                                    {
                                        <img data-src="/images/no-image.png" alt="Brak zdjęcia" class="product-image lazy-load" />
                                    }
                                    <div class="price-box-column" style="margin-left:8px;">
                                        <div class="price-box-column-text">
                                            <span style="font-weight: 500;">@item.CalculatedPrice.ToString("0.00") PLN</span><br />
                                            @item.StoreName
                                        </div>
                                        <div class="price-box-column-text">
                                            <div style="display:flex;">
                                                <img src="~/images/@(item.RegionName).png" alt="@item.RegionName" style="display:flex; align-self:center; width: 32px; height: 22px; margin-right:8px;" />
                                                @item.RegionName
                                            </div>
                                        </div>
                                    </div>

                                    <div class="price-box-column">
                                        @if (item.OurCalculatedPrice != 0)
                                        {
                                            <div class="price-box-column-text">
                                                <span style="font-weight: 500;">@item.OurCalculatedPrice.ToString("0.00") PLN</span><br />
                                                @myStoreName
                                            </div>
                                            <div class="price-box-column-text">
                                                <div style="display:flex;">
                                                    <img src="~/images/@(item.OurRegionName).png" alt="@item.OurRegionName" style="display:flex; align-self:center; width: 32px; height: 22px; margin-right:8px;" />
                                                    @item.OurRegionName
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price-box-column-text">
                                                <span style="font-weight: 500;">Brak Ceny</span><br />
                                                @myStoreName
                                            </div>
                                        }
                                    </div>

                                    @if (item.OurCalculatedPrice != 0)
                                    {
                                        <div class="price-box-column-action">
                                            
                                        </div>
                                    }

                                    <div class="flags-container">
                                        @if (item.FlagIds.Any())
                                        {
                                            foreach (var flagId in item.FlagIds)
                                            {
                                                var flag = flagsList.FirstOrDefault(f => f.FlagId == flagId);
                                                if (flag != null)
                                                {
                                                    <span class="flag" style="color:@flag.FlagColor; border: 2px solid @flag.FlagColor; background-color:@HexToRgba(flag.FlagColor, 0.3);">@flag.FlagName</span>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript Section -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const lazyLoadImages = document.querySelectorAll('.lazy-load');

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    const img = entry.target;
                    img.src = img.dataset.src;
                    img.addEventListener('load', () => {
                        img.classList.add('loaded'); 
                    });
                    observer.unobserve(img);
                }
            });
        });

        lazyLoadImages.forEach(img => {
            observer.observe(img);
        });
 


        
        const categories = new Set();
        document.querySelectorAll('.price-box-column-category').forEach(categoryElement => {
            const category = categoryElement.textContent.trim();
            if (category) {
                categories.add(category);
            }
        });

        const categoryDropdown = document.getElementById('categoryFilter');
        categories.forEach(category => {
            const option = document.createElement('option');
            option.value = category;
            option.textContent = category;
            categoryDropdown.appendChild(option);
        });

        let allProducts = Array.from(document.querySelectorAll('.price-box'));
        const searchInput = document.getElementById('productSearch');

    
        function sanitizeString(str) {
            return str.replace(/[^a-zA-Z0-9]/g, '').toLowerCase();
        }

    
        function highlightMatches(productName, searchTerm) {
            if (!searchTerm) return productName;

            const sanitizedSearchTerm = searchTerm.replace(/[^a-zA-Z0-9\s/.-]/g, '').trim().toLowerCase();
            const regex = new RegExp(`(${sanitizedSearchTerm.split('').join('\\s*')})`, 'gi'); // Allows gaps
            return productName.replace(regex, '<span style="color: #9400D3; font-weight: bold;">$1</span>');
        }

        
        function updateProducts() {
            const searchTerm = sanitizeString(searchInput.value.trim());
            const selectedCategory = categoryDropdown.value;
            const selectedFlags = Array.from(document.querySelectorAll('.flagFilter:checked')).map(cb => cb.value);
            const selectedClasses = Array.from(document.querySelectorAll('.colorFilter:checked')).map(cb => cb.value);
            const noClassificationFilter = selectedClasses.length === 0;

            const thresholdCheaper = parseFloat(threshold1Input.value) || 0;
            const thresholdMoreExpensive = parseFloat(threshold2Input.value) || 0;
            const usePriceDifference = usePriceDifferenceCheckbox.checked;

           
            let prGoodCount = 0;
            let prGrayCount = 0;
            let prToHighCount = 0;

            let filteredProducts = [];

            allProducts.forEach(productBox => {
                const productNameElement = productBox.querySelector('.price-box-column-name');
                const productName = productNameElement.textContent.trim();
                const productCategory = productBox.getAttribute('data-category');
                const productFlags = productBox.getAttribute('data-flags').split(',');
                const sanitizedProductName = sanitizeString(productName);

                const matchesSearch = sanitizedProductName.includes(searchTerm);
                const matchesCategory = selectedCategory === '' || productCategory === selectedCategory;
                const matchesFlags = selectedFlags.length === 0 || selectedFlags.some(flagId => productFlags.includes(flagId));

      
                const priceDifference = parseFloat(productBox.getAttribute('data-pricedifference')) || 0;
                const percentageDifferenceAttr = productBox.getAttribute('data-percdifference');
                let percentageDifference = percentageDifferenceAttr !== 'null' ? parseFloat(percentageDifferenceAttr) : null;
                let differenceValue = usePriceDifference ? priceDifference : (percentageDifference !== null ? percentageDifference : 0);
                differenceValue = parseFloat(differenceValue.toFixed(2));
                let colorClass = 'prGray';

                if (differenceValue <= -thresholdCheaper) {
                    colorClass = 'prIdeal';
                    prGoodCount++;
                } else if (differenceValue >= thresholdMoreExpensive) {
                    colorClass = 'prToHigh';
                    prToHighCount++;
                } else {
                    colorClass = 'prGray';
                    prGrayCount++;
                }

                
                productBox.classList.remove('prToHigh', 'prGood', 'prGray');
                productBox.classList.add(colorClass);
                productBox.setAttribute('data-colorclass', colorClass);


                const priceDiffDisplay = productBox.querySelector('.price-box-column-action');
                if (priceDiffDisplay) {
                    const epsilon = 0.005;

                  
                    const priceDifference = parseFloat(productBox.getAttribute('data-pricedifference')) || 0;
                    const percentageDifferenceAttr = productBox.getAttribute('data-percdifference');
                    let percentageDifference = percentageDifferenceAttr !== 'null' ? parseFloat(percentageDifferenceAttr) : null;

                    const myPriceAttr = productBox.getAttribute('data-ourcalculatedprice');
                    const myPrice = myPriceAttr !== null && myPriceAttr !== 'null' ? parseFloat(myPriceAttr) : null;

                    const marginPriceAttr = productBox.getAttribute('data-marginprice');
                    const marginPrice = marginPriceAttr !== null && marginPriceAttr !== 'null' ? parseFloat(marginPriceAttr) : null;

                
                    let marginAmount = null;
                    let marginPercentage = null;

                    if (marginPrice != null && myPrice != null) {
                        marginAmount = myPrice - marginPrice;
                        if (marginPrice !== 0) {
                            marginPercentage = (marginAmount / marginPrice) * 100;
                        } else {
                            marginPercentage = null;
                        }
                    }

                    let priceDiffText = '';
                    let priceDiffClass = '';

                    if (myPrice === null || myPrice === 0) {
                    
                        priceDiffText = 'Brak naszej ceny';
                        priceDiffClass = 'priceBox-diff-margin';
                    } else {
                        const roundedPriceDifference = parseFloat(priceDifference.toFixed(2));
                        const roundedPercentageDifference = percentageDifference !== null ? parseFloat(percentageDifference.toFixed(2)) : null;

                        if (Math.abs(roundedPriceDifference) < epsilon) {
                            // Ceny są takie same
                            priceDiffText = 'Cena taka sama';
                            priceDiffClass = 'priceBox-diff-top';
                        } else if (roundedPriceDifference < 0) {
                            // Jesteśmy tańsi
                            const priceDiffFormatted = Math.abs(roundedPriceDifference).toLocaleString('pl-PL', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' PLN';
                            const percentageDiffFormatted = roundedPercentageDifference !== null ? Math.abs(roundedPercentageDifference).toLocaleString('pl-PL', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '%' : '';
                            priceDiffText = `Taniej o: ${priceDiffFormatted} (${percentageDiffFormatted})`;
                            priceDiffClass = 'priceBox-diff-up-margin';
                        } else if (roundedPriceDifference > 0) {
                            // Jesteśmy drożsi
                            const priceDiffFormatted = roundedPriceDifference.toLocaleString('pl-PL', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' PLN';
                            const percentageDiffFormatted = roundedPercentageDifference !== null ? roundedPercentageDifference.toLocaleString('pl-PL', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '%' : '';
                            priceDiffText = `Drożej o: ${priceDiffFormatted} (${percentageDiffFormatted})`;
                            priceDiffClass = 'priceBox-diff-down-margin';
                        } else {
                            // Nie powinno się tu dostać
                            priceDiffText = 'Brak danych';
                            priceDiffClass = 'priceBox-diff-margin';
                        }
                    }

                   
                    let marginInfoHtml = '';
                    if (marginPrice != null) {
                        const formattedMarginPrice = marginPrice.toLocaleString('pl-PL', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' PLN';

                        if (myPrice != null) {
                            const marginSign = marginAmount >= 0 ? '+' : '';
                            const formattedMarginAmount = marginSign + Math.abs(marginAmount).toLocaleString('pl-PL', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' PLN';
                            const formattedMarginPercentage = '(' + marginSign + Math.abs(marginPercentage).toLocaleString('pl-PL', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '%)';

                            marginInfoHtml =
                                '<div class="priceBox-diff-margin">' +
                                '<p>Cena zakupu: ' + formattedMarginPrice + '</p>' +
                                '<p>Marża: ' + formattedMarginAmount + ' ' + formattedMarginPercentage + '</p>' +
                                '</div>';
                        } else {
                            marginInfoHtml =
                                '<div class="priceBox-diff-margin">' +
                                '<p>Cena zakupu: ' + formattedMarginPrice + '</p>' +
                                '</div>';
                        }
                    }


                    
                    priceDiffDisplay.innerHTML = marginInfoHtml + '<div class="' + priceDiffClass + '">' + priceDiffText + '</div>';
                }



                
                const matchesClassification = noClassificationFilter || selectedClasses.includes(colorClass);

              
                if (matchesSearch && matchesCategory && matchesFlags && matchesClassification) {
                    productBox.style.display = 'block';
                    filteredProducts.push({
                        productBox: productBox,
                        productNameElement: productNameElement,
                        exactMatch: sanitizedProductName === searchTerm,
                        matchIndex: sanitizedProductName.indexOf(searchTerm)
                    });
                } else {
                    productBox.style.display = 'none';
                }
            });

           
            filteredProducts.sort((a, b) => {
                if (a.exactMatch && !b.exactMatch) return -1;
                if (!a.exactMatch && b.exactMatch) return 1;
                return a.matchIndex - b.matchIndex;
            });

            filteredProducts.forEach(item => {
                item.productNameElement.innerHTML = highlightMatches(item.productNameElement.textContent, searchInput.value);
            });

            
            prGoodCountSpan.textContent = prGoodCount;
            prGrayCountSpan.textContent = prGrayCount;
            prToHighCountSpan.textContent = prToHighCount;

            
            initializeChart(prGoodCount, prGrayCount, prToHighCount);

           
            updateClassificationLabels();

            
            updateFlagCounts();
        }

       
        const ctx = document.getElementById('classificationChart').getContext('2d');
        let classificationChart;

        function initializeChart(prGoodCount, prGrayCount, prToHighCount) {
            if (classificationChart) {
                classificationChart.destroy();
            }
            classificationChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Droższe', 'Podobna cena', 'Tańsze'],
                    datasets: [{
                        data: [prToHighCount,  prGrayCount, prGoodCount],
                        backgroundColor: [
                            'rgba(171, 37, 32, 0.8)',
                             
                            'rgba(40, 40, 40, 0.8)',
                            'rgba(0, 145, 123, 0.8)'
                           
                        ],
                        borderColor: [
                            'rgba(171, 37, 32, 1)',
                             
                            'rgba(40, 40, 40, 1)',
                            'rgba(0, 145, 123, 1)'

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        },
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    var value = context.parsed;
                                    return 'Produkty: ' + value;
                                }
                            }
                        }
                    }
                }
            });
        }

        function updateClassificationLabels() {
            const thresholdCheaper = parseFloat(threshold1Input.value) || 0;
            const thresholdMoreExpensive = parseFloat(threshold2Input.value) || 0;
            const usePriceDifference = usePriceDifferenceCheckbox.checked;
            const unit = usePriceDifference ? 'PLN' : '%';

            prGoodLabel.innerHTML = `Taniej o ${thresholdCheaper} ${unit} (<span id="prGoodCount">${prGoodCountSpan.textContent}</span>)`;
            prGrayLabel.innerHTML = `Podobna cena (<span id="prGrayCount">${prGrayCountSpan.textContent}</span>)`;
            prToHighLabel.innerHTML = `Drożej o ${thresholdMoreExpensive} ${unit} (<span id="prToHighCount">${prToHighCountSpan.textContent}</span>)`;

            unitLabel1.textContent = unit;
            unitLabel2.textContent = unit;
        }

        
        function updateFlagCounts() {
            const flagCheckboxes = document.querySelectorAll('.flagFilter');
            const flagCounts = {};

          
            flagCheckboxes.forEach(checkbox => {
                flagCounts[checkbox.value] = 0;
            });

           
            allProducts.forEach(productBox => {
                if (productBox.style.display === 'none') return; 

                const productFlags = productBox.getAttribute('data-flags').split(',');
                productFlags.forEach(flagId => {
                    if (flagCounts.hasOwnProperty(flagId)) {
                        flagCounts[flagId]++;
                    }
                });
            });

            
            flagCheckboxes.forEach(checkbox => {
                const label = document.querySelector(`label[for='${checkbox.id}']`);
                if (label) {
                    const flagName = label.textContent.split('(')[0].trim();
                    label.textContent = `${flagName} (${flagCounts[checkbox.value]})`;
                }
            });
        }

       
        const threshold1Input = document.getElementById('threshold1');
        const threshold2Input = document.getElementById('threshold2');
        const usePriceDifferenceCheckbox = document.getElementById('usePriceDifference');
        const colorFilters = document.querySelectorAll('.colorFilter');

        const prGoodCountSpan = document.getElementById('prGoodCount');
        const prGrayCountSpan = document.getElementById('prGrayCount');
        const prToHighCountSpan = document.getElementById('prToHighCount');

        const prGoodLabel = document.getElementById('prGoodLabel');
        const prGrayLabel = document.getElementById('prGrayLabel');
        const prToHighLabel = document.getElementById('prToHighLabel');

        threshold1Input.addEventListener('input', updateProducts);
        threshold2Input.addEventListener('input', updateProducts);
        usePriceDifferenceCheckbox.addEventListener('change', updateProducts);
        colorFilters.forEach(checkbox => checkbox.addEventListener('change', updateProducts));
        searchInput.addEventListener('input', updateProducts);
        categoryDropdown.addEventListener('change', updateProducts);
        document.querySelectorAll('.flagFilter').forEach(checkbox => checkbox.addEventListener('change', updateProducts));

        
        updateProducts();
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const usePriceDifferenceCheckbox = document.getElementById('usePriceDifference');
        const unitLabel1 = document.getElementById('unitLabel1');
        const unitLabel2 = document.getElementById('unitLabel2');

        function updateUnits() {
            const unit = usePriceDifferenceCheckbox.checked ? 'PLN' : '%';
            unitLabel1.textContent = unit;
            unitLabel2.textContent = unit;
        }

        usePriceDifferenceCheckbox.addEventListener('change', function () {
            updateUnits();
        });

       
        updateUnits();
    });
</script>
<script>
    document.getElementById('regionFilter').addEventListener('change', function () {
        var selectedRegionId = this.value;
        var url = new URL(window.location.href);

        if (selectedRegionId) {
            url.searchParams.set('regionId', selectedRegionId);
        } else {
            url.searchParams.delete('regionId');
        }

        window.location.href = url.toString();
    });
</script>
<script>
    document.getElementById('savePriceValues').addEventListener('click', function () {
        const threshold1 = parseFloat(document.getElementById('threshold1').value);
        const threshold2 = parseFloat(document.getElementById('threshold2').value);
        const storeId = parseInt(this.getAttribute('data-store-id'));

        
        const usePriceDifference = document.getElementById('usePriceDifference').checked;

        const data = {
            StoreId: storeId,
            SetSafariPrice1: threshold1,
            SetSafariPrice2: threshold2,
            UsePriceDiffSafari: usePriceDifference 
        };

        fetch('/Safari/SaveSafariPriceValues', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {
                if (response.success) {
                    alert('Wartości progów zostały zapisane pomyślnie.');
                 
                } else {
                    alert('Błąd podczas zapisywania wartości progów: ' + response.message);
                }
            })
            .catch(error => console.error('Błąd w aktualizowaniu wartości:', error));
    });
</script>

<div id="loadingOverlay" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
    <div id="loadingMessage" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 24px; border-radius: 8px; width:400px; color: black; font-size: 18px; z-index: 1000;">
        <p>Zmiana <span id="reportName"></span></p>
        <div id="progressBarContainer" style="width: 100%; margin-top:12px; margin-bottom:12px; border-radius:4px; background-color: #ddd;">
            <div id="progressBar" style="width: 0%; height: 16px; background-color: #202430;  border-radius:4px;"></div>
        </div>
        <p id="progressText">0%</p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/reportProgressHub").build();
    var isProcessing = false; 

    connection.start().then(function () {
        console.log("SignalR connected.");
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("ReceiveProgress", function (message, percentage) {
   
        document.getElementById("progressText").innerText = message + " " + percentage + "%";
        document.getElementById("progressBar").style.width = percentage + "%";

        if (percentage === 100) {
            document.getElementById("progressText").innerText = "Wczytywanie zakończone.";
            isProcessing = false;
            setTimeout(hideLoadingOverlay, 1500); 
        }
    });

   
    document.querySelectorAll("tr[data-url]").forEach(function (row) {
        row.addEventListener("click", function () {
            if (!isProcessing) {
                isProcessing = true; // Zapobiega wielokrotnym kliknięciom
                var url = row.getAttribute("data-url");
                var reportName = row.querySelector('td').innerText;

                if (url) {
                    showLoadingOverlay(reportName); 
                    startProgress(); 

                   
                    window.location.href = url;
                }
            }
        });
    });

    function startProgress() {
        var progressBarContainer = document.getElementById("progressBarContainer");
        var progressText = document.getElementById("progressText");

        if (progressBarContainer && progressText) {
            progressBarContainer.style.display = "block";
            progressText.style.display = "block";
            document.getElementById("progressBar").style.width = "0%";
        }
    }

    
    function showLoadingOverlay(reportName) {
        document.getElementById("reportName").innerText = reportName; 
        document.getElementById("loadingOverlay").style.display = "block";
    }

   
    function hideLoadingOverlay() {
        document.getElementById("loadingOverlay").style.display = "none";
    }

   
    document.getElementById('regionFilter').addEventListener('change', function () {
        var selectedRegionId = this.value;
        var url = new URL(window.location.href);

        if (selectedRegionId) {
            url.searchParams.set('regionId', selectedRegionId);
        } else {
            url.searchParams.delete('regionId');
        }

       
        showLoadingOverlay("regionu");
        startProgress();

       
        window.location.href = url.toString();
    });
</script>



@functions {
    string HexToRgba(string hex, double alpha)
    {
        int r = 0, g = 0, b = 0;
        if (hex.Length == 7)
        {
            r = int.Parse(hex.Substring(1, 2), System.Globalization.NumberStyles.HexNumber);
            g = int.Parse(hex.Substring(3, 2), System.Globalization.NumberStyles.HexNumber);
            b = int.Parse(hex.Substring(5, 2), System.Globalization.NumberStyles.HexNumber);
        }
        return $"rgba({r}, {g}, {b}, {alpha.ToString(System.Globalization.CultureInfo.InvariantCulture)})";
    }
}
