@model List<PriceSafari.Models.ViewModels.ChanelViewModel>

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Vert">
    <div class="Vert-full">
        <div class="Order-Container-Title">
            Analiza
        </div>
        @if (Model != null && Model.Any())
        {
            <div class="Vert-table">
                <table class="table-orders">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kanał</th>
                            <th>Ostatnie scrapowanie</th>
                            <th>Czas od ostatniego scrapowania</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var store in Model)
                        {
                            <tr class="store-row" style="cursor:pointer;" data-url="@Url.Action("Dashboard", "Dashboard", new { storeId = store.StoreId })" data-last-scrape="@store.LastScrapeDate?.ToString("o")">
                                <td>
                                    <img src="@store.LogoUrl" class="img-container" alt="@store.StoreName" />
                                </td>
                                <td>
                                    @store.StoreName

                                </td>
                                <td>@store.LastScrapeDate?.ToString("g")</td>
                                <td class="time-since-last-scrape"></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Konto nadal jest konfigurowane.</p>
        }
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var rows = document.querySelectorAll('.store-row');
            rows.forEach(function (row) {
                row.addEventListener('click', function (e) {
                    if (!e.target.classList.contains('Button-Page-Small-b')) {
                        window.location.href = row.getAttribute('data-url');
                    }
                });

                var lastScrapeDate = row.getAttribute('data-last-scrape');
                if (lastScrapeDate) {
                    var lastScrape = new Date(lastScrapeDate);
                    var now = new Date();
                    var diff = Math.abs(now - lastScrape);
                    var hours = Math.floor(diff / 36e5);
                    var minutes = Math.floor((diff % 36e5) / 60000);
                    row.querySelector('.time-since-last-scrape').textContent = `${hours} godzin ${minutes} minut`;
                } else {
                    row.querySelector('.time-since-last-scrape').textContent = 'Brak danych';
                }
            });
        });
    </script>
}
