@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Konkurenci dla " + ViewBag.StoreName;
    var storeId = ViewBag.StoreId;

    var detailAction = ViewBag.DetailAction as string ?? "CompetitorPrices";
   
    var scrapHistoryUrl = ViewBag.ScrapHistoryUrl ?? Url.Action("GetScrapHistoryIds", "Competitors");
    var pricesUrl = ViewBag.PricesUrl ?? Url.Action("GetCompetitorPrices", "Competitors");
}

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<style>
    .competitorsBarBox {
        display: flex;
        width: 534px;
        background: #F4F4F4;
        justify-content: center;
        align-content: center;
        height: 48px;
        border-radius: 8px;
    }

    canvas[id^="chart-"] {
        max-width: 500px;
        height: 48px;
    }

    #competitors-table tbody tr {
        cursor: pointer;
    }
</style>

<div class="Vert">
    <div class="Page-Box">
        <div class="price-box-space">
            <div class="Order-Container-Title">
                Konkurenci @ViewBag.StoreName
                
            </div>

            <div>
                <input type="text" id="storeSearch" placeholder="Wyszukaj sklep" />
            </div>
        </div>
        <div class="bar-List">
            <div>
                <strong>Konkurenci: </strong><span id="scrapable-count"></span>
            </div>
        </div>
        <div class="Vert-table">
            <table class="table-orders" id="competitors-table">
                <thead>
                    <tr>
                        <th>Nazwa Sklepu</th>
                        <th>Wspólne Produkty</th>
                        <th>Porównanie Cen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var competitor in Model)
                    {
                       
                        <tr data-url="@Url.Action(detailAction, "Competitors", new { storeId = storeId, competitorStoreName = competitor.StoreName })">
                            <td class="competitor-name">
                               
                                @{
                                    string googleIcon = "<img src=\"/images/GoogleShopping.png\" alt=\"Google Icon\" style=\"width:17px; height:17px; margin-left: 6px; vertical-align: middle;\">";
                                    string ceneoIcon = "<img src=\"/images/Ceneo.png\" alt=\"Ceneo Icon\" style=\"width:17px; height:17px; margin-left: 4px; vertical-align: middle;\">";
                                 
                                    string allegroIcon = "<img src=\"/images/AllegroIcon.png\" alt=\"Allegro Icon\" style=\"width:17px; height:17px; margin-left: 4px; vertical-align: middle;\">";

                                    if (competitor.DataSourceDescription == "Google")
                                    {
                                        @Html.Raw(googleIcon)
                                    }
                                    else if (competitor.DataSourceDescription == "Ceneo")
                                    {
                                        @Html.Raw(ceneoIcon)
                                    }
                                    else if (competitor.DataSourceDescription == "Google & Ceneo")
                                    {
                                        @Html.Raw(googleIcon)
                                        @Html.Raw(ceneoIcon)
                                    }
                                    
                                    else if (competitor.DataSourceDescription == "Allegro")
                                    {
                                        @Html.Raw(allegroIcon)
                                    }
                                }
                                @competitor.StoreName
                            </td>
                            <td>@competitor.CommonProductsCount</td>
                            <td>
                                <div class="competitorsBarBox">
                                    <canvas id="chart-@competitor.StoreName"
                                            data-same="@competitor.SamePriceCount"
                                            data-higher="@competitor.HigherPriceCount"
                                            data-lower="@competitor.LowerPriceCount"
                                            data-total="@competitor.CommonProductsCount"></canvas>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/member/Competitors.js"></script>