@model ManageStylesViewModel
@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<style>


   .StyleCreator {
        display: inline-flex;
        width: 100%;
        align-items: flex-start;
        justify-content:space-between;
        gap: 10px;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        border-radius: 8px 0px 0px 0px;
        padding: 24px;

   }

   .StyleColumn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
   }

    .previewButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        text-align: center;
        border-radius: 4px;
        font-size: clamp(12px, 3vw, 16px);
        font-weight: 500;
        cursor: pointer;
        overflow: hidden;
        line-height: 1.2em;
      
    }

    .previewFrame {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 16px;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        min-width: 140px;

    }

    .previewFrameText {
        flex-grow: 1;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        line-height: 1.2;
        max-height: 2.4em;
        font-size: clamp(12px, 3.5vw, 16px);
        min-width:120px;
    }

    .previewFrameExtraText {
        flex-grow: 1;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        line-height: 1.2;
        max-height: 2.4em;
        font-size: clamp(11px, 3vw, 14px);

    }

    #previewFrameImage {
        flex: 0 0 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background: #FFF;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #previewFrameColumn {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        gap: 8px;
    }

    .editColor {
        display: flex;
        width: 26px;
        height: 26px;
        border: none;
        background: #777777;
    }

    input[type="color" i] {
        padding:0px;

    }

    .editFrame {
        display:flex;
        gap: 8px;
        width: 250px;
        border-radius: 4px;
        border: 1px solid #ccc;
        outline: none;
        padding: 8px 16px;
        color: #8B8B8B;
    }



    .Vert-table-styles {
        width: 100%;
        overflow-y: auto;
        margin-top: 48px;
    }

        .Vert-table-styles::-webkit-scrollbar {
            width: 12px;
            position: absolute;
            right: -16px;
        }

        .Vert-table-styles::-webkit-scrollbar-track {
            background: transparent;
            margin: 4px 0;
        }

        .Vert-table-styles::-webkit-scrollbar-thumb {
            background: #eee;
            border-radius: 5px;
            border: 4px solid transparent;
            background-clip: content-box;
        }

            .Vert-table-styles::-webkit-scrollbar-thumb:hover {
                background: #eee;
            }

    .table-styles {
        width: 100%;
        border-collapse: collapse;
    }

        .table-styles thead {
            position: sticky;
            top: 0;
            z-index: 10;
        }

            .table-styles thead th {
                background: #004552;
                padding-top: 8px;
                padding-bottom: 8px;
            }

                .table-styles thead th:first-child {
                    border-radius: 8px 0px 0px 8px;
                }

                .table-styles thead th:last-child {
                    border-radius: 0px 8px 8px 0px;
                }

            .table-styles thead th {
                color: #fff;
                font-size: 14px;
                font-weight: 400;
            }

        .table-styles tbody tr {
            border-bottom: 0.5px solid #eee;
        }

        .table-styles td, .table-styles th {
            padding: 14px 16px;
            margin-right: 24px;
            text-align: left;
            color: #282828;
            font-size: 14px;
            font-weight: 400;
        }

        .table-styles td {
        }

        .table-styles tbody tr:hover {
            background: #F4F4F4;
        }

    form {
        padding-right:8px;
    }
</style>

<input type="hidden" id="affiliateLinkId" value="@Model.AffiliateLinkId" />



<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">Edytor styli</div>
            <partial name="_JsNavCol" />

            @if (Model?.Styles != null && Model.Styles.Any())
            {
                <div class="Vert-table-styles" id="styleForm">
                    <table class="table-styles">
                        <thead>
                            <tr>
                                <th scope="col">Zapisane Style</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var style in Model.Styles)
                            {
                                <tr class="style-row" data-styleid="@style.CanvasJSStyleId" data-name="@style.CanvaStyleName"
                                    data-button-text="@style.ButtonText" data-button-color="@style.ButtonColor"
                                    data-button-text-color="@style.ButtonTextColor" data-frame-text-color="@style.FrameTextColor"
                                    data-frame-color="@style.FrameColor" data-extra-text-color="@style.ExtraTextColor">
                                    <td>@style.CanvaStyleName</td>
                                    <td>
                                        <div onclick="deleteStyle(@style.CanvasJSStyleId)">
                                            <img src="/images/Bin.svg" alt="Panel Icon" width="14" height="14">
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            }
            else
            {

            }
        </div>

        <div class="Horizontal">

            <div class="Vert-Style">
                @using (Html.BeginForm("CreateStyle", "CanvasJS", FormMethod.Post))
                {
                    <input type="hidden" id="styleId" name="StyleId" value="" />
                    <input type="hidden" name="AffiliateLinkId" value="@Model.AffiliateLinkId" />
                    <div class="Vert-Vert">
                        <div class="Vert-Vert-Left">
                            <div class="Vert-Vert-Left-Title">
                                Tworzenie stylu
                            </div>
                            <div class="Vert-Vert-Left-Box-Input">
                                <input type="text" id="campaignName" name="Name" value="@Model.Name" required placeholder="Nazwa stylu" maxlength="24" />
                            </div>
                        </div>
                        <div class="Vert-Vert-Right">
                            <button type="submit" class="Button-Action-Big">Zapisz styl</button>

                        </div>
                    </div>

                    <div class="editFrameTitle">
                        Przycisk
                    </div>
                    <div class="StyleCreator">
                        <div class="StyleColumn">

                            <select id="ButtonText" class="DropDown" name="ButtonText">
                                <option value="Przejdź do sklepu">Sprawdź w sklepie</option>
                                <option value="Przejdź do sklepu">Przejdź do sklepu</option>
                                <option value="Sprawdź cenę">Sprawdź cenę</option>
                                <option value="Więcej informacji">Więcej informacji</option>
                                <option value="Kup teraz">Kup teraz</option>
                            </select>
                            <div class="editFrame">
                                <input class="editColor" type="color" id="ButtonTextColor" name="ButtonTextColor" value="@(Model.ButtonTextColor ?? "#FFFFFF")">
                                <label for="ButtonTextColor">Kolor tekstu</label>

                            </div>
                            <div class="editFrame">
                                <input class="editColor" type="color" id="ButtonColor" name="ButtonColor" value="@(Model.ButtonColor ?? "#0E7E87")">
                                <label for="ButtonColor">Kolor przycisku</label>

                            </div>

                        </div>
                        <div class="StyleColumn">
                            <div class="resizable checkerboard">
                                <div class="inner-element">
                                    <div class="previewButton"
                                         style="background-color: @(Model.ButtonColor ?? "#0E7E87");
                                        color: @(Model.ButtonTextColor ?? "#FFFFFF");">
                                        @(Model.ButtonText ?? "Sprawdź w sklepie")
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="editFrameTitle">
                        Prosty baner
                    </div>
                    <div class="StyleCreator">
                        <div class="StyleColumn">
                            <div class="editFrame">
                                <input class="editColor" type="color" id="FrameTextColor" name="FrameTextColor" value="@(Model.FrameTextColor ?? "#000000")">
                                <label for="FrameTextColor">Kolor nazwy produktu</label>
                            </div>
                            <div class="editFrame">
                                <input class="editColor" type="color" id="FrameColor" name="FrameColor" value="@(Model.FrameColor ?? "#E8E8E8")">
                                <label for="FrameColor">Kolor boksu</label>
                            </div>

                        </div>
                        <div class="StyleColumn">

                            <div class="resizable checkerboard">
                                <div class="inner-element">
                                    <div class="previewFrame" style="background-color: @(Model.FrameColor ?? "#E8E8E8");">
                                        <div class="previewFrameText" style="color: @(Model.FrameTextColor ?? "#000");">
                                            @Model.ProductName
                                        </div>
                                        <div class="previewButton" style="background-color: @(Model.ButtonColor ?? "#0E7E87"); color: @(Model.ButtonTextColor ?? "#FFFFFF");">
                                            @(Model.ButtonText ?? "Sprawdź w sklepie")
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="editFrameTitle">
                        Baner ze zdjęciem i ceną
                    </div>
                    <div class="StyleCreator">
                        <div class="StyleColumn">
                            <div class="editFrame">
                                <input class="editColor" type="color" id="FrameExtraTextColor" name="FrameExtraTextColor" value="@(Model.FrameExtraTextColor ?? "#00B012")">
                                <label for="FrameExtraTextColor">Kolor ceny</label>
                            </div>

                        </div>
                        <div class="StyleColumn">

                            <div class="resizable checkerboard">
                                <div class="inner-element">
                                    <div class="previewFrame" style="background-color: @(Model.FrameColor ?? "#E8E8E8");">
                                        <img id="previewFrameImage" src="@Model.ProductImage" alt="Product Image">
                                        <div id="previewFrameColumn">
                                            <div class="previewFrameText" style="color: @(Model.FrameTextColor ?? "#000");">
                                                @Model.ProductName
                                            </div>
                                            <div class="previewFrameExtraText" style="color: @(Model.FrameExtraTextColor ?? "#00B012");">
                                                @Model.ProductPrice?.ToString("C")
                                            </div>
                                        </div>
                                        <div class="previewButton" style="background-color: @(Model.ButtonColor ?? "#0E7E87"); color: @(Model.ButtonTextColor ?? "#FFFFFF");">
                                            @(Model.ButtonText ?? "Sprawdź w sklepie")
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                }

            </div>

        </div>
    </div>
</div>

<script src="/js/Affiliate/managestyle.min.js"></script>


<script>
    function deleteStyle(styleId) {
        $.ajax({
            url: '/CanvasJS/DeleteStyle',
            type: 'POST',
            data: { styleId: styleId },
            success: function (response) {
                if (response.success) {
                    alert('Styl został usunięty.');
                    location.reload();
                } else {
                    alert('Błąd: ' + response.message);
                }
            }
        });
    }

</script>