@model PriceSafari.Models.ManagerViewModels.ManagerAffiliateViewModel


@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<div class="Page-Box">


    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Użytkownicy

            </div>

            <partial name="_ManageNavCol" />
        </div>
        <div class="Horizontal">
            <div class="product-upper-box">
                <div>

                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("CreateUser", "UserManagement")" class="Button-Page-Small">Dodaj użytkownika</a>
                    }
                    
                </div>
                <div class="order-search-box">
                    <input type="text" id="accountSearch" placeholder="Wyszukaj użytkownika">
                </div>



            </div>
            <div class="Vert-table">
                <table class="table-orders">

                    <thead>
                        <tr>
                            <th scope="col">Użytkownicy (<span id="accountsCount">0</span>)</th>
                            <th scope="col">Kod</th>
                            <th scope="col">Weryfikacja</th>
                            <th scope="col">Status</th>
                            <th scope="col">Uprawnienia</th>
                            <th scope="col">E-mail</th> 
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var affiliate in Model.ManagerAffiliate)
                        {
                            <tr data-codepar="@affiliate.CodePAR">
                                <td>
                                    @affiliate.Name @affiliate.Surname
                                </td>
                                <td>
                                    @affiliate.CodePAR
                                </td>
                                <td>
                                    @(affiliate.Status ? "Aktywny" : "Usunięty")
                                </td>
                                <td>
                                    @(affiliate.Verification ? "Zatwierdzony" : "Czeka na weryfikację")
                                </td>
                                <td>
                                    @if (affiliate.Role == "Admin")
                                    {
                                        <div class="AdminStyle">@affiliate.Role</div>
                                    }
                                    else if (affiliate.Role == "Manager")
                                    {
                                        <div class="ManagerStyle">@affiliate.Role</div>
                                    }
                                    else if (affiliate.Role == "Member")
                                    {
                                        <div class="MemberStyle">@affiliate.Role</div>
                                    }
                                    else
                                    {
                                        @affiliate.Role
                                    }
                                </td>
                                <td>
                                    @(affiliate.EmailConfirmed ? "Potwierdzony" : "Niepotwierdzony") <!-- Nowe pole -->
                                </td>
                            </tr>
                        }
                    </tbody>

            </div>
        </div>


    </div>


</div>




<script>
    $(document).ready(function () {
        $('#accountSearch').on('keyup', function () {
            var searchText = $(this).val().toLowerCase();

            $('.table-orders tbody tr').each(function () {
                var affiliateName = $(this).find('td:nth-child(1)').text().toLowerCase();
                $(this).toggle(affiliateName.indexOf(searchText) > -1);
            });
        });
    });

</script>

<script>
    function calculateAccounts() {

        let accountsCount = 0;

        document.querySelectorAll('.table-orders tbody tr').forEach(row => {
            accountsCount++;

        });


        document.getElementById('accountsCount').innerText = accountsCount;
    }


    window.onload = calculateAccounts;
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.table-orders tr[data-codepar]').forEach(row => {
            row.addEventListener('click', function () {
                var codePAR = this.getAttribute('data-codepar');
                window.location.href = '/ManagerAffiliate/UserProfile?codePAR=' + codePAR; 
            });
        });
    });

</script>