@model PriceSafari.Models.ManagerViewModels.AssignStoresViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
            Kanały
            </div>

            <partial name="_ManageNavCol" />
        </div>

        <div class="Column-30">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }

            <form asp-action="AssignStores" method="post">
                @Html.AntiForgeryToken()

                <input type="hidden" name="SelectedUserId" value="@Model.SelectedUserId" />

                <div class="form-group">
                    <label>Users</label>
                    <div>
                        @foreach (var user in Model.Users)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="SelectedUserId" value="@user.Id" id="user_@user.Id" @(user.Id == Model.SelectedUserId ? "checked" : "")>
                                <label class="form-check-label" for="user_@user.Id">
                                    @user.Email
                                </label>
                            </div>
                        }
                    </div>
                    @Html.ValidationMessage("SelectedUserIds")
                </div>

                <div class="form-group">
                    <label>Stores</label>
                    <div>
                        @foreach (var store in Model.Stores)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="SelectedStoreIds" value="@store.StoreId" id="store_@store.StoreId" @(Model.SelectedStoreIds.Contains(store.StoreId) ? "checked" : "")>
                                <label class="form-check-label" for="store_@store.StoreId">
                                    @store.StoreName
                                </label>
                            </div>
                        }
                    </div>
                    @Html.ValidationMessage("SelectedStoreIds")
                </div>

                <button type="submit" class="btn btn-primary mt-3">Assign Stores</button>
            </form>
        </div>
    </div>
</div>

