@using Newtonsoft.Json


@{
    ViewData["Title"] = "Historia Cen";
    var latestScrap = ViewBag.LatestScrap as PriceTracker.Models.ScrapHistoryClass;
    var storeId = ViewBag.StoreId;
    var categories = ViewBag.Categories as List<string>;
    var flags = ViewBag.Flags as List<PriceTracker.Models.FlagsClass>;
}

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<style>
    .price-range-settings {
        display: flex;
        margin-top: 4px;
        width:140px;
        font-size: 14px;
    }

    .price-range-settings label {
        margin-right: 4px;
        font-size: 14px;
    }

    .price-range-settings input[type="number"] {
        width: 88px;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: right;
        margin-right: 6px;
        height: 24px;
        font-size: 14px;
    }

    .price-range-settings .color-circle {
        width: 16px;
        height: 24px;
        margin-left: 3px;
        border-radius: 4px;
        display: inline-block;
    }

    .price-range-settings .turquoise-circle {
        background-color: rgba(64, 224, 208, 0.5);
    }

    .price-range-settings .yellow-circle {
        background-color: rgba(240, 240, 105, 0.5);
    }

    .store-section {
        display: flex;
        width:180px;
        gap:6px;
        flex-direction: column;
    }
</style>

<div class="Vert">
    <div class="Page-Box">
        <div class="Page-Box-Container">
            <div class="Page-Box-Category">
                <div class="Category-Container-Title">Grupy cenowe</div>
                <div class="side-chart-box">
                    <canvas id="colorChart"></canvas>
                </div>
                <div class="store-section">
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="blueCheckbox" value="blue">
                        <label class="form-check-label" for="blueCheckbox">Top cena</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="yellowCheckbox" value="yellow">
                        <label class="form-check-label" for="yellowCheckbox">Mid cena</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="redCheckbox" value="red">
                        <label class="form-check-label" for="redCheckbox">Zła cena</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="greenCheckbox" value="green">
                        <label class="form-check-label" for="greenCheckbox">Super cena</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="turquoiseCheckbox" value="turquoise">
                        <label class="form-check-label" for="turquoiseCheckbox">Idealna cena</label>
                    </div>
                    <div class="price-range-settings">
                        <div class="color-circle turquoise-circle"></div>
                        <label for="price1"></label>
                        <input type="number" id="price1" value="@ViewBag.SetPrice1" step="0.01" min="0.01"> PLN
                    </div>
                    <div class="price-range-settings">
                        <div class="color-circle yellow-circle"></div>
                        <label for="price2"></label>
                        <input type="number" id="price2" value="@ViewBag.SetPrice2" step="0.01" min="0.01"> PLN
                    </div>
                    <button class="Button-Page-Small" style="margin-top: 16px;" id="savePriceValues">Zapisz</button>
                </div>
                <div class="Category-Container-Title">Flagi</div>
                      <div class="store-section">
                            
                                @foreach (var flag in flags)
                                {
                                        <div class="form-check">
                                            <input class="form-check-input flagFilter" type="checkbox" id="flagCheckbox_@flag.FlagId" value="@flag.FlagId">
                                            <label class="form-check-label" for="flagCheckbox_@flag.FlagId">@flag.FlagName</label>
                                        </div>
                                }
                            
                      </div>

                <div class="Category-Container-Title">Bid</div>
                <div class="store-section">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="bidFilter">
                        <label class="form-check-label" for="bidFilter">Bid</label>
                    </div>

                </div>
                <div class="Category-Container-Title">Pozycja</div>
                <div class="store-section">

                    <div class="form-check">
                        <input class="form-check-input positionFilter" type="checkbox" id="position1" value="1">
                        <label class="form-check-label" for="position1">Position 1</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input positionFilter" type="checkbox" id="position2" value="2">
                        <label class="form-check-label" for="position2">Position 2</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input positionFilter" type="checkbox" id="position3" value="3">
                        <label class="form-check-label" for="position3">Position 3</label>
                    </div>

                </div>
            </div>
            <div class="Horizontal">
                <div class="order-upper-box">
                    
                    <input type="text" id="productSearch" placeholder="Wyszukaj produkt">
                    <form id="filterForm">
                        <select id="category" name="category" class="DropDown">
                            <option value="">Wszystkie kategorie</option>
                            @foreach (var category in categories)
                            {
                                    <option value="@category">@category</option>
                            }
                        </select>
                    </form>
                    
                        <div class="form-check-orders">
                            <div>
                                <p><strong>Sklep:</strong> <span>@ViewBag.StoreName</span></p>
                                <p><strong>Zebrane ceny:</strong> <span id="totalPriceCount">0</span></p>
                            </div>
                        </div>
                        <div class="form-check-orders">
                            <div>
                                <p><strong>ID Scrapowania:</strong> @latestScrap?.Id</p>
                                <p><strong>Wykonano:</strong> @latestScrap?.Date</p>
                              
                            </div>
                        </div>
                  
                </div>
                <div class="price-box-column-category" id="displayedProductCount">
                </div>
               
                
                <div class="Vert-table">
                    <div id="priceContainer" class="price-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
        <script>
            var storeId = '@storeId';
        </script>
        <script>
            var flags = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Flags));
        </script>
        <script src="~/js/PriceHistory.js"></script>
}


<div id="flagModal" class="modal">
    <div class="modal-content">
        <div class="price-box-space">
            <div class="price-box-column-name">Przypisz flagi do produktu</div>
            <span class="close">&times;</span>
        </div>
       
        
        <div id="flagCheckboxes">
            @if (flags != null)
            {
                @foreach (var flag in flags)
                {
                    <label><input type="checkbox" class="form-check-input flagCheckbox" value="@flag.FlagId"> @flag.FlagName</label>
                    <br />
                }
            }
        </div>
        <button class="Button-Page-Small" id="saveFlagsButton">Zapisz</button>
    </div>
</div>