    @model Heat_Lead.Models.ViewModels.PromoteViewModel

    @{
        Layout = "~/Views/Shared/_PanelLayout.cshtml";
    }



<div class="Vert-Top">
    <div class="Products-Box">
        <div class="Products-Box-Category">
            
            <div class="Category-Container-Title">Produkty</div>
            <div class="search-box">
                <input type="text" id="productSearch" placeholder="Wyszukaj produkt">
            </div>
            <button id="sort-desc" onclick="sortProducts('desc')" class="button-sort"><img src="~/images/MoneyIn-b.svg" alt="Panel Icon" width="18" height="18" />Prowizja malejąco</button>
            <button id="sort-asc" onclick="sortProducts('asc')" class="button-sort"><img src="~/images/MoneyOut-b.svg" alt="Panel Icon" width="18" height="18" />Prowizja rosnąco</button>

            <button type="button" class="button-plain" id="showAllProducts">Wyświetl wszystkie</button>
            <form method="get" action="@Url.Action("Index", "Promote")">
                
              

                @foreach (var storeWithCategories in Model.StoresWithCategories)
                {
                    <div class="store-section">

                        <img src="@storeWithCategories.Store.LogoUrl" class="img-container-product" />
                        <form method="get" action="@Url.Action("Index", "Promote")">
                            @foreach (var category in storeWithCategories.Categories)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCategories" value="@category.CategoryId" id="category_@category.CategoryId"
                                    @(Model.SelectedCategories.Contains(category.CategoryId) ? "checked" : "") />
                                    <label class="form-check-label" for="category_@category.CategoryId">
                                        @category.CategoryName
                                    </label>
                                </div>
                            }
                        </form>
                    </div>
                }

                
            </form>
          

        </div>
        <div class="Products-Box-Product">

                    @foreach (var product in Model.Products)
                    {
                         <div class="Product-Container" data-category-id="@product.CategoryId">
                            <div class="Product-Container-Image">
                                <img src="@product.ProductImage" alt="@product.ProductName" width="164" height="164" />
                            </div>
                            <div class="Product-Container-Data">
                                <div class="Product-Container-Data-Top">
                                    @product.ProductName
                                </div>
                        <div class="Product-Container-Data-Top">
                            @if (product.Category?.Store?.LogoUrl != null)
                            {
                                <img src="@product.Category.Store.LogoUrl" class="img-container-product"  />
                            }
                        </div>
                                       
                             
                                <div class="Product-Container-Data-Middle">
                                    <div class="Product-Container-Data-Middle-Data">Cena produktu: 
                                        @product.ProductPrice zł
                                    </div>
                                    <div class="Product-Container-Data-Middle-Data">Czas walidacji: 
                                        @product.Category.Validation dni
                                    </div>
                                    <div class="Product-Container-Data-Middle-Data">
                                        Żywotność Cookies: @Model.CookieLifeTime dni
                                    </div>
                                </div>
                                <div class="Product-Container-Data-Bottom">
                                    <div class="Product-Container-Data-Bottom-Left">
                                        <div class="Product-Container-Data-Bottom-Left-Up">
                                            @product.AffiliateCommission zł
                                        </div>
                                        <div class="Product-Container-Data-Bottom-Left-Down">
                                            Twój zarobek
                                        </div>
                                    </div>
                                    <div class="Product-Container-Data-Bottom-Right">
                                        @if (!Model.CartProductIds.Contains(product.ProductId))
                                        {
                                            <button class="add-to-cart" data-product-id="@product.ProductId">Dodaj produkt</button>
                                            <button style="display:none;" class="added-to-cart" data-product-id="@product.ProductId" disabled>Dodano</button>
                                        }
                                        else
                                        {
                                            <button style="display:none;" class="add-to-cart" data-product-id="@product.ProductId">Dodaj produkt</button>
                                            <button class="added-to-cart" data-product-id="@product.ProductId" disabled>Dodano</button>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
        </div>
    </div>
    <div class="Generate-Box">
        <div class="Category-Container-Title">Dodane produkty</div>
      
            
            <div class="Generate-Box-Box-List">
                @foreach (var productId in Model.CartProductIds)
                {
                    var product = Model.Products.FirstOrDefault(p => p.ProductId == productId);
                    if (product != null)
                    {
                        <div class="cart-item" data-product-id="@product.ProductId">
                            <img src="@product.ProductImage" alt="@product.ProductName" />
                            @product.ProductName
                            <button class="remove-from-cart" data-product-id="@product.ProductId">Usuń</button>
                        </div>
                    }
                }
            </div>
        <a href="#" id="generateLink" class="Button-Action-Big">Generuj Linki</a>

       
    </div>  
</div>




<script src="/js/Affiliate/promote.min.js"></script>




