@model IEnumerable<CoOfrClass>

@{
    ViewBag.Title = "Unikalne URL do Scrapowania";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    var totalUrls = ViewBag.TotalUrlsCount;
    var scrapedUrlsCount = ViewBag.ScrapedUrlsCount;
    var totalProducts = Model.Sum(item => item.ProductIds.Count);
}

<div class="Vert" data-store-id="uniqueUrls">
    <div class="Vert-full">
        <div class="Order-Container-Title">
            Lista unikalnych URL do scrapowania
            <div class="bar-List">
                <div>
                    <strong>Łączna liczba URL: </strong><span id="totalUrlCount">@totalUrls</span>
                </div>
                <div>
                    <strong>Łączna liczba produktów: </strong><span id="totalProductCount">@totalProducts</span>
                </div>
                <div>
                    <strong>Zescrapowane URL: </strong><span id="scrapedUrlCount">@scrapedUrlsCount</span>
                </div>
                <div>
                    <strong>Postęp scrapowania: </strong><span id="scrapingProgress">@scrapedUrlsCount / @totalUrls</span>
                </div>
                <div>
                    <strong>Łączna liczba cen: </strong><span id="totalPricesCount">0</span>
                </div>
                <div>
                    <strong>Łączna liczba odrzuconych: </strong><span id="totalRejectedCount">0</span>
                </div>
            </div>
        </div>
        <div class="bar-List">
            <form asp-action="GroupAndSaveUniqueUrls" asp-controller="PriceScraping" method="post">
                <button type="submit" class="Button-Page-Small-b">Scal produkty</button>
            </form>
            <form id="scrapingForm" asp-action="StartScrapingByCoOfrUrls" asp-controller="PriceScraping" method="post">
                <button type="submit" class="Button-Page-Small-b">Rozpocznij scrapowanie cen</button>
            </form>
            <form id="captchaScrapingForm" asp-action="StartScrapingWithCaptchaHandling" asp-controller="PriceScraping" method="post">
                <button type="submit" class="Button-Page-Small-b">Rozpocznij scrapowanie z obsługą CAPTCHA</button>
            </form>
            <form asp-action="ClearCoOfrPriceHistories" asp-controller="PriceScraping" method="post">
                <button type="submit" class="Button-Page-Small-o">Oczyść zescrapowane dane</button>
            </form>
            <button id="stopScrapingButton" class="Button-Page-Small-r">Przerwij scrapowanie</button>
        </div>
        <div class="order-upper-box">
            <div class="chart-box">
                <div class="chart-container-cam">
                    <div class="progress-bar">
                        <div id="progressBarInner" class="progress-bar-inner"></div>
                    </div>
                </div>
                <div id="progressText" class="mt-2"></div>
                <div id="completionMessage" class="mt-2" style="display: none;"></div>
                <div class="chart-container-cam">
                    <canvas id="speedChart"></canvas>
                </div>
            </div>
        </div>
        <div class="Vert-table">
            <table id="initialTable" class="table-orders">
                <thead>
                    <tr>
                        <th>Offer URL</th>
                        <th>Product IDs</th>
                        <th>Zescrapowane</th>
                        <th>Odrzucone</th>
                        <th>Metoda Scrapowania</th>
                        <th>Liczba Cen</th>
                    </tr>
                </thead>
                <tbody id="scrapingTableBody">
                    @foreach (var item in Model)
                    {
                        var rowId = $"row-{item.OfferUrl}";
                        var rowClass = item.IsRejected && item.IsScraped ? "rejected-row" : item.IsScraped ? "scraped-row" : "unscraped-row";
                        <tr id="@rowId" class="product-row @rowClass">
                            <td>@item.OfferUrl</td>
                            <td>@string.Join(", ", item.ProductIds)</td>
                            <td>@(item.IsScraped ? "Tak" : "Nie")</td>
                            <td>@(item.IsRejected ? "Tak" : "Nie")</td>
                            <td>@item.ScrapingMethod</td>
                            <td>@item.PricesCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <style>
        #speedChart {
            width: 100% !important;
            height: 200px !important;
        }

        .unscraped-row {
            background-color: #d3d3d3; /* Szary kolor */
        }

        .scraped-row {
            background-color: #e0f7fa; /* Lekko niebieski kolor */
        }

        .rejected-row {
            background-color: #ffcccc; /* Lekko czerwony kolor */
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.11/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/manager/ScrapeAll.js"></script>
}
