@model IEnumerable<PriceTracker.Models.ProductClass>

@{
    ViewData["Title"] = "Product List";
    var categories = ViewBag.Categories as List<string>;
    var storeId = ViewBag.StoreId;
    var allProducts = ViewBag.AllProducts as List<PriceTracker.Models.ProductClass>;
    var scrapableProducts = ViewBag.ScrapableProducts as List<PriceTracker.Models.ProductClass>;
    var rejectedProductsCount = ViewBag.RejectedProductsCount;
}

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Vert" data-store-id="@storeId">
    <div class="Vert-full">
        <div class="Order-Container-Title">
            Lista produktów @ViewBag.StoreName
            <div class="form-check-orders">
                <div>
                    <strong>Łączna liczba produktów: </strong><span id="totalProductCount">@allProducts.Count()</span>
                </div>
                <div>
                    <strong>Przypisane do scrapowania: </strong><span id="scrapableProductCount">@scrapableProducts.Count()</span>
                </div>
                <div>
                    <strong>Odrzucone produkty: </strong><span id="rejectedProductCount">@rejectedProductsCount</span>
                </div>
            </div>
        </div>
        <div class="bar-List">
            <form id="scrapingForm" asp-controller="PriceScraping" asp-action="StartScrapingGet" method="get">
                <input type="hidden" name="storeId" value="@storeId" />
                <button type="submit" class="Button-Add-Small">Rozpocznij scrapowanie cen</button>
            </form>
            <form id="priceHistoryForm" asp-controller="PriceHistory" asp-action="Index" method="get">
                <input type="hidden" name="storeId" value="@storeId" />
                <button type="submit" class="Button-Page-Small-r">Ceny</button>
            </form>
            <form id="clearRejectedForm" asp-controller="Store" asp-action="ClearRejectedProducts" method="post">
                <input type="hidden" name="storeId" value="@storeId" />
                <button type="submit" class="Button-Page-Small-b">Oczyść odrzucone produkty</button>
            </form>
        </div>
        <div class="order-upper-box">
            <div class="chart-box">
                <div class="chart-container-cam">
                    <div class="progress-bar">
                        <div id="progressBarInner" class="progress-bar-inner"></div>
                    </div>
                </div>
                <div id="progressText" class="mt-2"></div>
                <div id="completionMessage" class="mt-2" style="display: none;"></div>
                <div class="chart-container-cam">
                    <canvas id="speedChart"></canvas>
                </div>
            </div>
        </div>
        <div class="Vert-table">
            <table class="table-orders">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Kategoria</th>
                        <th>Odrzucony?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr class="product-row" data-category="@product.Category" style="background-color: @(product.IsRejected ? "rgba(255, 0, 0, 0.2)" : "rgba(0, 0, 255, 0.2)")">
                            <td>@product.ProductName</td>
                            <td>@product.Category</td>
                            <td>@(product.IsRejected ? "Tak" : "Nie")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <style>
        #speedChart {
            width: 100% !important;
            height: 200px !important;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.11/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/manager/scrape.js"></script>
}
