@model IEnumerable<PriceSafari.Models.ProductMap>
@{
    ViewData["Title"] = "Zmapowane Produkty";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var storeProducts = ViewBag.StoreProducts as IEnumerable<PriceSafari.Models.ProductClass>;
    var storeId = ViewBag.StoreId;
}

<h2>Zmapowane Produkty dla sklepu @ViewBag.StoreName</h2>


<!-- Formularz Mapowania -->
<form method="post" action="@Url.Action("MapProducts", "ProductMapping", new { storeId })">
    <button type="submit" class="btn btn-primary">Mapuj Produkty</button>
</form>


<div class="row">
 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Zdjęcie</th>
                    <th>Produkt</th>
                    <th>Nazwa EXPORT CENEO</th>
                    <th>ceneo URL</th>
                    <th>URL</th>
                    <th>External ID</th>
                    <th>Numer Katalogowy</th>
                    <th>EAN</th>
                  
                </tr>
            </thead>
            <tbody>
                @foreach (var product in storeProducts)
                {
                    <tr>
                        <td><img src="@product.MainUrl" alt="@product.CatalogNumber" style="max-width: 100px;" /></td>
                        <td>@product.ProductName</td>
                        <td>@product.ExportedNameCeneo</td>
                        <td><a href="@product.OfferUrl" target="_blank">@product.OfferUrl</a></td>
                        <td><a href="@product.Url" target="_blank">@product.Url</a></td>
                        <td>@product.ExternalId</td>
                        <td>@product.CatalogNumber</td>
                        <td>@product.Ean</td>
                      
                    </tr>
                }
            </tbody>
        </table>
  
</div>
