@model PriceTracker.Controllers.ManagerControllers.DatabaseSizeViewModel

@{
    ViewData["Title"] = "Rozmiar Tabel";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Rozmiar Tabel</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa Sklepu</th>
            <th>ID Scrapowania</th>
            <th>Ilość PriceHistories</th>
            <th>Użyta Przestrzeń (MB)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TableSizes)
        {
            <tr>
                <td>@item.StoreName</td>
                <td>@item.ScrapHistoryId</td>
                <td>@item.PriceHistoriesCount</td>
                <td>@item.UsedSpaceMB</td>
            </tr>
        }
    </tbody>
</table>

<h3>Łączna ilość PriceHistories: @Model.TotalPriceHistories</h3>
<h3>Łączna użyta przestrzeń: @Model.TotalUsedSpaceMB MB</h3>
