@model IEnumerable<PriceTracker.Models.PriceHistoryClass>

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@{
    ViewData["Title"] = "Szczegóły Cen";
    var scrapHistory = ViewBag.ScrapHistory as PriceTracker.Models.ScrapHistoryClass;
    var productName = ViewBag.ProductName as string;
    var storeName = ViewBag.StoreName as string;
    var url = ViewBag.Url;
    var setPrice1 = ViewBag.SetPrice1;
    var setPrice2 = ViewBag.SetPrice2;
}

<div class="Vert">
    <div class="Page-Box">
        <div class="price-box-space">
            <div class="price-box-column-name">
                @productName
            </div>
            <a href="@url" class="Button-Action-Small" target="_blank">
                Ceneo
            </a>
        </div>
        <div class="form-check-orders">
            <div>
                <p><strong>Wykonano:</strong> @scrapHistory?.Date</p>

            </div>
        </div>

        <div class="price-box-space">
            <div class="store-section">
                <div class="form-check">
                    <input class="form-check-input sortFilter" type="checkbox" id="sortPrice" checked>
                    <label class="form-check-label" for="sortPrice">Sortuj po cenie</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input sortFilter" type="checkbox" id="sortPosition">
                    <label class="form-check-label" for="sortPosition">Sortuj po pozycji Ceneo</label>
                </div>
            </div>
          
        </div>
       
       
        
        

   
        <div class="Vert-table">
            <table class="table-orders" id="priceTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Sklep</th>
                        <th>Cena</th>
                        <th>Pozycja Ceneo</th>
                        <th>Bid</th>
                        <th>Koszt wysyłki</th>
                        <th>Dostępność</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var priceDifference = item.Price - Model.Min(m => m.Price);
                        var isUniqueBestPrice = item.Price == Model.Min(m => m.Price) && Model.Count(m => m.Price == item.Price) == 1;
                        var isSharedBestPrice = item.Price == Model.Min(m => m.Price) && Model.Count(m => m.Price == item.Price) > 1;
                        var savings = isUniqueBestPrice ? Model.Where(m => m.Price > item.Price).OrderBy(m => m.Price).FirstOrDefault()?.Price - item.Price : (decimal?)null;

                        string getColorClass(decimal priceDifference, bool isUniqueBestPrice, bool isSharedBestPrice, decimal? savings)
                        {
                            if (isUniqueBestPrice && savings >= 0.01m && savings <= setPrice1)
                            {
                                return "prIdeal";
                            }
                            if (isUniqueBestPrice)
                            {
                                return "prToLow";
                            }
                            if (isSharedBestPrice)
                            {
                                return "prGood";
                            }
                            if (priceDifference <= 0)
                            {
                                return "prGood";
                            }
                            else if (priceDifference < setPrice2)
                            {
                                return "prMid";
                            }
                            else
                            {
                                return "prToHigh";
                            }
                        }

                        var colorClass = getColorClass(priceDifference, isUniqueBestPrice, isSharedBestPrice, savings);
                        var shippingCost = item.ShippingCostNum == 0 ? "Free" : $"{item.ShippingCostNum - item.Price} zł";

                        string getAvailabilityClass(int? availabilityNum)
                        {
                            if (availabilityNum == null)
                            {
                                return "BD";
                            }
                            if (availabilityNum == 1)
                            {
                                return "Availability1Day";
                            }
                            if (availabilityNum == 3)
                            {
                                return "Availability3Days";
                            }
                            if (availabilityNum == 7)
                            {
                                return "Availability7Days";
                            }
                            if (availabilityNum == 14)
                            {
                                return "Availability14Days";
                            }

                            return "";
                        }

                        var availabilityClass = getAvailabilityClass(item.AvailabilityNum);

                        <tr class="price-row @colorClass" data-store-name="@item.StoreName" data-price="@item.Price" data-position="@item.Position">
                            <td>
                                <div class="color-bar @colorClass"></div>
                            </td>
                            <td class="store-name">
                                @item.StoreName
                            </td>
                            <td class="store-price">@item.Price zł</td>
                            <td><div class="Position">Msc @item.Position</div></td>
                            <td>
                                @if (item.IsBidding == "1")
                                {
                                    <div class="Bidding">Bid</div>
                                }
                            </td>
                            <td>
                                @if (item.ShippingCostNum == null)
                                {
                                    <div class="BD">Brak danych</div>
                                }
                                else if (item.ShippingCostNum == 0)
                                {
                                    <div class="FreeShipping">Free</div>
                                }
                                else
                                {
                                    <div class="PaidShipping">@shippingCost</div>
                                }
                            </td>
                            <td>
                                <div class="@availabilityClass">
                                    @if (item.AvailabilityNum == 1)
                                    {
                                        <div>Wysyłka w 1 dzień</div>
                                    }
                                    else if (item.AvailabilityNum == 3)
                                    {
                                        <div>Wysyłka w 3 dni</div>
                                    }
                                    else if (item.AvailabilityNum == 7)
                                    {
                                        <div>Wysyłka w 7 dni</div>
                                    }
                                    else if (item.AvailabilityNum == 14)
                                    {
                                        <div>Wysyłka w 14 dni</div>
                                    }
                                    else if (item.AvailabilityNum == null)
                                    {
                                        <div>Brak danych</div>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>



        </div>
        


    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var observedStoreName = "@storeName".toLowerCase();
            var rows = Array.from(document.querySelectorAll(".price-row"));

            rows.forEach(function (row) {
                var storeName = row.getAttribute("data-store-name").toLowerCase();
                if (storeName === observedStoreName) {
                    row.querySelector(".store-name").style.fontWeight = "bold";
                    row.querySelector(".store-price").style.fontWeight = "bold";
                }
            });

            function sortRowsByPrice() {
                rows.sort((a, b) => parseFloat(a.getAttribute("data-price")) - parseFloat(b.getAttribute("data-price")));
                rows.forEach(row => document.querySelector("#priceTable tbody").appendChild(row));
            }

            function sortRowsByPosition() {
                rows.sort((a, b) => parseInt(a.getAttribute("data-position")) - parseInt(b.getAttribute("data-position")));
                rows.forEach(row => document.querySelector("#priceTable tbody").appendChild(row));
            }

            function handleSortChange() {
                if (this.id === "sortPrice" && this.checked) {
                    document.getElementById("sortPosition").checked = false;
                    sortRowsByPrice();
                } else if (this.id === "sortPosition" && this.checked) {
                    document.getElementById("sortPrice").checked = false;
                    sortRowsByPosition();
                }
            }

            document.getElementById("sortPrice").addEventListener("change", handleSortChange);
            document.getElementById("sortPosition").addEventListener("change", handleSortChange);

           
            sortRowsByPrice();
        });
    </script>
}
