@model IEnumerable<PriceTracker.Models.PriceHistoryClass>

@{
    ViewData["Title"] = "Szczegóły Cen";
    var scrapHistory = ViewBag.ScrapHistory as PriceTracker.Models.ScrapHistoryClass;
    var productName = ViewBag.ProductName as string;
    var storeName = ViewBag.StoreName as string; 
}

<h1>@productName</h1>

<div>
    <p><strong>ID Scrapowania:</strong> @scrapHistory.Id</p>
    <p><strong>Data Scrapowania:</strong> @scrapHistory.Date</p>
</div>

<table class="table" id="priceTable">
    <thead>
        <tr>
            <th>Sklep</th>
            <th>Cena</th>
            <th>Koszt wysyłki</th>
            <th>Dostępność</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(ph => ph.Price))
        {
            <tr class="price-row" data-store-name="@item.StoreName">
                <td>@item.StoreName</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.ShippingCostNum</td>
                <td>@item.AvailabilityNum</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var observedStoreName = "@storeName".toLowerCase();
            var rows = document.querySelectorAll(".price-row");
            rows.forEach(function (row) {
                var storeName = row.getAttribute("data-store-name").toLowerCase();
                if (storeName === observedStoreName) {
                    row.style.fontWeight = "bold";
                }
            });
        });
    </script>
}
